
{# birthplace #}
{% if location.type is not null %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'type'|trans }}</div>
        <div class="artist-information-text">{{ location.type }}
        </div>
    </div>

{% endif %}


{% if location.url is not null %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'URL'|trans }}</div>
        <div class="artist-information-text"><a href="{{ location.url }}">{{ location.url }} website</a>
        </div>
    </div>

{% endif %}
