<div role="tabpanel" class="tab-pane" id="statistics">

    <script src="{{ app.request.basepath }}/vendor/highcharts/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/exporting.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/heatmap.js"></script>
    <script src="{{ app.request.basepath }}/js/hinclude.js"></script>
    <script src="{{ app.request.basepath }}/js/highchart_custom_theme.js"></script>




    <script type="text/javascript">
        var chart;

        $(document).ready(function() {
            $('#container-artist-nationalites').highcharts({
                chart: {
                    plotBackgroundColor: null,
                        plotBorderWidth: null,
                        plotShadow: false,
                        type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} Artists (<b>{point.percentage:.1f}%</b>)'
                },
                plotOptions: {
                    pie: {
                    }
                },
                series: [{
                    name: 'City: ',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ dataNumberOfArtistsPerCountry[0]|raw }}
                }]
            });
        });


        $(document).ready(function() {
            $('#container-types-work').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} works (<b>{point.percentage:.1f}%</b>)'
                },
                plotOptions: {
                    pie: {
                    }
                },
                series: [{
                    name: 'City: ',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ detailDataNumberItemTypes[0]|raw }}
                }]
            });
        });


        $(document).ready(function() {
            $('#container-artist-by-gender').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} artists (<b>{point.percentage:.1f}%</b>)'
                },
                plotOptions: {
                    pie: {
                    }
                },
                series: [{
                    name: 'Country: ',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ genderStatsStatisticsFormat|json_encode|raw }}
                }]
            });
        });
    </script>

    <h3 class="chart-header" data-collapse="container-artist-nationalites"><span class="chartsymbol">+</span>Nationalities of Artists<span class="charttypeTitle">(Bar Chart)</span></h3>
    <div class="collapse" id="container-artist-nationalites" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <h3 class="chart-header" data-collapse="container-artist-by-gender"><span class="chartsymbol">+</span>Gender of Artists<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-artist-by-gender" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <h3 class="chart-header" data-collapse="container-types-work"><span class="chartsymbol">+</span>Types of Exhibited Works<span class="charttypeTitle">(Bar Chart)</span></h3>
    <div class="collapse" id="container-types-work" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <script src="{{ app.request.basepath }}/js/collapseChart.js"></script>
</div>