<!doctype html>
<html class="no-js" lang="{{ app.request.getLocale() }}"
      prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile# place: http://ogp.me/ns/place# books: http://ogp.me/ns/books#">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>
        {% if pageTitle is defined %}
            {{ pageTitle }} |
        {% endif %}
        {{ siteName|trans }}
        </title>

        {% if pageMeta is defined %}
            {% if pageMeta.og is defined %}
                {% for prop, val in pageMeta.og %}
                    {% if val is iterable %}
                        {% for single_val in val %}
        <meta property="{{ prop }}" content="{{ single_val }}">
                        {% endfor %}
                    {% else %}
        <meta property="{{ prop }}" content="{{ val }}">
                    {% endif %}
                {% endfor %}
                {% if pageMeta.og['og:url'] is defined %}
        <link rel="canonical" href="{{ pageMeta.og['og:url'] }}">
                {% endif %}
            {% endif %}
            {% if pageMeta.twitter is defined %}
                {% for prop, val in pageMeta.twitter %}
                    {% if val is iterable %}
                        {% for single_val in val %}
        <meta name="{{ prop }}" content="{{ single_val }}">
                        {% endfor %}
                    {% else %}
        <meta name="{{ prop }}" content="{{ val }}">
                    {% endif %}
                {% endfor %}
            {% endif %}
            {% if pageMeta.jsonLd is defined %}
        <script type="application/ld+json">
            {{ pageMeta.jsonLd|json_encode|raw }}
        </script>
            {% endif %}
        {% elseif pageTitle is defined %}
        <meta property="og:title" content="{{ pageTitle }}">
        {% endif %}

        <script src="{{ app.request.basepath }}/js/jquery-2.2.3.min.js"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/bootstrap-3.3.7-dist/css/bootstrap.min.css">

        <!-- webflow css -->
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/normalize.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/nouislider.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/webflow.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/fwf.webflow.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/tipr.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/custom.css">
        <link rel="stylesheet" href="{{ app.request.basepath }}/css/datatables-responsive.min.css">



        <!-- Latest compiled and minified JavaScript -->
        <script src="{{ app.request.basepath }}/vendor/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>


        <!-- important for async loading of elements -->
        <script src="{{ app.request.basepath }}/js/hinclude.js"></script>
        <script src="{{ app.request.basepath }}/js/collapseChart.js"></script>
        <script src="{{ app.request.basepath }}/js/wNumb.js"></script>
        <script src="{{ app.request.basepath }}/js/nouislider.js"></script>
        <script src="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.js"></script>





        {% include 'AppBundle:Shared:stylesheets.html.twig' %}

        <script>
        $(document).ready(function() {
            $(window).scroll(function() {
                if ($(this).scrollTop() > 100) {
                    $('#scroll').fadeIn();
                } else {
                    $('#scroll').fadeOut();
                }
            });
            $('#scroll').click(function() {
                $('html, body').animate({ scrollTop: 0 }, 600);
                return false;
            });

            $('.w-nav-button').on('click', function() {
                if ($('.w-nav[data-collapse="medium"] .w-nav-menu').css('display') === 'none'){
                    $('.w-nav[data-collapse="medium"] .w-nav-menu').show();
                } else {
                    $('.w-nav[data-collapse="medium"] .w-nav-menu').hide();
                }
            });

        });
        </script>
        {% block head %}{% endblock %}
    </head>

    <body role="document" class="body route-{{ app.request.get('_route') | replace({'_' : '-'}) }}">
        <a href="#" id="scroll" style="display: none;"><span></span></a>

        {# new header #}
        <div data-collapse="medium" data-animation="default" data-duration="400" class="navbar w-nav">
            <div class="w-container navigation-container">
                <nav role="navigation" class="nav-menu w-nav-menu">
                    {{ knp_menu_render('main', { 'currentClass': 'active', 'template': 'Base/knp_menu_new_design.html.twig' }) }}
                </nav>
                <div class="branding">
                    <a href="{{ path('home') }}" class="brand w-nav-brand">
                        <div class="text-block">{{ siteName|trans }}</div>
                    </a>
                    <div class="w-nav-button">
                        <div class="w-icon-nav-menu"></div>
                    </div>
                </div>
            </div>
        </div>



        {% block contenttop %}
        {#% embed 'Base/contenttop_skeleton.html.twig' %}{% endembed %#}
        {% endblock %}

        <div class="w-container wrapper">
        {% block body %}{% endblock %}
        </div>

        <footer>
            {#% if twitterSite is not empty %}
            <div id="footer-social" class="container-fluid">
                <div class="row">
                    <div class="col-xs-12" style="z-index: 1; text-align: center">
                    <a class="twitter" target="_blank" href="https://twitter.com/@{{ twitterSite }}" title="@{{ twitterSite }}"> </a>
                    </div>
                </div>
            </div>
            {% endif %#}
            <div id="footer-navigation" class="container">
                <div class="row">
                    {#
                    <div class="col-xs-12 col-sm-8" style="z-index: 1">
                        {{ knp_menu_render('footer-main', { 'currentClass': 'active', 'template': 'Base/knp_menu.html.twig' }) }}-->
                    </div>
                     #}
                    <div id="footer-univie" class="col-sm-4">
                        <a href="https://kunstgeschichte.univie.ac.at/ueber-uns/mitarbeiterinnen/professoreninnen/rosenberg-raphael/" target="_blank">
                            <img src="{{ app.request.basepath }}/img/Uni_Logo_2016.png" style="width: 185px; height: auto" alt="Universität Wien" />
                        </a>
                    </div>
                    <div id="footer-fwf" class="col-sm-4">
                        <a href="http://pf.fwf.ac.at/de/wissenschaft-konkret/project-finder/40238" target="_blank">
                            <img src="{{ app.request.basepath }}/img/fwf-logo-color-transparent.gif" style="width: 165px; height: auto; margin-top: 7px" alt="FWF - Der Wissenschaftsfond." />
                        </a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="{{ app.request.basepath }}/vendor/highcharts/modules/export-data.js"></script>
        <script src="{{ app.request.basepath }}/vendor/highcharts/modules/heatmap.js"></script>
        <script src="{{ app.request.basepath }}/js/tipr.min.js"></script>

        <script>
            $.fn.dataTable.Responsive.breakpoints = [
                { name: 'desktop', width: Infinity },
                { name: 'tablet',  width: 1024 },
                { name: 'fablet',  width: 768 },
                { name: 'phone',   width: 480 }
            ];
        </script>

        {% if gaTracking is not empty %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122763666-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', '{{ gaTracking }}', { 'anonymize_ip': true });
        </script>
        {% endif %}
    </body>
</html>
