 <script src="{{ app.request.basepath }}/vendor/highcharts/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/exporting.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/heatmap.js"></script>
    {# need to implement this here, since it is otherwise already initialized #}
    <script src="{{ app.request.basepath }}/js/collapseChart.js"></script>

 <!--
    <script src="{{ app.request.basepath }}/vendor/highcharts/themes/sand-signika.js"></script>
    -->

    <script type="text/javascript">
        var chart;

        $(document).ready(function() {
            console.log('its loaded');
            Highcharts.chart('container-country', {

                chart: {
                    type: 'heatmap',
                    marginTop: 40,
                    marginBottom: 80,
                    plotBorderWidth: 1
                },


                title: {
                    text: " "
                },

                xAxis: {
                    categories: {{ nationalities|json_encode|raw }}
                },

                yAxis: {
                    categories: {{ countries|json_encode|raw }},
                    title: null
                },

                colorAxis: {
                    min: 0,
                    minColor: '#FFFFFF',
                    maxColor: Highcharts.getOptions().colors[0]
                },

                legend: {
                    align: 'right',
                    layout: 'vertical',
                    margin: 0,
                    verticalAlign: 'top',
                    y: 25,
                    symbolHeight: 280
                },

                tooltip: {
                    formatter: function () {
                        return  'In exhibitions in ' + this.series.yAxis.categories[this.point.y]
                            + ', ' + this.point.total + ' catalogue entries (' + Highcharts.numberFormat(this.point.value, 1) + '%)  '
                            + ' are from ' + this.series.xAxis.categories[this.point.x] + '-artists';
                    }
                },

                series: [{
                    name: 'Sales per employee',
                    borderWidth: 1,
                    data: {{ data|json_encode|raw }},
                    dataLabels: {
                        format: '{point.value:.1f}',
                        enabled: true,
                        color: '#000000'
                    }
                }]

            });
            {#% for cc, seriesData in data %}
            $('#container-{{ cc }}').highcharts({
                chart: {
                    // renderTo: 'container',
                    type: 'pie'
                },
                title: {
                    text: '{{ cc }} Exhibitions'
                },
                tooltip: {
                    headerFormat: '', // '<b>{series.name}</b><br />',
                    pointFormat: '{point.y} catalogue entries from {point.name}-artists ({point.percentage:.1f} %)'
                },

                series: [
                {
                    data: {{ seriesData|json_encode|raw }}
                }
                ]
            });
            {% endfor %#}
        });
    </script>

    {#
    <div class="row">
        {% for cc, seriesData in data %}
        <div class="col col-sm-4">
            <div id="container-{{ cc }}" style="width: 100%;"></div>
        </div>
        {% endfor %}

    </div>
    #}


 <h3 class="chart-header" data-collapse="container-country"><span class="chartsymbol">+</span>Artists’ Nationality by exhibing country<span class="charttypeTitle">(Matrix)</span></h3>

 <div class="collapse" id="container-country" style="width: 100%; margin: 0;"></div>
