{% import 'Shared/highcharts.html.twig' as highcharts %}
<h3 class="chart-header" data-collapse="{{ container|raw }}"><span class="chartsymbol">+</span>Gender Distribution<span class="charttypeTitle">(Pie Chart)</span></h3>
<div class="collapse"  id="{{ container|raw }}" style="width: 100%;  height: 400px; margin: 0 auto"></div>

<script type="text/javascript">
    Highcharts.chart('{{ container|raw }}', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: ' ',
        },
        subtitle: {
            text: '{{ total }} artists'
        },
        tooltip: {
            pointFormat: '<b>{point.percentage:.1f}%</b> ({point.y} artists)'
        },
        series: [{
            name: 'Number of Artists',
            type: 'pie',
            innerSize: '50%',
            data: {{ data|raw }}
        }],
        plotOptions: {
            pie: {
            },
            series: {
                {#
                // currently disabled since numbers don't match due to persons without exhibition
                // would need a new Person-filter: exclude without exhibition
                events: {
                    click: function (event) {
                        var gender = event.point.id;
                        if (gender) {
                            var url = '{{ path('search-index', { 'entity': 'Person', 'filter': filter })|raw }}';
                            url += '&filter[person][gender]=' + encodeURIComponent(gender);

                            window.open(url);
                        }
                    }
                }
                #}
            },
        },
        exporting: {
            csv: {
                {{ highcharts.pieChartCategoryHeader('Gender') }}
            }
        }
    });
</script>
