{% extends 'Base/base.html.twig' %}

{% block head %}
    {% import 'Shared/highcharts.html.twig' as highcharts %}
    {{ highcharts.head() }}

    <script type="text/javascript">
        $(document).ready(function() {
            {{ chart|raw }}
        });
    </script>
{% endblock %}

{% block chart %}
    {% import 'Shared/highcharts.html.twig' as highcharts %}

    $('#{{ container|raw }}').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: ' '
        },
        tooltip: {
            pointFormat: '{point.y} artists (<b>{point.percentage:.1f}%</b>)'
        },
        series: [{
            name: 'Number of Artists',
            type: 'pie',
            innerSize: '50%',
            data: {{ data|json_encode|raw }}
        }],
        plotOptions: {
            pie: {
            },
            series: {
                events: {
                    click: function (event) {
                        var gender = event.point.name;
                        if (gender) {
                            // TODO: pass event.point.id along instead
                            if ('male' == gender) {
                                gender = 'M';
                            }
                            else if ('female' == gender) {
                                gender = 'F';
                            }
                            var url = '{{ path('search-index', { 'entity': 'Person' }) }}';
                            url += '&filter[exhibition][exhibition][]={{ exhibitionId }}';
                            url += '&filter[person][gender]=' + encodeURIComponent(gender);

                            window.open(url);
                        }
                    }
                }
            }
        },
        exporting: {
            csv: {
                {{ highcharts.pieChartCategoryHeader('Gender') }}
            }
        }
    });
{% endblock %}

{% block body %}
    <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>
{% endblock %}
