{% extends 'Base/base.html.twig' %}
{% block head %}
    <script src="{{ app.request.basepath }}/vendor/highcharts/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/exporting.js"></script>
    <!--
    <script src="{{ app.request.basepath }}/vendor/highcharts/themes/sand-signika.js"></script>
    -->
    <script type="text/javascript">
        var chart, chart2;

        $(document).ready(function() {
            chart = new Highcharts.Chart({
                chart: {
                    renderTo: 'container',
                    defaultSeriesType: 'column'
                    /*, margin: [ 50, 50, 100, 80] */
                },
                title: {
                    text: 'Works and Exhibitions'
                },
                subtitle: {
                    text: '' // {{ subtitle|raw }}
                },
                xAxis: {
                    categories: {{ person_categories|raw }},
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                        }
                    }
                },
                yAxis: [
                    {
                        title: {
                            text: 'Exhibitions'
                        },
                        min: 0,
                        // max: 600
                        opposite: true
                    },
                    {
                        min: 0,
                        // max: 25,
                        title: {
                            text: 'Works'
                        }
                    }
                ],
                tooltip: {
                    formatter: function() {
                        // console.log(this);
                        var label;
                        if (this.series.name == 'Exhibitions') {
                            label = 'exhibitions';
                        }
                        else if (this.series.name == 'Number of Exhibition Displays') {
                            label = 'catalogue entries';
                        }
                        else {
                            label = this.series.name + ' works';
                        }
                        return '<b>'
                            + Highcharts.numberFormat(this.y, 0)
                            + ' '
                            + label
                            + ' by '
                            + this.point.name
                            + '</b>';
                    }
                },
                plotOptions: {
                    series: {
                        stacking: 'normal',
                        borderWidth: 1,
                        groupPadding: 0,
                        pointPadding: 0
                    }
                },
                series: [
                    {% for style in styles %}
                    {
                        marker: {
                            enabled: false
                        },
                        yAxis: 1,
                        name: '{{ style }}',
                        data: {{ works[style]|json_encode|raw }},
                        stack: 'works',
                    },
                    {% endfor %}
                    {
                        // type: 'line',
                        yAxis: 0,
                        name: 'Exhibitions',
                        data: {{ exhibitions|raw }},
                        stack: 'exhibitions'
                    },
                    {
                        type: 'line',
                        //dashStyle: 'Solid',
                        marker: {
                            enabled: false
                        },
                        yAxis: 1,
                        name: 'Number of Exhibition Displays',
                        data: {{ works_exhibited|raw }},
                        // stack: 'death',
                        color: '#303030'
                    }
                ]
            });

            chart2 = new Highcharts.Chart({
                chart: {
                    renderTo: 'container2',
                    defaultSeriesType: 'column'
                    /*, margin: [ 50, 50, 100, 80] */
                },
                title: {
                    text: 'Works and Exhibitions'
                },
                subtitle: {
                    text: '' // {{ subtitle|raw }}
                },
                xAxis: {
                    categories: {{ place_categories|raw }},
                    labels: {
                        rotation: -45,
                        align: 'right',
                        style: {
                            font: 'normal 13px Verdana, sans-serif'
                        }
                    }
                },
                yAxis: [
                    {
                        title: {
                            text: 'Exhibitions'
                        },
                        min: 0,
                        // max: 600
                        opposite: true
                    },
                    {
                        min: 0,
                        // max: 25,
                        title: {
                            text: 'Works'
                        }
                    }
                ],
                tooltip: {
                    formatter: function() {
                        // console.log(this);
                        var label;
                        if (this.series.name == 'Number of Works') {
                            label = 'works';
                            //code
                        }
                        else if (this.series.name == 'Number of Exhibition Displays') {
                            label = 'catalogue entries'
                        }
                        else {
                            label = 'exhibitions';
                        }
                        return '<b>'
                            + Highcharts.numberFormat(this.y, 0)
                            + ' '
                            + label
                            + ' in '
                            + this.point.name
                            + '</b>';
                    }
                },
                plotOptions: {
                    series: {
                        stacking: 'normal',
                        borderWidth: 1,
                        groupPadding: 0,
                        pointPadding: 0
                    }
                },
                series: [
                    {
                        //dashStyle: 'Solid', // 'shortdot',
                        marker: {
                            enabled: false
                        },
                        yAxis: 1,
                        name: 'Number of Works',
                        data: {{ place_works|raw }},
                        stack: 'works',
                        color: '#e6550d'
                    },
                    {
                        // type: 'line',
                        yAxis: 0,
                        name: 'Exhibitions',
                        data: {{ place_exhibitions|raw }},
                        stack: 'exhibitions'
                    } /*,
                    {
                        type: 'line',
                        //dashStyle: 'Solid',
                        marker: {
                            enabled: false
                        },
                        yAxis: 1,
                        name: 'Number of Exhibition Displays',
                        data: {{ place_works_exhibited|raw }},
                        // stack: 'death',
                        color: '#303030'
                    }
                    */
                ]
            });
        });
    </script>
{% endblock %}

{% block body %}
    <h3>By Artist</h3>
    <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>
    <h3>By Place</h3>
    <div id="container2" style="width: 100%; height: 400px; margin: 0 auto"></div>
    <table class="table table-striped">
    <thead>
    <tr>
        <th>&nbsp;</th>
        {% for person in persons_by_place_persons %}
        <th>{{ person }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% for place, persons_by_place in persons_by_place %}
    <tr>
        <td>{{ place }}</td>
        {% for person in persons_by_place_persons %}
        <td>
            {% if persons_by_place[person] is not empty %}
                {#{ dump(persons_by_place[person])}#}
                {{ persons_by_place[person]['total_exhibition'] }} exhibition{% if persons_by_place[person]['total_exhibition'] != 1 %}s{% endif %}<br/>
                {{ persons_by_place[person]['total_item'] }} work{% if persons_by_place[person]['total_item'] != 1 %}s{% endif %}
                ({{ persons_by_place[person]['Figurative'] }} fig.,
                {{ persons_by_place[person]['Abstracted'] }} absted.,
                {{ persons_by_place[person]['Abstract'] }} abst.)
            {% endif %}
        </th>
        {% endfor %}
    </tr>
    {% endfor %}
    </tbody>
    </table>
{% endblock %}