{% extends 'Base/base.html.twig' %}
{% block head %}
    {% import 'Shared/highcharts.html.twig' as highcharts %}
    {{ highcharts.head() }}

    <script type="text/javascript">
        $(document).ready(function() {
            {{ chart|raw }}
        });
    </script>
{% endblock %}

{# chart seperated so we can reuse it in per exhibition stats #}
{% block chart %}
    {% import 'Shared/highcharts.html.twig' as highcharts %}
    Highcharts.chart('{{ container|raw }}', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: 0,
            plotShadow: false
        },
        title: {
            text: ' ',
        },
        subtitle: {
            text: '{{ total }} catalogue entries'
        },
        tooltip: {
            pointFormat: '{point.y} cat. entries (<b>{point.percentage:.1f}%</b>)'
        },
        series: [{
            name: 'Number of Catalogue Entries',
            type: 'pie',
            innerSize: '50%',
            data: {{ data|raw }}
        }],
        plotOptions: {
            pie: {
            },
            series: {
                events: {
                    click: function (event) {
                        var id = event.point.id;
                        if (id) {
                            var url = '{{ path('search-index', { 'entity': 'ItemExhibition' }) }}';
                            url += '&filter[exhibition][exhibition][]={{ exhibitionId }}';
                            url += '&filter[catentry][type][]=' + encodeURIComponent(id);

                            window.open(url);
                        }
                    }
                }
            }
        },
        exporting: {
            csv: {
                {{ highcharts.pieChartCategoryHeader('Type') }}
            }
        }
    });
{% endblock %}

{% block body %}
    <div id="container" style="width: 100%; height: 400px; margin: 0 auto"></div>
{% endblock %}