{% extends 'Base/base.html.twig' %}

{% block head %}
    <script src="{{ app.request.basepath }}/vendor/highcharts/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/exporting.js"></script>
    <!--
    <script src="{{ app.request.basepath }}/vendor/highcharts/themes/sand-signika.js"></script>
    -->
    <script type="text/javascript">
    $(document).ready(function() {
        new Highcharts.Chart({
            chart: {
                type: 'scatter',
                renderTo: 'container',
                zoomType: 'xy'
            },
            title: {
                text: 'Number of Page Views in {{ lang }}.wikipedia.org (Past Year)'
            },
            yAxis: {
                title: {
                    enabled: true,
                    text: 'Number Page Views (Past Year)'
                },
                min: 10,
                startOnTick: true,
                endOnTick: true,
                showLastLabel: true,
                type: 'logarithmic'
            },
            xAxis: {
                title: {
                    text: 'Number of Exhibitions'
                },
                labels: {
                    // enabled: false
                    formatter: function() {
                        return this.value;
                    }
                }
            },
            legend: {
                enabled: false
            },
            tooltip: {
                formatter: function () {
                    return '<a target="_blank" href="{{ path('person') }}/' + decodeURIComponent(this.point.id) + '"><b>'
                      + decodeURIComponent(this.point.name) + '</b></a><br>'
                      + this.point.num + ' exhibitions, ' + this.y + ' page views';
                },
                hideDelay: 1500, // default is 500
                useHTML: true
            },
            plotOptions: {
                scatter: {
                    marker: {
                        radius: 3,
                        states: {
                            hover: {
                                enabled: true,
                                lineColor: 'rgb(100,100,100)'
                            }
                        }
                    }
                }
            },
            series: [{
                dataLabels: {
                    enabled: false,
                    style: {
                        color: 'black',
                    }
                },
                turboThreshold: 5000,
                data: {{ data|raw }},
                color: 'rgba(128, 133, 233, .7)'
            }]
        });
    });
    </script>
{% endblock %}

{% block body %}
    <h1>Wikipedia-Statistics</h1>
    <form action="{{ path('person-popularity') }}" method="GET">
        <select name="lang" onchange="this.form.submit()">
            <option value="en"{% if lang == 'en' %} selected{% endif %}>English</option>
            <option value="fr"{% if lang == 'fr' %} selected{% endif %}>French</option>
            <option value="de"{% if lang == 'de' %} selected{% endif %}>German</option>
        </select>
    </form>
    <div id="container" style="width: 100%;  height: 400px; margin: 0 auto;"></div>
    <h2>Artists</h2>
    {% for person in persons %}
        {{ person.name }}: {{ person.y }} page views ({{ person.num }} exh.)<br />
    {% endfor %}
{% endblock %}
