    <script type="text/javascript">
        $(document).ready(function() {
            new Highcharts.Chart({
                chart: {
                    renderTo: '{{ container|raw }}',
                    defaultSeriesType: 'column'
                },
                title: {
                    text: ' '
                },
                xAxis: {
                    title: {
                        enabled: false, // only for export-data.js
                        text: 'Age'
                    },
                    categories: {{ categories|raw }},
                    labels: {
                        rotation: 0,
                        align: 'right'
                    }
                },
                yAxis: [
                    {
                        title: {
                            text: 'Count'
                        },
                        min: 0,
                        tickInterval: 1,
                        endOnTick: false
                    },
                ],
                tooltip: {
                    formatter: function() {
                        return '<b>'
                            + Highcharts.numberFormat(this.y, 0)
                            + ('Exhibition Appearances (Deceased)' == this.series.name ? ' deceased' : ' living')
                            + ' persons exhibiting at age '
                            + this.point.name
                            + '</b>';
                    }
                },
                plotOptions: {
                    series: {
                        stacking: 'normal',
                        borderWidth: 1,
                        groupPadding: 0,
                        pointPadding: 0,
                        events: {
                            click: function (event) {
                                var url = '{{ path('exhibition-stats-info', { 'id': exhibition_id }) }}?chart={{ container|raw }}';
                                url += '&series=' + encodeURIComponent(this.name);
                                url += '&point=' + encodeURIComponent(event.point.name);

                                $('#detailModal').modal('show');
                                $('#detailModal').find('.modal-body').load(url);
                            }
                        }
                    },
                },
                series: [
                    {
                        yAxis: 0,
                        name: 'Exhibition Appearances (Living)',
                        data: {{ age_at_exhibition_living|raw }},
                        stack: 'age',
                        borderColor: '#3683BA',
                        borderWidth: 2,
                        borderRadius: 3,
                        color: '#3683BAbf'
                    },
                    {
                        yAxis: 0,
                        name: 'Exhibition Appearances (Deceased)',
                        data: {{ age_at_exhibition_deceased|raw }},
                        stack: 'age'
                    }
                ]
            });
        });
    </script>

{# chart seperated so we can reuse it in per exhibition stats #}


<h3 class="chart-header" data-collapse="{{ container|raw }}"><span class="chartsymbol">+</span>Artists’ Age at Exhibition Start<span class="charttypeTitle">(Bar Chart)</span></h3>
<div class="collapse"  id="{{ container|raw }}" style="width: 100%;  height: 400px; margin: 0 auto"></div>
