{% extends 'Base/base.html.twig' %}

{% block body %}
    <div class="container-6 w-container">
        <div class="main-stats-container">
            <h2 class="heading-2">Browse</h2>
            <div class="div-block-6">
                <div class="main-stats-single-container"><a href="{{ path('exhibition-index') }}" class="list-link-menu">Exhibitions</a>
                    <div class="main-stat-number">{{ counts['Exhibition'] }} Exhibitions</div>
                </div>
                <div class="main-stats-single-container"><a href="{{ path('person-index') }}" class="list-link-menu">Artists</a>
                    <div class="main-stat-number">{{ counts['Person'] }} Artists</div>
                </div>
                <div class="main-stats-single-container"><a href="{{ path('search-index', { 'entity' : 'ItemExhibition' }) }}" class="list-link-menu">Catalogue Entries</a>
                    <div class="main-stat-number">{{ counts['ItemExhibition'] }} Catalogue Entries</div>
                </div>
                <div class="main-stats-single-container"><a href="{{ path('venue-index') }}" class="list-link-menu">Venues</a>
                    <div class="main-stat-number">{{ counts['Venue'] }} Venues</div>
                </div>
                <div class="main-stats-single-container"><a href="{{ path('organizer-index') }}" class="list-link-menu">Organizing Bodies</a>
                    <div class="main-stat-number">{{ counts['Organizer'] }} Organizing Bodies</div>
                </div>
                <div class="main-stats-single-container"><a href="{{ path('place-index') }}" class="list-link-menu">Exhibiting Cities</a>
                    <div class="main-stat-number">{{ counts['Place'] }} Cities</div>
                </div>
            </div>
        </div>

        <div class="advanced-search-header" style="background-image: url('{{ app.request.basepath }}/img/composition-iv-1911.jpg')">
            <a href="{{ path('search-index') }}" class="button w-button">ADVANCED SEARCH</a>
        </div>

        {% if posts is not empty %}
        <h2 class="heading-2">Latest Blog Posts</h2>
        <div class="blog-posts-container">
            {% for post in posts %}
                <a href="{{ path('blog', { 'slug': post['slug'] }) }}" class="blog-post-single-container">
                    <div class="blog-image" style="background-image: url('{{ post['media_url']['source_url'] }}')"></div>
                    <div class="blog-text-container">
                        <div class="blog-categories">{{ date(post['date'])|date('d.m.Y')}}</div>
                        <h3 class="blog-header">{{ post['title']['rendered']|raw }}</h3>
                        <p class="paragraph">{{ post['excerpt']['rendered']|raw }}</p>
                    </div>
                </a>
            {% endfor %}
        </div>
        {% if hasMore %}
            <div><a href="{{ path('blog-index') }}#{{ hasMore }}">More...</a></div>
        {% endif %}
        {% endif %}
    </div>
{% endblock %}
