{% extends 'Base/base.html.twig' %}

{% block body %}
    <div class="w-container">
        <h2 class="heading small">Our Project</h2>
    </div>

    <div class="contentcontainer w-container">
        <p class="artist-text">Within just a few years, before World War I, the design, and indeed the very notion of (Western) painting, changed radically. The history of early 20th century European modern art has often been written as the development of new forms and “isms”. Conversely, little systematic research has been done about how those forms and “isms” were presented to and received by the public, and whether and how painters used specific strategies to gain an audience. In the 19th century, exhibitions had become the primary place to initiate discussions about advances in art and this seems also to be the case after 1900. The project aims to study the history of a crucial moment of modern European painting from the perspective of exhibitions. In order to manage an exhaustive research we will focus on a period of 11 years, from 1905 to 1915. This time frame covers a particular density of avant-garde movements such as Fauvism (the term originates 1905 at the <a href="{{ path('exhibition', { 'id': 30}) }}">Salon d’Automne in Paris</a>), Expressionism, Cubism, Futurism, Rayonism, Orphism, Suprematism (springing up in the <a href="{{ path('exhibition', { 'id': 732}) }}">December 1915 exhibition 0,10 in St. Petersburg</a>, already in the middle of a World War). The first step of the project is the creation of a database of exhibitions performed in this period, where modern European painters participated. The database will be as exhaustive as possible and open access. Within the time frame it will serve to outline: 1. the geography and networks of modern painting, 2. the chronology and geography of exhibiting new forms and propagating “isms”, and 3. the exhibition strategies of modern painters.</p>
    </div>

    <div class="w-container">
        <h2 class="heading small">Team</h2>
    </div>
    <div class="container-5 w-container">
        <h4 class="heading-team-member-main">Principal Investigator</h4>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/rosenberg_thumb.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Raphael Rosenberg</h4>
                <p class="artist-text"><a href="http://kunstgeschichte.univie.ac.at/en/about-us/staff/professors/rosenberg-raphael/">Raphael Rosenberg</a> is the founder and PI of this project and professor at the <a href="http://kunstgeschichte.univie.ac.at/en/">Department of Art History</a> at the University of Vienna. His research focuses are the sculpture of the Italian Renaissance, art of the 19th and early 20th centuries, the history of art literature and art reception, and cognitive research in art history (<a href="https://kunstgeschichte.univie.ac.at/en/forschungsprojekte/crea/">Lab for Cognitive Research in Art History: CReA</a>).</p>
            </div>
        </div>
        <h4 class="heading-team-member-main">Project Members</h4>

        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/ahmad.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Walid Ahmad</h4>
                <p class="artist-text">Walid Ahmad is a data scientist for the research project. In this
                    capacity, he develops computer vision and natural language processing
                    models to automate the extraction and categorization of relevant
                    entities from catalogs. Walid has worked in multiple data science and
                    machine learning roles, and completed his studies in Applied Mathematics
                    at Columbia University (BSc) and the University of Oxford (MSc).</p></div>
        </div>

        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/bartosch_thumb.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Christina Bartosch</h4>
                <p class="artist-text"><a href="http://kunstgeschichte.univie.ac.at/ueber-uns/mitarbeiterinnen/wissenschaftliche-mitarbeiterinnen/bartosch-christina/">Christina Bartosch</a> is a founding member of the research project and co-author of the grant application at the Austrian Science Fund. Within the project her responsibility lies in the structural planning and realisation of scientific and academic output. She studied History of Art at Paris IV-Sorbonne University in Paris (BA) and at University College London (UCL) in London (MA), and afterwards researched the history of Austria at the Venice Biennale (published in Sharp, Jasper (ed.), <em>Austria and the Venice Biennale 1895-2013</em>, Nürnberg 2013), giving her a specialisation in exhibition history. In her PhD, that she is writing as part of the research project, she focuses on exhibition strategies of abstract working artists between 1908 and 1915.</p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/Burckhardt-Daniel-sw.jpg" srcset="{{ app.request.basepath }}/img//Burckhardt-Daniel-sw.jpg 500w, {{ app.request.basepath }}/img//Burckhardt-Daniel-sw.jpg 800w, {{ app.request.basepath }}/img//Burckhardt-Daniel-sw.jpg 1080w, {{ app.request.basepath }}/img//Burckhardt-Daniel-sw.jpg 1587w" sizes="(max-width: 479px) 44vw, 100px" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Daniel Burckhardt</h4>
                <p class="artist-text">Daniel Burckhardt is a research assistant at the Institute for the History of the German Jews in Hamburg and the German Historical Institute Washington DC. He received a diploma in Mathematics from ETH Zurich and a M.A. in History of Science of Technology from TU Berlin. He held technical positions in various Digital History projects such as H-Soz-Kult, Pictorial Atlas: Art in the GDR and Clarin-D and developed the collection management system for the Exhibitions 05-15 project.<br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/jenny_thumb.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Tanja Jenni</h4>
                <p class="artist-text">Tanja Jenni is a founding member of the research project as well as co-author of the grant application at the Austrian Science Fund. She studies History of Art at the University of Vienna. Her research focuses on art criticism and the public reception of early 20th century avantgardes.</p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/Nirmalie_Foto_fertig.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Nirmalie Mulloli</h4>
                <p class="artist-text"><a href="https://ufind.univie.ac.at/de/person.html?id=75095">Nirmalie Mulloli</a> is the Database Development Manager. In this capacity she has been responsible for planning and managing the ongoing database construction from start to finish, including retrieval of archived data from Europe and North America, hiring and managing the project team to conduct technical back-end work, and also managing the construction of a user-friendly front-end interface. She is responsible for developing and implementing the operational strategy of the project, maintaining oversight of multi-year budgets and fostering partnerships with art institutions, museums, and libraries. Nirmalie completed her studies at the University of Durham and at Oxford University in the UK.</p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/white.png" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Nikolaus Redl</h4>
                <p class="artist-text">Nik studies Mechanical Engineering - Management at the Vienna University of Technology. In the project he focused on the technical implementation of the front-end.<br></p>
            </div>
        </div>


        <h4 class="heading-team-member-main">Past contributors<br></h4>

        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/auer_thumb.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Theresa Auer</h4>
                <p class="artist-text">Theresa Auer studied fine arts and cultural sciences at the University of Art and Design in Linz, Austria and is a graduate of the Diplomatic Academy of Vienna’s 53rd Diploma Programme. Her main focus in the research project lies on exhibitions in France and Belgium.</p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/doehring_thumb.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Marei Alexandra Döhring</h4>
                <p class="artist-text">Marei Alexandra Döhring studied History of Art at the Ruprecht-Karls-University in Heidelberg and the University of Vienna. Her primary research centers upon European artist frames of the 19th and 20th century.<br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/Pol_Exhibitions-Project_PE-296x300.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Pol Edinger</h4>
                <p class="artist-text">Pol Edinger has a Bachelor’s degree in Comparative Literature from the University of Vienna and is currently enrolled in the Master programme in Art History at the University of Vienna. Within the project he focused on exhibitions in Great Britain, Germany and France.<br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/fischnaller_thumb-1.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Isabel Fischnaller</h4>
                <p class="artist-text">Isabel Fischnaller earned her Bachelor’s Degree in Art History – Archeology and Archival Studies at the University of Florence (Università degli Studi di Firenze). She is currently completing her Master’s degree in Art History at the University of Vienna. Her research interests lie in the iconography and architecture of the Middle-Ages and Italian art of the 20th Century. In the project she concentrated on exhibitions in Austria, Germany and Italy.<br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/hinteregger_thumb.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Vera Hinteregger</h4>
                <p class="artist-text">Vera Hinteregger successfully completed her bachelor’s program at the Deaprtment of Art History and the Department Slavonic Studies at the University of Vienna. She is currently enrolled in her master’s course in Slavonic Studies/Russian and Translation in Literature, Media, Arts at the University of Vienna. Within the research project she focused on exhibitions in Russia.<br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/Els_Foto_klein.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Els van Houtert</h4>
                <p class="artist-text">Els van Houtert is responsible for gathering, translating and processing information from exhibitions in The Netherlands and Spain. Els holds a Bachelor degree in Cultural Anthropology (VU, Free University of Amsterdam) and a Research Masters degree in Religious Studies and Culture (RUG, University of Groningen).<br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/KuGeFestival18_Anna_037_by_Ben_Zika_20180404-kopie-225x300.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Anna-Marie Kroupová</h4>
                <p class="artist-text">Anna-Marie Kroupová holds a double degree in Art History and Russian Studies from the University of Vienna where she is currently enrolled in the Master’s programme in Art History. Her main research interests include central-European art around 1900 and in the medieval period. Within the scope of the research project, she was responsible for acquisition of Czech exhibition catalogues and the processing and correction of the data thereof.<br><br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/mahboub_thumb.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Ekaterina Mahboub</h4>
                <p class="artist-text">Ekaterina Mahboub studies Art History and Archaeological Sciences at the University of Vienna and at the Albert-Ludwigs-University in Freiburg. Within this research project she focused on exhibitions in Russia and Ukraine.<br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/Nora_Fotofertig.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Nora Mészáros</h4>
                <p class="artist-text">Nora Mészáros studies Art History at the University of Vienna. Her focus in the project lies on exhibitions in Hungary, more precisely on revising and making additions to the data.<br><br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/pilling_thumb.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Kirsten Pilling</h4>
                <p class="artist-text">Kirsten Pilling is a student of Art History at the University of Vienna as well as a graduate of the Bachelor’s program Business, Economics and Social Sciences (emphasis: International Business) at the Vienna University of Economics and Business (BSc). Within the research project she focuses on the exhibitions in Germany, the United Kingdom and France.</p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/romanova_thumb.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Irina Romanova</h4>
                <p class="artist-text">Irina Romanova obtained her Bachelor of Arts degree in Art History at the University of Vienna. She is currently enrolled in the Master of Arts program at the department of Art History of the University of Vienna and at the Master of Advanced International Studies program at the Diplomatic Academy of Vienna. She was one of the project’s Russian language.<br><br></p>
            </div>
        </div>
        <div class="team-member-container">
            <div class="member-image-container"><img src="{{ app.request.basepath }}/img/ruttmayer_thumb-1.jpg" alt="" class="image-2"></div>
            <div class="team-member-info">
                <h4 class="heading-team-member">Zita Ruttmayer</h4>
                <p class="artist-text">Zita Ruttmayer studies History of Art and Hungarian Studies at the University of Vienna. In the project she focused on Hungarian and Dutch exhibitions.<br><br></p>
            </div>
        </div>
    </div>
{% endblock %}
