{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}
{% import 'Shared/map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}

    {{ helper.seealso_head_gnd() }}

    {% import 'Shared/datatables.html.twig' as datatables %}
    {{ datatables.head() }}
{% endblock %}

{% block body %}
    {% set numExhibitions = location.exhibitions|length %}
    {% set numOrganizerOf = location.getOrganizerOf()|length %}

    <div class="contentcontainer nopadding w-container">
        <div class="lefthalf">
            <div class="subheader">{% if numExhibitions > 0 %}venue{% endif %}{% if numExhibitions > 0 and numOrganizerOf > 0 %} / {% endif %}{% if numOrganizerOf > 0 %}organizer{% endif %}</div>
            <h1 class="heading">{{ location.nameAppend ? location.nameAppend : location.name }}</h1>
            {% if location.nameAppend is not empty %}
                <h2 style="margin-top: -0.8rem"><span class="small">{{ location.name }}</span></h2>
            {% endif %}
            <div class="artist_information">
                {# load helper part #}
                {% embed "Location/Parts/location-base-information.html.twig" %}
                {% endembed %}
            </div>
        </div>
        <div class="maphalf">
            {% embed "Location/Parts/locationMap.html.twig" %}
            {% endembed %}
        </div>
    </div>

    <div class="contentcontainer w-container">
        <div class="listviewrow">
            {# tabs headers #}
            {% embed "Location/Parts/tabs-header.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% set exhibitionArray = location.exhibitions %}

                {% if location.exhibitions|length > 0 %}
                    {% embed "Location/Parts/tabcontent-exhibitions.html.twig" %}
                    {% endembed %}
                {% endif %}

                {% if location.organizerOf|length > 0 %}
                    {% embed "Location/Parts/tabcontent-organizer.html.twig" %}
                    {% endembed %}
                {% endif %}

                {% set artistsArray = artists %}

                {% embed "Location/Parts/tabcontent-artists.html.twig" %}
                {% endembed %}

                {% embed "Location/Parts/tabcontent-authority.html.twig" %}
                {% endembed %}

                {% if artists|length > 0 %}
                    {% embed "Location/Parts/tabcontent-statistics.html.twig" %}
                    {% endembed %}
                {% endif %}
            </div><!-- .tab-content -->
        </div><!-- .listviewrow -->
    </div><!-- .contentcontainer -->
{% endblock %}
