{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/select2-4.0.3/css/select2.min.css" />
    <script src="{{ app.request.basepath }}/vendor/select2-4.0.3/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#location_filter_location_type').select2();
        });
    </script>
{% endblock %}

{% block body %}

    <div class="w-container">

        <h1 class="heading">{{ pageTitle }}</h1>


        <div class="searchbarcontainer w-form">

            <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                <div class="searchbarinputcontainer">
                    {{ form_rest(form) }}
                </div>
                <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button">
                    <div class="div-block-2"><img src="{{ app.request.basepath }}/img/noun_Arrow-Down_1594877_ffffff.svg" width="75" class="image"></div>
                </div>
            </form>
        </div>
    </div>


    <div class="contentcontainer w-container">
        <div class="listviewrow">

            {# tabs headers #}
            {% embed "Location/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Location/Parts/tabcontent-location-list.html.twig" %}
                {% endembed %}

                {% embed "Location/Parts/tabcontent-map.html.twig" %}
                {% endembed %}

            </div><!-- .tab-content -->
        </div>
    </div>

{% endblock %}
