{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/select2-4.0.3/css/select2.min.css" />
    <script src="{{ app.request.basepath }}/vendor/select2-4.0.3/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#location_filter_location_type').select2();
        });
    </script>
{% endblock %}

{% block body %}

    <div class="w-container">

        <h1 class="heading">{{ pageTitle }}</h1>


        <div class="searchbarcontainer w-form">

            <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                <div class="searchbarinputcontainer">
                    {{ form_rest(form) }}
                </div>
                <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button">
                    <div class="div-block-2"><img src="{{ app.request.basepath }}/img/noun_Arrow-Down_1594877_ffffff.svg" width="75" class="image"></div>
                </div>
            </form>
        </div>
    </div>


<div class="contentcontainer w-container">
        <div >
        {% if pagination.getTotalItemCount > 0 %}
        {# helper.pagination_count(pagination) #}

        <!--<div class="sort-control">
            {% set sortField = app.request.get('sort') %}
            Sort by:
            {{ helper.pagination_sortable(pagination, 'Place', 'countryPlaceNameSort') }}
            {{ helper.pagination_sortable(pagination, 'Name', 'nameSort') }}
            {{ helper.pagination_sortable(pagination, '# Exhibitions', 'numExhibitionSort', 'desc') }}
            {{ helper.pagination_sortable(pagination, '# Cat. Entries', 'numCatEntrySort', 'desc') }}
        </div> -->

        <table id="exhibitions" class="table table-striped table-bordered dataTable listviewcontainer">
            <thead>
            <tr class="listviewheading">
                <th>{{ helper.pagination_sortable(pagination, 'Name', 'nameSort') }}</th>
                <th>{{ helper.pagination_sortable(pagination, 'Country', 'countryPlaceNameSort') }}</th>
                <th>type</th>
                <th>{{ helper.pagination_sortable(pagination, 'Number of Exhibitions', 'numExhibitionSort', 'desc') }}</th>
                <th>{{ helper.pagination_sortable(pagination, 'Number of Cat. Entries', 'numCatEntrySort', 'desc') }}</th>
            </tr>
            </thead>
            <tbody>

        {% set last_initial = '' %}
        {% set last_countryCode = '' %}

        {% for row in pagination %}
            {% set location = row[0] %}
            {% set place = location.place %}
                {# <ul class="list-unstyled"> #}
            {% if 'nameSort' == sortField %}
                {# ignore #}
            {% elseif 'numExhibitionSort' == sortField %}
                {% set initial = row['numExhibitionSort'] %}
            {% elseif 'numCatEntrySort' == sortField %}
                {% set initial = row['numCatEntrySort'] %}
            {% else %}
                {% set sortField = 'countryPlaceNameSort' %}
                {% if location.placeLabel is not empty %}
                    {% set initial = location.placeLabel %}
                {% endif %}
            {% endif %}
            {% if initial != last_initial %}
                {% if last_initial != null %}
                    {# </ul> #}
                {% endif %}
                {% if 'countryPlaceNameSort' == sortField and last_countryCode != place.countryCode %}
                    {#
                        <h3>
                            {%  if place.countryCode == '' %}
                                No Country
                            {% else %}
                                {{ countryName(place.countryCode) }}
                            {% endif %}
                        </h3>
                    #}
                    {% set last_countryCode = place.countryCode %}
                {% endif %}
                    {#
                        <h4>
                            {% if 'countryPlaceNameSort' == sortField %}
                                {% if place is not null %}
                                    {{ helper.place_linked(place) }}
                                {% endif %}
                            {% else %}
                                {{ initial }}
                            {% endif %}
                        </h4>
                    #}

                {% set last_initial = initial %}
                {# <ul class="list-group"> #}
            {% endif %}
            <tr class="listviewrow">
                <td class="title">
                    <a href="{{ path('location', { 'id' : location.id }) }}"><b>{{ location.name }}</b></a>
                </td>

                <td class="normal">
                    {{ helper.place_linked(place) }}
                </td>

                <td class="normal">
                    {{ location.type }}
                </td>

                {% set count = location.exhibitions|length %}
                <td class="normal">
                    <span class="badge" style="color: white" >{{ count }}</span>
                </td>

                {% set countEntries = row['numCatEntrySort'] %}
                <td class="normal">
                    <span class="badge" style="color: white" >{{ countEntries }}</span>
                </td>

            </tr>

        {% endfor %}
            </tbody>
        </table>
            {# </ul> #}
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            No Venues found
        {% endif %}


    </div><!-- .row -->
{% endblock %}
