{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    {% import 'Shared/select2.html.twig' as select2 %}
    {{ select2.head() }}

    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}

{% block body %}
    <h1 class="heading">{{ pageTitle }}</h1>

    <form class="indexForm" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
        <div class="searchbarcontainer">
            <div class="searchbarinputcontainer">
                {{ form_widget(form.search) }}
                {{ form_widget(form.location.geoname) }}
                {{ form_widget(form.location.type) }}
            </div>
            <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button submit-filter-visible">
            </div>
        </div>

        <div class="searchbarcontainer w-form hidden-form">
            <div class="searchbarinputcontainer">
                {{ form_rest(form) }}
            </div>
        </div>
    </form>

    <script>
        {{ helper.indexform_actions('location-save') }}
    </script>


    <div class="contentcontainer w-container">
        <div class="listviewrow">
            {# tabs headers #}
            {% embed "Location/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Location/Parts/tabcontent-location-list.html.twig" %}
                {% endembed %}


                {% embed "Location/Parts/tabcontent-statistics-index.html.twig" %}
                {% endembed %}

                {% embed "Location/Parts/tabcontent-map.html.twig" %}
                {% endembed %}
            </div><!-- .tab-content -->
        </div>
    </div>
{% endblock %}
