{% import 'Shared/helper.html.twig' as helper %}

<div class="artist-information-container">
    <div class="artist-information-label">{{ 'Exhibition period'|trans }}:</div>
    <div class="artist-information-text">{{ helper.exhibition_period(exhibition) }}</div>
</div>

{% if exhibition.location is not null %}
    {% set location = exhibition.location %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Venue'|trans }}:</div>
        <div class="artist-information-text">{{ helper.location_linked(location) }}, {{ helper.place_linked(location.place) }}</div>
    </div>
{% endif %}

{% if exhibition.type is not null %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Type'|trans }}:</div>
        <div class="artist-information-text">{{ exhibition.type }}</div>
    </div>
{% endif %}

{% if exhibition.organizers is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Organizing Bodies'|trans }}:</div>
        <div class="artist-information-text">{{ helper.organizer_disclaimer() }}
            {% for organizer in exhibition.organizers %}
                <a href="{{ path('organizer', { 'id' : organizer.id }) }}">{{ organizer.name }}</a>{% if not loop.last %} / {% endif %}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if exhibition.currency is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Currency'|trans }}:</div>
        <div class="artist-information-text">
            {{ exhibition.currency|currencySymbol(true) }}
        </div>
    </div>
{% endif %}

{% if exhibition.price is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Ticket Price'|trans }}:</div>
        <div class="artist-information-text">
            {{ exhibition.price }}
        </div>
    </div>
{% endif %}

{% if exhibition.url is not null %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'URL'|trans }}:</div>
        <div class="artist-information-text"><a href="{{ exhibition.url }}" target="blank">{{ exhibition.url|prettifyurl }}</a></div>
    </div>
{% endif %}

<div class="artist-information-container-quickstat">
    <div class="artist-information-label">Quickstats</div>
    <div class="statcontainer">
        <div class="artist-information-text-stats">Catalogue Entries: {{ catalogueEntries|length }}</div>
        {% if catalogueEntriesByTypeCount is not empty %}
        <div class="artist-information-text-stats">
            {% for label,count in catalogueEntriesByTypeCount %}{% if not loop.first %}, {% endif %}
                {{ label }}: {{ count }}
            {%- endfor %}
        </div>
        {% endif %}
        <div class="artist-information-text-stats">Artists: {{ artists|length }}</div>
        <div class="artist-information-text-stats">Gender: female: {{ genderSplit['F'] }}, male: {{ genderSplit['M'] }}</div>
        <div class="artist-information-text-stats">Nationalities: {{ numNationalities }}</div>
    </div>
</div>
