{% block map %}
    {% import 'Shared/map-leaflet.html.twig' as map %}
    <script>
        {{ map.defineColorIcons() }}
    </script>

    {% if exhibition.location.geo is not empty %}
        {% set geo = exhibition.location.geo %}
    {% elseif exhibition.location.place.geo is not empty %}
        {% set geo = exhibition.location.place.geo %}
    {% endif %}

    {% if geo is not empty %}
        <div id="map" class="col-sm-12" style="width: 100%; min-height: 320px;"></div>
        <script>
            function adjustMapSize() {
                /*
                $('#map').height(function(index, height) {
                    return window.innerHeight - $(this).offset().top;
                });
                */
            }

            $(window).resize(adjustMapSize);
            adjustMapSize();

            var birthDeathMarkers = [];
            var exhibitionMarkers = [];

            {% for geo, info in mapMarkers %}
                {% for group,entries in info['groupedEntries'] %}
                {% set icons = entries|column('icon')|unique %}
                {% set prepend = '' %}
                {% set append = '' %}
                {% if 1 == icons|length %}
                    {% set icon = icons[0] %}
                {% else %}
                    {% set icon = 'orangeIcon' %}
                {% endif %}
                {% if 'exhibition' == group %}
                    {% set prepend = '<b>Exhibition:</b><br />' %}
                    {% if entries|length > 4 %}
                    {% set append = '<br/>' ~ (entries|length - 4)  ~ ' more' %}
                    {% set entries = entries|slice(0,4) %}
                    {% endif %}
                {% endif %}
                var marker = L.marker([ {{ geo }} ], { icon: {{ icon }} })
                        .bindTooltip({{ info.place.name|json_encode|raw }}, { className: 'my-tooltip' })
                        .bindPopup('{{ prepend|raw }}{{ entries|column('html')|join('<br/>')|raw }}{{ append|raw }}', { className: 'my-tooltip' })
                        ;
                {% if 'birthDeath' == group %}birthDeathMarkers.push(marker);{% endif %}
                {% if 'exhibition' == group %}exhibitionMarkers.push(marker);{% endif %}
                {% endfor %}
            {% endfor %}

            var layers = [];
            var overlays = {};

            if (birthDeathMarkers.length > 0) {
                var birthDeath = L.featureGroup(birthDeathMarkers);
                layers.push(birthDeath);
                overlays['Places of Activity'] = birthDeath;
            }

            if (exhibitionMarkers.length > 0) {
                var exhibitions = L.featureGroup(exhibitionMarkers);
                layers.push(exhibitions);
                overlays['Exhibition'] = exhibitions;
            }

            if (layers.length > 0) {
                var map = L.map('map',{
                    layers: layers
                });

                {% set mapKeys = mapMarkers|keys %}
                {% if 1 == mapKeys|length %}
                map.setView([ {{ mapKeys[0] }} ], 8);
                {% else %}
                var allMarkers = birthDeathMarkers.concat(exhibitionMarkers);
                var featureGroup = L.featureGroup(allMarkers);
                map.fitBounds(featureGroup.getBounds());
                {% endif %}

                {{ map.addTileLayer() }}

                if (layers.length > 1) {
                    L.control.layers({}, overlays).addTo(map);
                }
            }
        </script>
    {% else %}
        <div class="no_data_block">
            <div>no map data available</div>
        </div>
    {% endif %}
{% endblock %}