<div class="artist-information-container">
    <div class="artist-information-label">{{ 'exhibition period'|trans }}</div>
    <div class="artist-information-text">{{ helper.exhibition_period(exhibition) }}</div>
</div>


{# birthplace #}
{% if location.type is not null %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'type'|trans }}</div>
        <div class="artist-information-text">{{ location.type }}
        </div>
    </div>

{% endif %}


{% if exhibition.location is not null %}
    {% set location = exhibition.location %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ helper.place_linked(location.place) }}:</div>
        <div class="artist-information-text"><a href="{{ path('location', { 'id' : location.id }) }}">{{ location.name }}</a>
        </div>
    </div>
{% endif %}

{% if location.url is not null %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'URL'|trans }}</div>
        <div class="artist-information-text"><a href="{{ location.url }}">{{ location.url }} website</a>
        </div>
    </div>

{% endif %}



{% if exhibition.organizer is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">Organized by</div>
        <div class="artist-information-text">
            {{ exhibition.organizer|replace({"\n" : ' / ' }) }}
            {% if exhibition.organizerType is not empty %}
                [{{ exhibition.organizerType }}]
            {% endif %}
        </div>
    </div>
{% endif %}

{% if exhibition.organizingCommittee is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">Organizing Committee</div>
        <div class="artist-information-text">{{ exhibition.organizingCommittee|nl2br }}</div>
    </div>
{% endif %}

{% if exhibition.hours is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">Opening Hours</div>
        <div class="artist-information-text">{{ exhibition.hours }}</div>
    </div>
{% endif %}

{% if catalogue is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">Catalogue</div>
        <div class="artist-information-text">
            {% for bibitem in catalogue %}
                {{ bibitem.renderCitationAsHtml(citeProc, false)|raw }}
            {% endfor %}
        </div>
    </div>
{% endif %}

{% if exhibition.cataloguePrice is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">Catalogue Price</div>
        <div class="artist-information-text">{{ exhibition.cataloguePrice }}</div>
    </div>
{% endif %}

{% if exhibition.preface is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">Preface</div>
        <div class="artist-information-text">{{ exhibition.preface|nl2br }}</div>
    </div>
{% endif %}

{% if exhibition.catalogueStructure is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">Catalogue Structure</div>
        <div class="artist-information-text">{{ exhibition.catalogueStructure|nl2br }}</div>
    </div>
{% endif %}

{% if exhibition.note is not empty or exhibition.hasInfo %}
    {% if exhibition.note is not empty %}
        <div class="artist-information-container">
            <div class="artist-information-label">Note</div>
            <div class="artist-information-text">{{ exhibition.note|nl2br }}</div>
        </div>
    {% endif %}
    {% if exhibition.hasInfo %}
        <div class="artist-information-container">
            <div class="artist-information-label">Additional Notes</div>
            <div class="artist-information-text">{{ helper.render_info(exhibition.infoExpanded) }}</div>
        </div>
    {% endif %}
{% endif %}

