<div role="tabpanel" class="tab-pane active" id="exhibitions">

    <script src="{{ app.request.basepath }}/js/datatables-mobile.min.js"></script>

    <script>
        $( document ).ready(function() {
            $("#exhibitionsList").DataTable({
                responsive: true,
                ordering: false,
                paging: false,
                searching: false,
                info: false
            });
        })
    </script>

        {% if pagination.getTotalItemCount > 0 %}
            {# helper.pagination_count(pagination) #}
            {% set sortField = app.request.get('sort') %}
            <div style="width: 100%; text-align: right;">{{ helper.pagination_count(pagination) }}</div>


            <table id="exhibitionsList" class="table table-striped table-bordered dataTable listviewcontainer">
                <thead>
                <tr class="listviewheading">
                    <th style="min-width: 85px;" class="{{ (sortField == 'dateSort') ? 'activeSort' : '' }} desktop">{{ helper.pagination_sortable(pagination, "Startdate    ", 'dateSort') }}</th>
                    <th {{ (sortField == 'placeSort') ? 'activeSort' : '' }}><span>Title</span></th>
                    <th class="{{ (sortField == 'placeSort') ? 'activeSort' : '' }} desktop">{{ helper.pagination_sortable(pagination, 'City', 'placeSort') }}</th>
                    <th class="{{ (sortField == 'neueSort') ? 'activeSort' : '' }} desktop">{{ helper.pagination_sortable(pagination, 'Venue', 'venueSort') }}</th>
                    <th class="{{ (sortField == 'numCatEntrySort') ? 'activeSort' : '' }}">{{ helper.pagination_sortable(pagination, 'Number of Cat. Entries', 'numCatEntrySort', 'desc') }}</th>
                    <th class="{{ (sortField == 'placeSort') ? 'activeSort' : '' }}  desktop"><span>type of organising body</span></th>
                    <th class="desktop"><span>organising body</span></th>

                </tr>
                </thead>
                <tbody>


                {% set last_initial = '' %}
                {% for row in pagination %}
                    {% set exhibition = row[0] %}
                    {% set exhPlace = exhibition.location.place %}
                    {% if 'placeSort' == sortField %}
                        {% if exhibition.location is not null and exhibition.location.place is not null %}
                            {% set initial = exhibition.location.place.nameLocalized %}
                        {% else %}
                            {% set initial = '' %}
                        {% endif %}
                    {% elseif 'numCatEntrySort' == sortField %}
                        {% set initial = row['numCatEntrySort'] %}
                    {% else %}
                        {% set initial = slugify.slugify(person.fullname|first)|upper %}
                    {% endif %}


                    {% if initial != last_initial %}
                        {% if last_initial != '' %}
                            {# </ul>  #}
                        {% endif %}


                        {% set last_initial = initial %}
                        {# <ul class="list-group"> #}
                    {% endif %}
                    <tr class="listviewrow">
                        <td class="date checkbox-list">

                            <span class="checkmark {% if exhibition.id in ids %} checked {% endif %}" data-id="{{ exhibition.id }}"></span>
                            <b>{{ exhibition.startDate|date('Y-m-d') }}</b>
                        </td>

                        <td class="title"><a href="{{ path('exhibition', { 'id' : exhibition.id }) }}">
                                <b>{{ exhibition.titleAppend ? exhibition.titleAppend : exhibition.title }}</b></a>
                        </td>

                        <td class="normal">
                            <a href="{% if exhPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : exhPlace.tgn }) }}{% else %}{{ path('place', { 'id' : exhPlace.id }) }}{% endif %}">
                                {{ exhibition.location.placeLabel }}
                            </a>
                        </td>

                        <td class="normal">
                            <a href="{{ path('location', { 'id' : exhibition.location.id }) }}">
                                {{ exhibition.location.name }}
                            </a>
                        </td>


                        <td class="normal">
                            {{ row['numCatEntrySort'] }}
                        </td>
                        <td>{{ exhibition.organizerType }}</td>
                        <td>{% for organizer in exhibition.organizers %}
                                <a href="{{ path('organizer', { 'id' : organizer.id }) }}">{{ organizer.name }}</a>{% if not loop.last %} / {% endif %}
                            {% endfor %}
                        </td>
                    </tr>


                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            No Exhibitions found
        {% endif %}
    <!--<div class="col-sm-4">
                <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                    {{ form_rest(form) }}
                    <input type="submit" name="submit-filter" value="filter" />
                </form>
            </div>
    </div> .row -->



</div>