<div role="tabpanel" class="tab-pane mappane" id="map">

    {% import 'Shared/map-leaflet.html.twig' as map %}

    {{ map.head() }}
    {{ map.head_markercluster() }}
    {{ map.head_heatmap() }}

    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/select2-4.0.3/css/select2.min.css" />
    <script src="{{ app.request.basepath }}/vendor/select2-4.0.3/js/select2.full.min.js"></script>


    {%  set countriesQuery = 'any' %}
    {%  set organizerTypeQuery = 'any' %}
    {%  set stringQuery = 'any' %}


    {% if countries|length %}
        {% set countriesQuery = countries %}
    {% endif %}

    {% if organizerType|length %}
        {% set organizerTypeQuery = organizerType %}
    {% endif %}

    {% if stringPart|length %}
        {% set stringQuery = stringPart %}
    {% endif %}

    {{ render_hinclude(controller('AppBundle\\Controller\\MapController::exhibitionByPlaceIndexPart', {countriesQuery: countriesQuery, organizerTypeQuery: organizerTypeQuery, stringQuery: stringQuery, currIds: ids}), {'default': 'Loading...'}) }}
</div>
