<div role="tabpanel" class="tab-pane" id="stats">

    <script src="{{ app.request.basepath }}/js/collapseChart.js"></script>

    <script src="{{ app.request.basepath }}/vendor/highcharts/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/exporting.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/export-data.js"></script>

    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/heatmap.js"></script>
    <script src="{{ app.request.basepath }}/js/highchart_custom_theme.js"></script>


    {%  set countriesQuery = 'any' %}
    {%  set organizerTypeQuery = 'any' %}
    {%  set stringQuery = 'any' %}


    {% if countries|length %}
        {% set countriesQuery = countries %}
    {% endif %}

    {% if organizerType|length %}
        {% set organizerTypeQuery = organizerType %}
    {% endif %}

    {% if stringPart|length %}
        {% set stringQuery = stringPart %}
    {% endif %}


    {% if exhibitionStartDate['left_date'] %}
        {% set exhibitionStartDateLeft = exhibitionStartDate['left_date']|date('Y-m-d') %}
        {% set exhibitionStartDateRight = exhibitionStartDate['right_date']|date('Y-m-d') %}
    {% endif %}


    {{ render_hinclude(controller('AppBundle\\Controller\\StatisticsController::exhibitionNationalityIndex', { countriesQuery: countriesQuery, organizerTypeQuery: organizerTypeQuery, stringQuery: stringQuery, currIds: ids, artistGender:artistGender, artistNationalities:artistNationalities, exhibitionStartDateLeft:exhibitionStartDateLeft, exhibitionStartDateRight: exhibitionStartDateRight }), {'default': 'Loading... <br/>'}) }}
    {{ render_hinclude(controller('AppBundle\\Controller\\StatisticsController::exhibitionByMonthIndex', {countriesQuery: countriesQuery, organizerTypeQuery: organizerTypeQuery, stringQuery: stringQuery, currIds: ids, artistGender:artistGender, artistNationalities:artistNationalities, exhibitionStartDateLeft:exhibitionStartDateLeft, exhibitionStartDateRight: exhibitionStartDateRight }), {'default': 'Loading... <br/>'}) }}




</div>