{% block information %}
    {% import 'Shared/helper.html.twig' as helper %}
        <div role="tabpanel" class="tab-pane{% if 'itemexhibition' != app.request.get('_route') %} active{% endif %}" id="information">
            {% set infoShown = false %}

            {% if exhibition.organizingCommittee is not empty %}
                {% set infoShown = true %}
                <div class="artist-information-label information-tab">Organizing Committee</div>
                <div class="artist-information-text">{{ exhibition.organizingCommittee|nl2br }}</div>
            {% endif %}

            {% if exhibition.hours is not empty %}
                {% set infoShown = true %}
                <div class="artist-information-label information-tab">Opening Hours</div>
                <div class="artist-information-text">{{ exhibition.hours }}</div>
            {% endif %}

            {% if catalogue is not empty %}
                {% set infoShown = true %}
                <div class="artist-information-label information-tab">Catalogue</div>
                <div class="artist-information-text">
                    {% for bibitem in catalogue %}
                        {{ bibitem.renderCitationAsHtml(citeProc, true)|raw -}}
                        {% if bibitem.holderRefs|length > 0 %}
                            <br />Holding Institution{% if bibitem.holderRefs|length > 1 %}s{% endif %}:
                            {% for holderRef in bibitem.holderRefs %}
                                {% set holder = holderRef.holder %}
                                <a href="{{ path('holder', { 'id': holder.id }) }}#publication-{{ bibitem.id }}">{{ holder.nameAppend ? holder.nameAppend : holder.name }}</a>{% if not loop.last %}, {% endif %}
                            {% endfor %}
                        {% endif %}
                        {% if bibitem.hasInfo %}
                            {{ helper.render_info(bibitem.infoExpanded) }}
                        {% endif %}
                     {% endfor %}
                </div>
            {% endif %}

            {% if exhibition.cataloguePrice is not empty %}
                {% set infoShown = true %}
                <div class="artist-information-label information-tab">Catalogue Price</div>
                <div class="artist-information-text">{{ exhibition.cataloguePrice }}</div>
            {% endif %}

            {% if exhibition.preface is not empty %}
                {% set infoShown = true %}
                <div class="artist-information-label information-tab">Preface</div>
                <div class="artist-information-text">{{ exhibition.preface|nl2br }}</div>
            {% endif %}

            {% if exhibition.catalogueStructure is not empty %}
                {% set infoShown = true %}
                <div class="artist-information-label information-tab">Catalogue Structure</div>
                <div class="artist-information-text">{{ exhibition.catalogueStructure|nl2br }}</div>
            {% endif %}

            {% if exhibition.note is not empty %}
                {% set infoShown = true %}
                <div class="artist-information-label information-tab">Note</div>
                <div class="artist-information-text">{{ exhibition.note|nl2br }}</div>
            {% endif %}

            {% if exhibition.hasInfo %}
                {% set infoShown = true %}
                <div class="artist-information-label information-tab">Additional Notes</div>
                <div class="artist-information-text">{{ helper.render_info(exhibition.infoExpanded) }}</div>
            {% endif %}

            {% if not infoShown %}
                <div class="artist-information-text information-tab">no further information available</div>
            {% endif %}
        </div><!-- .tab-pane -->
{% endblock %}
