<div role="tabpanel" class="tab-pane" id="stats">
    {% import 'Shared/highcharts.html.twig' as highcharts %}
    {{ highcharts.head() }}

    {{ render_hinclude(controller('AppBundle\\Controller\\ExhibitionController::statsActionDetail', { id: currentPageId }), { 'default': 'Loading...' }) }}


    <script>
        $(document).ready(function() {
            $('#container-artist-by-gender').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} artists (<b>{point.percentage:.1f}%</b>)'
                },
                plotOptions: {
                    pie: {
                    }
                },
                series: [{
                    name: 'Country: ',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ genderStatsStatisticsFormat|json_encode|raw }}
                }]
            });
        });


        $(document).ready(function() {
            $('#container-nationalities-pie').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} artists from {point.name} (<b>{point.percentage:.1f}%</b>)'
                },
                plotOptions: {
                    pie: {
                    }
                },
                series: [{
                    name: 'Country: ',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ nationalitiesStats|json_encode|raw }}
                    // data: [{"name":"RU","y":44},{"name":"US","y":62},{"name":"IT","y":56},{"name":"FR","y":1152},{"name":"GB","y":38},{"name":"HU","y":14},{"name":"BE","y":63},{"name":"NO","y":9},{"name":"ES","y":30},{"name":"PL","y":14},{"name":"DE","y":36},{"name":"CZ","y":5},{"name":"AT","y":10},{"name":"CH","y":35},{"name":"NL","y":26},{"name":"SE","y":11},{"name":"","y":119},{"name":"DK","y":6},{"name":"IE","y":4},{"name":"AU","y":2},{"name":"UA","y":3},{"name":"FI","y":2},{"name":"DO","y":1},{"name":"PE","y":1},{"name":"RO","y":5},{"name":"LT","y":1},{"name":"TR","y":1},{"name":"CA","y":4},{"name":"GR","y":1},{"name":"MX","y":1},{"name":"UY","y":1},{"name":"PT","y":1},{"name":"BG","y":1},{"name":"BR","y":1}]
                }]
            });
        });

        $(document).ready(function() {
            $('#container-exhibiting-pie').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} artists from {point.name} (<b>{point.percentage:.1f}%</b>)'
                },
                plotOptions: {
                    pie: {
                    }
                },
                series: [{
                    name: 'Country: ',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ artistExhibitingInCityStats|json_encode|raw }}
                    // data: [{"name":"RU","y":44},{"name":"US","y":62},{"name":"IT","y":56},{"name":"FR","y":1152},{"name":"GB","y":38},{"name":"HU","y":14},{"name":"BE","y":63},{"name":"NO","y":9},{"name":"ES","y":30},{"name":"PL","y":14},{"name":"DE","y":36},{"name":"CZ","y":5},{"name":"AT","y":10},{"name":"CH","y":35},{"name":"NL","y":26},{"name":"SE","y":11},{"name":"","y":119},{"name":"DK","y":6},{"name":"IE","y":4},{"name":"AU","y":2},{"name":"UA","y":3},{"name":"FI","y":2},{"name":"DO","y":1},{"name":"PE","y":1},{"name":"RO","y":5},{"name":"LT","y":1},{"name":"TR","y":1},{"name":"CA","y":4},{"name":"GR","y":1},{"name":"MX","y":1},{"name":"UY","y":1},{"name":"PT","y":1},{"name":"BG","y":1},{"name":"BR","y":1}]
                }]
            });
        });



    </script>


    <h3 class="chart-header" data-collapse="container-artist-by-gender"><span class="chartsymbol">+</span>Artists by Gender<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-artist-by-gender" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <h3 class="chart-header" data-collapse="container-nationalities-pie"><span class="chartsymbol">+</span>Nationality of Artists<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-nationalities-pie" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <h3 class="chart-header" data-collapse="container-exhibiting-pie"><span class="chartsymbol">+</span>Exhibiting Cities of Artists<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-exhibiting-pie" style="width: 100%; height: 400px; margin: 0 auto;"></div>


</div>