{% block tabsHeader %}
    <!-- Nav tabs -->
    <div>
        <div class="tabsymbols">
            <div class="icontab download-csv-catalogue" style="display:none"><img src="{{ app.request.basepath }}/img/download_icon_blue.svg" class="iconimage" title="download current data"></div>
            <div class="icontab download-csv-artists" style="display:none"><img src="{{ app.request.basepath }}/img/download_icon_blue.svg" class="iconimage" title="download current data"></div>
            <div class="icontab download-csv-similars" style="display:none"><img src="{{ app.request.basepath }}/img/download_icon_blue.svg" class="iconimage" title="download current data"></div>
        </div>

        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
            <li role="presentation"{% if 'itemexhibition' != app.request.get('_route') %} class="active"{% endif %}><a href="#information" aria-controls="entries" role="tab" data-toggle="tab">{{ 'Information'|trans }}</a></li>

            {% if catalogueEntries is not empty %}
            <li role="presentation" class="{% if 'itemexhibition' == app.request.get('_route') %}active {% endif %}cat-entries-tab"><a href="#entries" aria-controls="entries" role="tab" data-toggle="tab">{{ 'Catalogue Entries'|trans }}</a></li>
            {% endif %}

            {% if artists|length > 0 %}
            <li role="presentation" class="artists-tab"><a href="#artists" aria-controls="artists" role="tab" data-toggle="tab">{{ 'Artists'|trans }}</a></li>
            {% endif %}

            {% if related|length > 0 %}
            {# co-appearances #}
            <li role="presentation" class="similars-tab"><a href="#relatedexhibitions" aria-controls="related" role="tab" data-toggle="tab">{{ 'Related Exhibitions'|trans }}</a></li>
            {% endif %}

            {% if similar|length > 0 %}
            {# co-appearances #}
            <li role="presentation" class="similars-tab"><a href="#similars" aria-controls="similars" role="tab" data-toggle="tab">{{ 'Exhibitions with Similar Artists'|trans }}</a></li>
            {% endif %}

            {% if catalogueEntries is not empty %}
            {# statistics #}
            <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">{{ 'Statistics'|trans }}</a></li>
            {% endif %}
        </ul>
    </div>

    <script>
        $('.download-csv-catalogue').on('click', function() {
            window.location.href =  "{{ path('exhibition-catalogue-csv', { 'id': exhibition.getId() }) }}";
        });

        $('.download-csv-artists').on('click', function() {
            window.location.href =  "{{ path('exhibition-artists-csv', { 'id': exhibition.getId() }) }}";
        });

        $('.download-csv-similars').on('click', function() {
            window.location.href =  "{{ path('exhibition-similars-csv', { 'id': exhibition.getId() }) }}";
        });

        // make the right export button visible
        $( document ).ready(function() {
            //hide all export buttons
            hideAll();

            setInterval(function() {
                if ($('.artists-tab').hasClass('active')){
                    hideAll();
                    $('.download-csv-artists').show();
                }
                else if ($('.similars-tab').hasClass('active')){
                    hideAll();
                    $('.download-csv-similars').show();
                }
                else if ($('.cat-entries-tab').hasClass('active')) {
                    hideAll(); $('.download-csv-catalogue').show();
                }
                else {
                    hideAll();
                }
            }, 250);
        });

        function hideAll() {
            $('.download-csv-artists').hide();
            $('.download-csv-similars').hide();
            $('.download-csv-catalogue').hide();
        }
    </script>
{% endblock %}