{% block tabsHeader %}
    <!-- Nav tabs -->
    <div>
        <div class="tabsymbols">
            <!--<div class="icontab"><img src="{{ app.request.basepath }}/img/setttings_icon_blue.svg" class="iconimage"></div>-->
            <div class="advanced-search-settings"><span class="checkbox-filter-button">apply checkbox filter</span></div>
            <div class="icontab advanced-search active"><img src="{{ app.request.basepath }}/img/setttings_icon_blue.svg" class="iconimage"></div>
            <div class="icontab download-csv"><img src="{{ app.request.basepath }}/img/download_icon_blue.svg" class="iconimage"></div>

            {% if app.user  %}

            <form id="saveQuery" action="{{ path('exhibition-save') }}?entity={{  requestURI|url_encode }}" method="POST">
                {% if searches is not empty %}
                    <select name="useraction" id="saved-searches" class="w-input select-queries">
                        <option value="">- Select Saved Query -</option>
                        {% for id, label in searches %}
                            <option value="{{ id }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                {% endif %}
            </form>

            <div class="icontab save-query"><img src="{{ app.request.basepath }}/img/save_icon.svg" class="iconimage"></div>

            {% endif %}
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
            <li role="presentation" class="active"><a href="#exhibitions" aria-controls="entries" role="tab" data-toggle="tab">{{ 'Exhibitions'|trans }}</a></li>
            <li role="presentation"><a href="#map" role="tab" onclick="clickMap()" data-toggle="tab">{{ 'Map'|trans }}</a></li>
            <li role="presentation"><a href="#stats" role="tab" data-toggle="tab" >{{ 'Statistics'|trans }}</a></li>
        </ul>

    </div>

    <script>
        function clickMap(){
            $(document).trigger("rerenderMap");
        }

    </script>

{% endblock %}