{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    {% import 'Shared/select2.html.twig' as select2 %}
    {{ select2.head() }}

    <script src="{{ app.request.basepath }}/js/js.cookie.js"></script>

    <script>
    $(document).ready(function($) {
        // Remove empty fields from GET forms
        // Author: Bill Erickson
        // URL: http://www.billerickson.net/code/hide-empty-fields-get-form/

        // Change 'form' to class or ID of your specific form
        $('form').submit(function() {
            $(this).find(':input').filter(function() { return !this.value; }).attr('disabled', 'disabled');

            return true; // ensure form still submits
        });

        // Un-disable form fields when page loads, in case they click back after submission
        $('form').find(':input').prop('disabled', false );

        // initialize select2
        $('.select2').select2();

        {{ helper.checkmark_actions(listBuilder.entity) }}
        {{ helper.indexform_actions('search-save') }}
    });
    </script>

    <!-- most come after generic $('.select2').select2(); call above -->
    <script src="{{ asset('js/select2entity.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="w-container">
        <h1 class="heading">{{ pageTitle }}</h1>

            <form id="search" class="indexForm" action="{{ path(app.request.get('_route')) }}" method="GET">
                <input type="hidden" name="entity" value="{{ listBuilder.entity }}" />
                {% set filter = listBuilder.queryFilters %}

                {% block filters %}
                <div class="filters-heading"><!--  style="margin-top: 25px;" -->
                    <span style="margin-right: 20px; margin-top: 7px">Filter by:</span>
                    {#
                    {% set entityLabels = {
                        'exhibition': 'Exhibition',
                        'person': 'Artist',
                        'catentry': 'Cat. Entry',
                        'venue': 'Venue',
                        'organizer': 'Organizing Body'
                    } %}

                    {% for entity,label in entityLabels %}
                    <button type="button" class="btn" data-toggle="collapse" data-target="#filter-panel-{{ entity }}">
                        <span class="glyphicon glyphicon-cog"></span> {{ label }}
                    </button>
                    {% endfor %}
                    #}
                </div>

                <div class="filter-combination-container">
                    {% form_theme form 'Search/bootstrap_3_adjusted.html.twig' %}
                    <div class="filter-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-target="#filter-panel-exhibition">Exhibition</a>
                            </div>
                            <div id="filter-panel-exhibition" class="panel-body collapse">
                                {{ form_row(form.exhibition.date) }}
                                {{ form_row(form.exhibition.type) }}
                                {{ form_row(form.exhibition.organizer_type) }}
                                {{ form_row(form.exhibition.exhibition) }}
                            </div>
                        </div>
                    </div>
                    <div class="filter-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-target="#filter-panel-person">Artist</a>
                            </div>
                            <div id="filter-panel-person" class="panel-body collapse">
                                {{ form_row(form.person.gender) }}
                                {{ form_row(form.person.nationality) }}
                                {{ form_row(form.person.birthdate) }}
                                {{ form_row(form.person.deathdate) }}
                                {{ form_row(form.person.person) }}
                            </div>
                        </div>
                    </div>
                    <div class="filter-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-target="#filter-panel-catentry">Catalogue Entry</a>
                            </div>
                            <div id="filter-panel-catentry" class="panel-body collapse ">
                                {{ form_row(form.catentry.type) }}
                                {{ form_row(form.catentry.forsale) }}
                                {{ form_row(form.catentry.price_available) }}
                            </div>
                        </div>
                    </div>
                    <div class=" filter-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-target="#filter-panel-venue">Venue</a>
                            </div>
                            <div id="filter-panel-venue" class="panel-body collapse">
                                {{ form_row(form.location.geoname) }}
                                {{ form_row(form.location.type) }}
                                {{ form_row(form.location.location) }}
                            </div>
                        </div>
                    </div>
                    <div class="filter-panel">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a data-toggle="collapse" data-target="#filter-panel-organizer">Organizing Body</a>
                            </div>
                            <div id="filter-panel-organizer"  class="panel-body collapse">
                                {#{ form_row(form.organizer.geoname) }#}
                                {{ form_row(form.organizer.type) }}
                                {{ form_row(form.organizer.organizer) }}
                            </div>
                        </div>
                    </div>

                <div class="searchbarcontainer">
                    <div class="searchbarinputcontainer">
                        <input class="text-field-class w-input search-input input-text-search" type="text" name="filter[search]" value="{{ filter.search }}" placeholder="fulltext search" />
                    </div>

                    <div class="searchbuttoncontainer">
                        <button type="submit" id="filter_submit" name="filter[submit]" class="submit-button w-button submit-filter-visible">Search</button>
                    </div>
                </div>


                {# render active filters #}
                <div class="additional-filter-container">
                    {% for entity,filters in listBuilder.queryFilters %}
                    <div class="filter-row"><div class="div-block-5">{{ entityLabels[entity] }}</div></div>
                        {% for key,val in filters %}
                            {% set fieldVars = form[entity][key].vars %}
                            {% set fieldVal = fieldVars.value %}
                            {% set label = fieldVars.label %}
                            {% if label is empty %}{% set label = key|humanize %}{% endif %}
                            {% set relation = 'equal to' %}
                            {% if fieldVal is iterable and fieldVal|length > 1 %}
                                {% set relation = 'one of' %}
                            {% endif %}

                            {% set displayVal = fieldVal %}
                            {% if fieldVars.choices is not empty %}
                                {% if fieldVal is not iterable %}
                                    {% set fieldVal = [ fieldVal ] %}
                                {% endif %}
                                {% set choiceLabels = []  %}
                                {% for choiceVal in fieldVal %}
                                    {% set choiceLabel = choiceVal %}
                                    {% set break = false %}
                                    {% for choice in fieldVars.choices if not break %}
                                        {% if choice.value == choiceVal %}
                                            {% set choiceLabel = choice.label %}
                                            {% set break = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% set choiceLabels = choiceLabels|merge([ choiceLabel ]) %}
                                {% endfor %}
                                {% set displayVal = choiceLabels|join(', ') %}
                            {% elseif fieldVal is iterable %}
                                {% if form[entity][key].children|length > 0 %}
                                    {% set relation = 'within the range' %}
                                    {% set displayVal = fieldVal|join('-') %}
                                {% else %}
                                    {% set displayVal = fieldVal|join('; ') %}
                                {% endif %}
                            {% else %}
                                {{ fieldVal }}
                            {% endif %}

                    <div class="filter-row">
                        <div class="div-block-5">
                            <div class="first-filter-term">
                                <div>{{ label }}</div>
                            </div>
                            <div class="is_equal_to">
                                <div>
                                    is {{ relation }}
                                </div>
                            </div>
                            <div class="first-filter-term">
                                <div>
                                    {{ displayVal }}
                                </div>
                            </div>
                        </div>
                        <div class="subfilter-buttons-container">
                            {% set filtersRemaining = listBuilder.queryFilters(true)|without(entity) %}
                            {% set filtersEntityRemaining = filters|without(key) %}
                            {% if filtersEntityRemaining is not empty %}
                                {% set filtersRemaining = filtersRemaining|merge({ (entity) : filtersEntityRemaining }) %}
                            {% endif %}
                            {% set params = app.request.attributes.get('_route_params')|merge(app.request.query.all|without('filter')) %}
                            {% if filtersRemaining is not empty %}
                                {% set params = params|merge({ 'filter': filtersRemaining }) %}
                            {% endif %}
                            <a class="subfilter-remove" href="{{ path(app.request.attributes.get('_route'), params) }}">remove</a>
                        </div>
                    </div>
                        {% endfor %}
                    {% endfor %}
                    </div><!-- .additional-filter-container -->
                </div><!-- .filter-combination-container -->

                {% endblock %}
            </form>
    </div><!-- .w-container -->

    <div class="contentcontainer w-container">
        <div class="listviewrow">

        {% set entities =
                {
                    'Exhibition' : 'Exhibitions',
                    'Person' : 'Artists',
                    'ItemExhibition' : 'Catalogue Entries',
                    'Venue' : 'Venues',
                    'Organizer' : 'Organizing Bodies',
                }
        %}
        <div>

            <ul class="nav nav-tabs" role="tablist">
                {% for entity, label in entities %}
                    {% set active = entity == listBuilder.entity %}
                    {% if active %}
                        {% set params = { 'entity' : entity } %}
                    {% else %}
                        {# so we keep active filters #}
                        {% set params = app.request.query.all | merge({ 'entity' : entity, 'page' : 1 }) %}
                    {% endif %}
                    <li role="presentation" class="{% if active %}active {% endif %}entries-tab" ><a href="{{ path(app.request.get('_route'), params) }}" aria-controls="entries">{{ label|trans }}</a></li>
                    <a {% if active %} style="font-weight: bold"{% endif %} href=""></a>
                {% endfor %}
            </ul>

            <div class="tabsymbols">
                {% if 'search-index' != app.request.get('_route') %}
                    <div class="advanced-search-settings"><a href="{{ path('search-index', app.request.query.all) }}"><span class="checkbox-filter-button">Show List</a></span></a></div>
                {% endif %}
                {% if 'search-map' != app.request.get('_route') and ('Exhibition' == listBuilder.entity or 'Venue' == listBuilder.entity or 'Organizer' == listBuilder.entity or 'Person' == listBuilder.entity)  %}
                    <div class="advanced-search-settings"><a href="{{ path('search-map', app.request.query.all) }}"><span class="checkbox-filter-button">Show Map</span></a></div>
                {% endif %}
                {% if 'search-stats' != app.request.get('_route') %}
                    <div class="advanced-search-settings"><a href="{{ path('search-stats', app.request.query.all) }}"><span class="checkbox-filter-button">Show Statistics</a></span></a></div>
                {% endif %}

                {% if 'search-index' == app.request.get('_route') and 'ItemExhibition' != listBuilder.entity and 'Place' != listBuilder.entity %}<div class="advanced-search-settings"><span class="checkbox-filter-button">apply checkbox filter</span></div>{% endif %}
                <div class="icontab download-csv"><a title="Download as Excel-File" href="{{ path('search-export', app.request.query.all) }}"><img src="{{ app.request.basepath }}/img/download_icon_blue.svg" class="iconimage"></a></div>

                {% if app.user  %}
                    <form action="{{ path(app.request.get('_route'), { 'entity' : entity }) }}" method="POST" style="margin-left: 10px">
                        {% if searches is not empty %}
                            <select name="useraction" id="saved-searches" class="w-input select-queries" onchange="this.form.submit()">
                                <option value="">- Select Saved Query -</option>
                                {% for id, label in searches %}
                                    <option value="{{ id }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                    </form>
                    <div class="icontab save-query" onclick="saveQuery()"><img src="{{ app.request.basepath }}/img/save_icon.svg" class="iconimage" title="save your current query"></div>
                {% endif %}
            </div><!-- .tabsymbols -->
        </div>

        <div class="listviewrow">
        {% block content %}
            {% if pager.currentPageResults is not empty %}
            <div style="width: 100%; text-align: right;">
            <div class="count">
                {{ pager.currentPageOffsetStart }} - {{ pager.currentPageOffsetEnd }} of {{ pager.getNbResults() }}
            </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for key, label in listBuilder.buildHeaderRow() %}
                        <th>
                            {% if loop.first %}{% if 'ItemExhibition' != listBuilder.entity %}<span class="checkmark" data-id="{{ -1 }}" title="Deselect all"></span>{% endif %}{% endif %}
                            {% set sortInfo = listBuilder.sortInfo(key) %}
                            {% if sortInfo is not empty %}
                                <a href="{{ sortInfo.action }}"{% if sortInfo.active is not empty %} class="{{ sortInfo.active }}"{% endif %}>{{ label }}</a>
                            {% else %}
                                {{ label }}
                            {% endif %}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in pager.currentPageResults %}
                    <tr>
                        {% set rowValues = listBuilder.buildRow(row, 'html') %}
                        {% for val in rowValues %}
                        <td>{% if loop.first %}{% if 'ItemExhibition' != listBuilder.entity %}<span class="checkmark" data-id="{{ row.id }}"></span>{% endif %}{% endif %}{{ val|raw }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagerfanta">{{ pagerfanta(pager, 'twitter_bootstrap3', { 'omitFirstPage': true }) }}</div>
            {% else %}
                No matching entry. Please adjust your search.
            {% endif %}
        {% endblock %}
        </div>
        </div>
    </div>
{% endblock %}
