{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    <script>
    $(document).ready(function($){
        // Remove empty fields from GET forms
        // Author: Bill Erickson
        // URL: http://www.billerickson.net/code/hide-empty-fields-get-form/

        // Change 'form' to class or ID of your specific form
        $("form").submit(function() {
            $(this).find(":input").filter(function(){ return !this.value; }).attr("disabled", "disabled");
            return true; // ensure form still submits
        });

        // Un-disable form fields when page loads, in case they click back after submission
        $( "form" ).find( ":input" ).prop( "disabled", false );
    });

    function saveQuery() {
        $form = $('#search');
        $("#search").attr("action", '{{ path('search-save') }}');
        $form.submit();
    }
    </script>
{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <div class="row">
        <div class="col-sm-12">
            {% set entities =
                {
                    'ItemExhibition' : 'Catalogue Entries',
                    'Exhibition' : 'Exhibitions',
                    'Venue' : 'Venues',
                    'Person' : 'Artists',
                }
            %}
            Display:
            {% for entity, label in entities %}
                {% set active = entity == listBuilder.entity %}
                {% if active %}
                    {% set params = { 'entity' : entity } %}
                {% else %}
                    {# so we keep active filters #}
                    {% set params = app.request.query.all | merge({ 'entity' : entity }) %}
                {% endif %}
                <a {% if active %} style="font-weight: bold"{% endif %} href="{{ path(app.request.get('_route'), params) }}">{{ label }}</a>
                {% if not loop.last%} | {% endif %}
            {% endfor %}

            <form action="{{ path(app.request.get('_route'), { 'entity' : entity }) }}" method="POST">
            Query:  {% if searches is not empty %}
                    <select name="useraction" id="saved-searches" onchange="this.form.submit()">
                        <option value="">- Select Saved Query -</option>
                        {% for id, label in searches %}
                        <option value="{{ id }}">{{ label }}</option>
                        {% endfor %}
                    </select>
                   {% endif %}

                    <button type="button" class="btn" onclick="saveQuery()">
                        <span class="glyphicon glyphicon-floppy-disk"></span> Save Query
                    </button>
            </form>

            <form id="search" action="{{ path(app.request.get('_route')) }}" method="GET">
                <input type="hidden" name="entity" value="{{ listBuilder.entity }}" />
                {% set filter = listBuilder.queryFilters %}
                <input type="text" name="filter[search]" value="{{ filter.search }}" />
                {{ form_widget(form.submit) }}

                {% block filters %}
                {% form_theme form 'bootstrap_3_horizontal_layout.html.twig' %}
                <div id="filter-panel-catentry" class="collapse filter-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter by Catalogue Entry</div>
                        <div class="panel-body">
                            {{ form_row(form.catentry.type) }}
                            {{ form_row(form.catentry.forsale) }}
                        </div>
                    </div>
                </div>
                <div id="filter-panel-exhibition" class="collapse filter-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter by Exhibition</div>
                        <div class="panel-body">
                            {{ form_row(form.exhibition.date) }}
                            {{ form_row(form.exhibition.type) }}
                            {{ form_row(form.exhibition.organizer_type) }}
                        </div>
                    </div>
                </div>
                <div id="filter-panel-venue" class="collapse filter-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter by Venue</div>
                        <div class="panel-body">
                            {{ form_row(form.location.geoname) }}
                            {{ form_row(form.location.type) }}
                        </div>
                    </div>
                </div>
                <div id="filter-panel-person" class="collapse filter-panel">
                    <div class="panel panel-default">
                        <div class="panel-heading">Filter by Artist</div>
                        <div class="panel-body">
                            {{ form_row(form.person.gender) }}
                            {{ form_row(form.person.nationality) }}
                            {{ form_row(form.person.birthdate) }}
                            {{ form_row(form.person.deathdate) }}
                        </div>
                    </div>
                </div>

                <div>
                    Filter by:

                    <button type="button" class="btn" data-toggle="collapse" data-target="#filter-panel-catentry">
                        <span class="glyphicon glyphicon-cog"></span> Cat. Entry
                    </button>

                    <button type="button" class="btn" data-toggle="collapse" data-target="#filter-panel-exhibition">
                        <span class="glyphicon glyphicon-cog"></span> Exhibition
                    </button>

                    <button type="button" class="btn" data-toggle="collapse" data-target="#filter-panel-venue">
                        <span class="glyphicon glyphicon-cog"></span> Venue
                    </button>

                    <button type="button" class="btn" data-toggle="collapse" data-target="#filter-panel-person">
                        <span class="glyphicon glyphicon-cog"></span> Artist
                    </button>
                </div>
                {% endblock %}
            </form>
            {% if pager.currentPageResults is not empty %}
                {{ pager.currentPageOffsetStart }} - {{ pager.currentPageOffsetEnd }} of {{ pager.getNbResults() }}
                <br />
                Export: <a href="{{ path('search-export', app.request.query.all) }}">Excel</a>
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% for key, label in listBuilder.buildHeaderRow() %}
                        <th>
                            {% set sortInfo = listBuilder.sortInfo(key) %}
                            {% if sortInfo is not empty %}
                                <a href="{{ sortInfo.action }}"{% if sortInfo.active is not empty %} class="{{ sortInfo.active }}"{% endif %}>{{ label }}</a>
                            {% else %}
                                {{ label }}
                            {% endif %}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for row in pager.currentPageResults %}
                    <tr>
                        {% set rowValues = listBuilder.buildRow(row, 'html') %}
                        {% for val in rowValues %}
                        <td>{{ val|raw }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagerfanta">{{ pagerfanta(pager, 'twitter_bootstrap3', { 'omitFirstPage': true }) }}</div>
            {% else %}
                No matching entry. Please adjust your search.
            {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}
