{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block body %}
    <h1>{{ pageTtitle }}</h1>
    <div class="row">
        <div class="col-sm-12">
            {% if pager.currentPageResults is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Exhibition</th>
                        <th>Date</th>
                        <th>Venue</th>
                        <th>City</th>
                        <th>Type</th>
                        <th># Cat. Entries</th>
                        <th># Artists</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in pager.currentPageResults %}
                    <tr>
                        <td><a href="{{ path('exhibition', { 'id' : row['exhibition_id'] }) }}">{{ row['exhibition_title'] }}</a></td>
                        <td>{{ row['startdate'] }}</td>
                        <td>{{ row['location'] }}</td>
                        <td>{{ row['place'] }}</td>
                        <td>TODO</td>
                        <td>{{ row['count_itemexhibition'] }}</td>
                        <td>{{ row['count_person'] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagerfanta">{{ pagerfanta(pager, 'twitter_bootstrap3', { 'omitFirstPage': true }) }}</div>
            {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}
