{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}
{% import 'Shared/map-leaflet.html.twig' as map %}

{% block head %}
    <!-- justifiedGallery, http://miromannino.github.io/Justified-Gallery/ -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/justified-gallery/justifiedGallery.min.css">
    <script src="{{ app.request.basepath }}/vendor/justified-gallery/jquery.justifiedGallery.min.js"></script>
    <!-- ekko-lightbox, http://ashleydw.github.io/lightbox/ -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/ekko-lightbox/ekko-lightbox.css">
    <script src="{{ app.request.basepath }}/vendor/ekko-lightbox/ekko-lightbox.min.js"></script>
    <script>
        $( document ).ready(function() {
            // justifiedGallery
            $('.gallery').justifiedGallery();

            // ekko-lightbox
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        });

        var statsLoaded = false;
        $( document ).ready(function() {
            // dynamic tab
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr('href'); // activated tab

                if ('#stats' == target) {
                    if (!statsLoaded) {
                        var url = $(this).attr('data-url');
                        var pane = $(this), href = this.hash;

                        // ajax load from data-url
                        $(href).load(url,function(result){
                            pane.tab('show');
                            statsLoaded = true;
                        });
                    }
                }
            });
        });

        $(document).ready(function() {
            // Configure/customize these variables.
            var showChar = 300;  // How many characters are shown by default
            var ellipsestext = "...";
            var moretext = "Show more >";
            var lesstext = "Show less";


            $('.more').each(function() {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }
            });

            $(".morelink").click(function(){
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                }
                else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();

                return false;
            });
        });
    </script>

    <style>
    .morecontent span {
        display: none;
    }
    .morelink {
        display: block;
    }
    </style>

    {{ map.head() }}
{% endblock %}

{% block body %}
    <h1>
        {{ exhibition.title }}
    </h1>
    {% if exhibition.titleAppend is not empty %}
    <h2 style="margin-top: -0.8rem"><span class="small">{{ exhibition.titleAppend }}</span></h2>
    {% endif %}
    {{ exhibition.subtitle }}

    <div class="row">
        <div class="col-sm-8">
            <p>
            {{ helper.exhibition_period(exhibition) }}

            {% if exhibition.location is not null %}
                {% set location = exhibition.location %}
                {% if location.place is not null %}
                    {{ helper.place_linked(location.place) }}:
                {% endif %}
                <a href="{{ path('location', { 'id' : location.id }) }}">{{ location.name }}</a>
            {% endif %}
            </p>

            <dl class="dl-horizontal">
            {% if exhibition.organizer is not empty %}
                <dt>Organized by:</dt>
                <dd>
                {{ exhibition.organizer|replace({"\n" : ' / ' }) }}
                {% if exhibition.organizerType is not empty %}
                    [{{ exhibition.organizerType }}]
                {% endif %}
                </dd>
            {% endif %}

            {% if exhibition.organizingCommittee is not empty %}
                <dt>Organizing Committee:</dt>
                <dd>
                    <span class="more">
                    {{ exhibition.organizingCommittee|nl2br }}
                    </span>
                </dd>
            {% endif %}

            {% if exhibition.hours is not empty %}
                <dt>Opening Hours:</dt>
                <dd>{{ exhibition.hours }}</dd>
            {% endif %}

            {% if exhibition.price is not empty %}
                <dt>Ticket Price:</dt>
                <dd>{{ exhibition.price }}</dd>
            {% endif %}
            </dl>

            <dl class="dl-horizontal">
            {% if catalogue is not empty %}
                <dt>Catalogue:</dt>
                <dd>
                    {% for bibitem in catalogue %}
                        {{ bibitem.renderCitationAsHtml(citeProc, false)|raw }}
                    {% endfor %}
                </dd>
            {% endif %}
            {% if exhibition.cataloguePrice is not empty %}
                <dt>Catalogue Price:</dt>
                <dd>{{ exhibition.cataloguePrice }}</dd>
            {% endif %}
            {% if exhibition.preface is not empty %}
                <dt>Preface:</dt>
                <dd>
                    <span class="more">
                    {{ exhibition.preface|nl2br }}
                    </span>
                </dd>
            {% endif %}
            {% if exhibition.catalogueStructure is not empty %}
                <dt>Catalogue Structure:</dt>
                <dd>
                    {{ exhibition.catalogueStructure|nl2br }}
                </dd>
            {% endif %}
            </dl>

            {% if exhibition.note is not empty or exhibition.hasInfo %}
            <dl class="dl-horizontal">
                {% if exhibition.note is not empty %}
                <dt>Note:</dt>
                <dd>
                    {{ exhibition.note|nl2br }}
                </dd>
                {% endif %}
                {% if exhibition.hasInfo %}
                <dt>Additional Notes:</dt>
                <dd>
                    {{ helper.render_info(exhibition.infoExpanded) }}
                </dd>
                {% endif %}
            </dl>
            {% endif %}

            {% if showWorks and exhibition.items is not empty %}
            <h3>Works</h3>
                <div class="gallery" style="margin-bottom: 2em">
                {% for item in exhibition.items %}
                <a href="{{ path('item', { 'id' : item.id }) }}">
                {% set preview = item.previewImg %}
                {% if preview is not null %}
                    {% set imgUrl = 'https://exhibitions05-15.kugb.univie.ac.at/uploads/' ~  preview.imgUrl('preview') %}
                {% else %}
                    {% set imgUrl = app.request.basepath ~ '/img/placeholder-image.jpg' %}
                {% endif %}
                <img src="{{ imgUrl }}" />
                <div class="caption">
                {% if item.creators is not empty %}
                    {% for creator in item.creators %}{{ creator.fullname }}{% endfor %}
                {% endif %}
                {{ item.title }}

                {% if item.displaydate is not empty %}
                    {{ item.displaydate }}
                {% else %}
                    ({{ item.earliestdate|dateincomplete }}{# - {{  item.latestdate|dateincomplete  }}#})
                {% endif %}
                </div>
                </a>
                {% endfor %}
            </div><!-- .gallery -->
            {% endif %}

            {% if catalogueEntries is not empty %}
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
                {% if catalogueEntries is not empty %}<li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{ 'Catalogue Entries'|trans }}</a></li>{% endif %}
                {% if similar|length > 0 %}<li role="presentation"><a href="#similar" aria-controls="similar" role="tab" data-toggle="tab">{{ 'Similar'|trans }}</a></li>{% endif %}
                <li role="presentation"><a href="#stats" data-url="{{ path('exhibition-stats-partial', { id: exhibition.id }) }}" aria-controls="chronology" role="tab" data-toggle="tab">{{ 'Statistics'|trans }}</a></li>
            </ul>

            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">
                {% set last_initial = '' %}
                <h3>Catalogue Entries</h3>
                {% for catalogueEntry in catalogueEntries %}
                    {% set initial = catalogueEntry.person.fullname %}
                    {% if initial != last_initial %}
                        {% if last_initial != '' %}
                </ul>
                        {% endif %}
                    {% set last_initial = initial %}

                    <h4>
                        <a href="{% if catalogueEntry.person.ulan is not empty %}{{ path('person-by-ulan', { 'ulan' : catalogueEntry.person.ulan }) }}{% elseif catalogueEntry.person.gnd is not empty %}{{ path('person-by-gnd', { 'gnd' : catalogueEntry.person.gnd }) }}{% else %}{{ path('person', { 'id' : catalogueEntry.person.id }) }}{% endif %}">
                            {{ catalogueEntry.person.fullname(true) }}</a>
                        {% set addresses = catalogueEntry.person.addressesSeparated(exhibition.id) %}
                        {% if addresses is not empty %}
                            <span class="small">
                        {% for address in addresses %}
                            {{ address['info']|replace({ "\n" : ", " }) }}{% if not loop.last %}; {% endif %}
                        {% endfor %}
                            </span>
                        {% endif %}
                    </h4>

                <ul class="list-group">
                    {% endif %}
                <li class="list-group-item">
                    {{ helper.itemexhibition_detail(catalogueEntry) }}
                </li>
                {% endfor %}
                </ul>
                </div><!-- .tab-pane -->

            {% if similar|length > 0 %}
                <div role="tabpanel" class="tab-pane" id="similar">
                {% set similar_keys = similar|keys %}
                {% set found = false %}
                {% set numArtists = exhibition.artists|length %}
                {% for exhibition_id in similar_keys %}
                    {% if similar[exhibition_id]['count'] > 1 or numArtists == 1 %}
                        {% if not found %}
                            {% set found = true %}
                            <h3>Other Exhibitions with multiple matching Artists</h2>
                            <ul class="listing">
                        {% endif %}
                    <li><a href="{{ path('exhibition', { 'id': exhibition_id }) }}">{{  similar[exhibition_id]['title'] }}</a>
                        (<a href="{{ path('person-shared-partial', { 'exhibitions': [ exhibition.id, exhibition_id ]|join(',') }) }}" data-remote="false" data-toggle="modal" data-target="#detailModal">{{ similar[exhibition_id]['count'] }} artists</a>)</li>
                    {% endif %}
                {% endfor %}
                {% if found %}
                </ul>
                {% endif %}
                </div><!-- .tab-pane -->
            {% endif %}

                <div role="tabpanel" class="tab-pane" id="stats">
                    {{ 'Loading...' | trans }}
                </div>
            </div><!-- .tab-content -->
            {% endif %}
        </div>

        <div class="col-sm-4 sidebar">
            {% if exhibition.artists|length > 0 %}
                <h3>Artists</h3>
                <ul class="list-unstyled">
                {% for person in exhibition.artists %}
                    <li><b>{{ helper.person_linked(person) }}</b></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div><!-- .row -->


    <!-- Modal for shared Artists -->
    <div id="detailModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Loading....</p>
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          -->
        </div>
      </div>
    </div>

    <script>
    // Fill modal with content from link href
    $('#detailModal').on('show.bs.modal', function(e) {
        var link = $(e.relatedTarget);
        $(this).find('.modal-body').html('Loading...');
        $(this).find('.modal-body').load(link.attr('href'));
    });
    </script>
{% endblock %}
