{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}
{% import 'Shared/map-leaflet.html.twig' as map %}

{% block head %}
    <!-- justifiedGallery, http://miromannino.github.io/Justified-Gallery/ -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/justified-gallery/justifiedGallery.min.css">
    <script src="{{ app.request.basepath }}/vendor/justified-gallery/jquery.justifiedGallery.min.js"></script>
    <!-- ekko-lightbox, http://ashleydw.github.io/lightbox/ -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/ekko-lightbox/ekko-lightbox.css">
    <script src="{{ app.request.basepath }}/vendor/ekko-lightbox/ekko-lightbox.min.js"></script>
    <script>
        $( document ).ready(function() {
            // justifiedGallery
            $('.gallery').justifiedGallery();

            // ekko-lightbox
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        });

        var statsLoaded = false;
        $( document ).ready(function() {
            // dynamic tab
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr('href'); // activated tab

                if ('#stats' == target) {
                    if (!statsLoaded) {
                        var url = $(this).attr('data-url');
                        var pane = $(this), href = this.hash;

                        // ajax load from data-url
                        $(href).load(url,function(result){
                            pane.tab('show');
                            statsLoaded = true;
                        });
                    }
                }
            });
        });

        $(document).ready(function() {
            // Configure/customize these variables.
            var showChar = 300;  // How many characters are shown by default
            var ellipsestext = "...";
            var moretext = "Show more >";
            var lesstext = "Show less";


            $('.more').each(function() {
                var content = $(this).html();

                if (content.length > showChar) {

                    var c = content.substr(0, showChar);
                    var h = content.substr(showChar, content.length - showChar);

                    var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';

                    $(this).html(html);
                }
            });

            $(".morelink").click(function() {
                if ($(this).hasClass("less")) {
                    $(this).removeClass("less");
                    $(this).html(moretext);
                }
                else {
                    $(this).addClass("less");
                    $(this).html(lesstext);
                }
                $(this).parent().prev().toggle();
                $(this).prev().toggle();

                return false;
            });
        });
    </script>

    <style>
    .morecontent span {
        display: none;
    }
    .morelink {
        display: block;
    }
    </style>


    {{ map.head() }}
{% endblock %}

{% block body %}

    <div class="contentcontainer nopadding w-container">
        <div class="lefthalf">
            <div class="subheader">exhibition</div>
            <h1 class="heading">{{ exhibition.titleAppend ? exhibition.titleAppend : exhibition.title }}</h1>
            {% if exhibition.titleAppend is not empty %}
                <h2 style="margin-top: -0.8rem"><span class="small">{{ exhibition.title }}</span></h2>
            {% endif %}

            <div class="artist-information-text" style="width: 100%; margin-bottom: 2rem;">{{ exhibition.subtitle }} <br /><strong>Status: {{ catalogueStatus[exhibition.status] }}</strong></div>
            <div class="artist_information">
                {# load helper part#}
                {% embed "Exhibition/Parts/location-base-information.html.twig" %}
                {% endembed %}
            </div>
        </div>
        <div class="maphalf">
            {% embed "Exhibition/Parts/exhibitionMap.html.twig" %}
            {% endembed %}
        </div>
    </div>


    <div class="contentcontainer w-container">


        <div class="listviewrow">

            {# tabs headers #}
            {% embed "Exhibition/Parts/tabs-header.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% set exhibitionArray = location.exhibitions %}

                {% embed "Exhibition/Parts/tabcontent-catalogue-entries.html.twig" %}
                {% endembed %}

                {% set artistsArray = artists %}

                {% embed "Exhibition/Parts/tabcontent-similiar.html.twig" %}
                {% endembed %}

                {% embed "Location/Parts/tabcontent-authority.html.twig" %}
                {% endembed %}

                {% embed "Exhibition/Parts/tabcontent-information.html.twig" %}
                {% endembed %}

                {% embed "Exhibition/Parts/tabcontent-statistics.html.twig" %}
                {% endembed %}

                {#% embed "Exhibition/Parts/tabcontent-artists.html.twig" %}
                {% endembed %#}
            </div><!-- .tab-content -->
        </div>
    </div>



    {# currently not in use

    <div class="row">
        <div class="col-sm-8">




            {% if showWorks and exhibition.items is not empty %}
            <h3>Works</h3>
                <div class="gallery" style="margin-bottom: 2em">
                {% for item in exhibition.items %}
                <a href="{{ path('item', { 'id' : item.id }) }}">
                {% set preview = item.previewImg %}
                {% if preview is not null %}
                    {% set imgUrl = 'https://exhibitions05-15.kugb.univie.ac.at/uploads/' ~  preview.imgUrl('preview') %}
                {% else %}
                    {% set imgUrl = app.request.basepath ~ '/img/placeholder-image.jpg' %}
                {% endif %}
                <img src="{{ imgUrl }}" />
                <div class="caption">
                {% if item.creators is not empty %}
                    {% for creator in item.creators %}{{ creator.fullname }}{% endfor %}
                {% endif %}
                {{ item.title }}

                {% if item.displaydate is not empty %}
                    {{ item.displaydate }}
                {% else %}
                    ({{ item.earliestdate|dateincomplete }}<!-- - {{  item.latestdate|dateincomplete  }}-->})
                {% endif %}
                </div>
                </a>
                {% endfor %}
            </div>
            {% endif %}


        </div>
    </div><!-- .row -->
    #}



    <!-- Modal for shared Artists -->
    <div id="detailModal" class="modal fade" role="dialog">
      <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>
          <div class="modal-body">
            <p>Loading....</p>
          </div>
          <!--
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
          -->
        </div>
      </div>
    </div>

    <script>
    // Fill modal with content from link href
    $('#detailModal').on('show.bs.modal', function(e) {
        var link = $(e.relatedTarget);
        $(this).find('.modal-body').html('Loading...');
        $(this).find('.modal-body').load(link.attr('href'));
    });
    </script>
{% endblock %}
