{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/select2-4.0.3/css/select2.min.css" />
    <script src="{{ app.request.basepath }}/vendor/select2-4.0.3/js/select2.full.min.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.css">
    <script src="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#exhibition_filter_organizer_type').select2();
        });
    </script>
{% endblock %}

{% block body %}





    <h1 class="heading">{{ pageTitle }}</h1>


    <div class="searchbarcontainer w-form">

        <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
            <div class="searchbarinputcontainer">
                {{ form_rest(form) }}
            </div>
            <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button">
                <div class="div-block-2"><img src="{{ app.request.basepath }}/img/noun_Arrow-Down_1594877_ffffff.svg" width="75" class="image"></div>
            </div>
        </form>
    </div>



    <div class="contentcontainer w-container">


        <div class="listviewrow">

            {# tabs headers #}
            {% embed "Exhibition/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Exhibition/Parts/tabcontent-exhibition-list.html.twig" %}
                {% endembed %}

                {% embed "Exhibition/Parts/tabcontent-map.html.twig" %}
                {% endembed %}

                {% embed "Exhibition/Parts/tabcontent-stat-countries.html.twig" %}
                {% endembed %}
            </div><!-- .tab-content -->
        </div>
    </div>




    {% if 'placeSort' == sortField %}
        <script>
            $(document).ready(function() {
                var groupColumn = 2;
                var table = $('#exhibitions').DataTable({
                    paging: false,
                    searching: false,
                    info: false,
                    "columnDefs": [
                        { "visible": false, "targets": groupColumn }
                    ],
                    "order": [[ groupColumn, 'asc' ]],
                    "displayLength": 25,
                    "drawCallback": function ( settings ) {
                        var api = this.api();
                        var rows = api.rows( {page:'current'} ).nodes();
                        var last=null;

                        api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                            if ( last !== group ) {

                                $(rows).eq( i ).before(
                                    '<tr class="group groupHeader" data-name="' + group + '" ><td colspan="5"><span class="minus-collapse">-</span> '+group+'</td></tr>'
                                );

                                last = group;
                            }
                        } );
                    }
                } );


            } );
        </script>
    {% endif %}



    <script>
        $(document).ready(function() {


            // Order by the grouping
            $('#exhibitions tbody').on( 'click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                /* if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
                    table.order( [ groupColumn, 'desc' ] ).draw();
                }
                else {
                    table.order( [ groupColumn, 'asc' ] ).draw();
                }*/


                var splitGroup = $(this).data('name');

                // console.log('.collapseRow[data-rowname="' + splitGroup + '"]');

                $('.collapseRow[data-rowname="' + splitGroup + '"]').toggleClass('collapsed');


                // console.log($(this).data('name'));
                } );
        });
    </script>




{% endblock %}


