{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <div class="row">
        <div class="col-sm-8">
        {% if pagination.getTotalItemCount > 0 %}
        {{ helper.pagination_count(pagination) }}

        <div class="sort-control">
            {% set sortField = app.request.get('sort') %}
            Sort by:
            {{ knp_pagination_sortable(pagination, 'Date', 'dateSort') }}
            {{ knp_pagination_sortable(pagination, 'Place', 'placeSort') }}
        </div>

        {% set last_initial = '' %}
        {% for exhibition in pagination %}
            {% if 'placeSort' == sortField %}
                {% if exhibition.location is not null and exhibition.location.place is not null %}
                    {% set initial = exhibition.location.place.nameLocalized %}
                {% else %}
                    {% set initial = '' %}
                {% endif %}
            {% else %}
                {% set initial = slugify.slugify(person.fullname|first)|upper %}
            {% endif %}
            {% if initial != last_initial %}
                {% if last_initial != '' %}
            </ul>
                {% endif %}
            <h2>{{ initial }} </h2>
            {% set last_initial = initial %}
            <ul class="list-group">
            {% endif %}
            <li class="list-group-item">
                <a href="{{ path('exhibition', { 'id' : exhibition.id }) }}">
                    <b>{{ exhibition.title }}</b>
                </a>

                {{ helper.exhibition_period(exhibition) }}

                {% if exhibition.location is not null %}
                    {% set location = exhibition.location %}
                    <div>
                    {% if location.place is not null %}
                        <a href="{% if location.place.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : location.place.tgn }) }}{% else %}{{ path('place', { 'id' : location.place.id }) }}{% endif %}">
                        {{ location.place.nameLocalized }}
                        </a>:
                    {% endif %}
                    <a href="{{ path('location', { 'id' : location.id }) }}">
                        {{ location.name }}</a>
                    </div>
                {% endif %}
            </li>
        {% endfor %}
            </ul>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            No Exhibitions found
        {% endif %}
        </div>
        <div class="col-sm-4">
            <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                {{ form_rest(form) }}
                <input type="submit" name="submit-filter" value="filter" />
            </form>
        </div>
    </div><!-- .row -->
{% endblock %}
