{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/select2-4.0.3/css/select2.min.css" />
    <script src="{{ app.request.basepath }}/vendor/select2-4.0.3/js/select2.full.min.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.css">
    <script src="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#exhibition_filter_organizer_type').select2();
        });
    </script>
{% endblock %}

{% block body %}





<div class="w-container">

    <h1 class="heading">{{ pageTitle }}</h1>


    <div class="searchbarcontainer w-form">

        <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
            <div class="searchbarinputcontainer">
                {{ form_rest(form) }}
            </div>
            <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button">
                <div class="div-block-2"><img src="{{ app.request.basepath }}/img/noun_Arrow-Down_1594877_ffffff.svg" width="75" class="image"></div>
            </div>
        </form>
    </div>
</div>


    <div class="contentcontainer w-container">

        {% if pagination.getTotalItemCount > 0 %}
        {# helper.pagination_count(pagination) #}

        <div class="sort-control">
            {% set sortField = app.request.get('sort') %}
            Sort by:
            {{ helper.pagination_sortable(pagination, 'Date', 'dateSort') }}
            {{ helper.pagination_sortable(pagination, 'Place', 'placeSort') }}
            {{ helper.pagination_sortable(pagination, '# Cat. Entries', 'numCatEntrySort', 'desc') }}
        </div>


            <table id="exhibitions" class="table table-striped table-bordered dataTable listviewcontainer">
                <thead>
                <tr class="listviewheading">
                    <th>Date</th>
                    <th>Title</th>
                    <th>City</th>
                    <th>Venue</th>
                    <th>Number of Cat. Entries</th>
                    <th>type</th>
                </tr>
                </thead>
                <tbody>


        {% set last_initial = '' %}
        {% for row in pagination %}



            {% set exhibition = row[0] %}
            {% if 'placeSort' == sortField %}
                {% if exhibition.location is not null and exhibition.location.place is not null %}
                    {% set initial = exhibition.location.place.nameLocalized %}
                {% else %}
                    {% set initial = '' %}
                {% endif %}
            {% elseif 'numCatEntrySort' == sortField %}
                {% set initial = row['numCatEntrySort'] %}
            {% else %}
                {% set initial = slugify.slugify(person.fullname|first)|upper %}
            {% endif %}


            {% if initial != last_initial %}
                {% if last_initial != '' %}
                    {# </ul>  #}
                {% endif %}


            {% set last_initial = initial %}
                {# <ul class="list-group"> #}
            {% endif %}
            <tr class="listviewrow">
                <td class="date">
                    <b>{{ helper.exhibition_period(exhibition) }}</b>
                </td>

                <td class="title"><a href="{{ path('exhibition', { 'id' : exhibition.id }) }}">
                        <b>{{ exhibition.title }}</b> {{ exhibition.titleAppend }}</a>
                </td>

                <td class="normal">
                    <a href="{% if exhPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : exhPlace.tgn }) }}{% else %}{{ path('place', { 'id' : exhPlace.id }) }}{% endif %}">
                        {{ exhibition.location.placeLabel }}
                    </a>
                </td>

                <td class="normal">
                    <a href="{{ path('location', { 'id' : exhibition.location.id }) }}">
                        {{ exhibition.location.name }}
                    </a>
                </td>


                <td>
                    <a class="badge" style="color: white" href="#{{ divId }}" data-toggle="collapse">{{ row['numCatEntrySort'] }}</a>
                </td>
                <td>{{ exhibition.organizerType }}</td>
            </tr>


        {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            No Exhibitions found
        {% endif %}
        </div>
        <!--<div class="col-sm-4">
            <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                {{ form_rest(form) }}
                <input type="submit" name="submit-filter" value="filter" />
            </form>
        </div>-->
    </div><!-- .row -->

    {% if 'placeSort' == sortField %}
        <script>
            $(document).ready(function() {
                var groupColumn = 2;
                var table = $('#exhibitions').DataTable({
                    paging: false,
                    searching: false,
                    info: false,
                    "columnDefs": [
                        { "visible": false, "targets": groupColumn }
                    ],
                    "order": [[ groupColumn, 'asc' ]],
                    "displayLength": 25,
                    "drawCallback": function ( settings ) {
                        var api = this.api();
                        var rows = api.rows( {page:'current'} ).nodes();
                        var last=null;

                        api.column(groupColumn, {page:'current'} ).data().each( function ( group, i ) {
                            if ( last !== group ) {

                                $(rows).eq( i ).before(
                                    '<tr class="group groupHeader" data-name="' + group + '" ><td colspan="5"><span class="minus-collapse">-</span> '+group+'</td></tr>'
                                );

                                last = group;
                            }
                        } );
                    }
                } );


            } );
        </script>
    {% endif %}



    <script>
        $(document).ready(function() {


            // Order by the grouping
            $('#exhibitions tbody').on( 'click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                /* if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
                    table.order( [ groupColumn, 'desc' ] ).draw();
                }
                else {
                    table.order( [ groupColumn, 'asc' ] ).draw();
                }*/


                var splitGroup = $(this).data('name');

                // console.log('.collapseRow[data-rowname="' + splitGroup + '"]');

                $('.collapseRow[data-rowname="' + splitGroup + '"]').toggleClass('collapsed');


                // console.log($(this).data('name'));
                } );
        });
    </script>




{% endblock %}


