{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    {% import 'Shared/select2.html.twig' as select2 %}
    {{ select2.head() }}

    <script src="{{ app.request.basepath }}/js/js.cookie.js"></script>

    <script>
        $(document).ready(function() {
            // initialize select2
            $('.select2').select2();

            {{ helper.checkmark_actions(listBuilder.entity) }}
            {{ helper.indexform_actions('exhibition-save') }}
        });
    </script>

    {#% import 'Shared/datatables.html.twig' as datatables %}
    {{ datatables.head() }#}
{% endblock %}

{% block body %}
    <h1 class="heading">{{ pageTitle }}</h1>

    <form class="indexForm" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
        <div class="searchbarcontainer">
            <div class="searchbarinputcontainer">
                {{ form_widget(form.search) }}
                {{ form_widget(form.location.geoname) }}
                {{ form_widget(form.exhibition.organizer_type) }}
            </div>
            <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button submit-filter-visible">
            </div>
        </div>

        <div class="searchbarcontainer w-form hidden-form">
            <div class="searchbarinputcontainer">
                {{ form_rest(form) }}
            </div>
        </div>
    </form>

    <div class="contentcontainer w-container">
        <div class="listviewrow">
            {# tabs headers #}
            {% embed "Exhibition/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Exhibition/Parts/tabcontent-exhibition-list.html.twig" %}
                {% endembed %}

                {% embed "Exhibition/Parts/tabcontent-map.html.twig" %}
                {% endembed %}

                {% embed "Exhibition/Parts/tabcontent-stats-index.html.twig" %}
                {% endembed %}
            </div><!-- .tab-content -->
        </div>
    </div>

    <script>
        $(document).ready(function() {
            // Order by the grouping
            $('#exhibitions tbody').on( 'click', 'tr.group', function () {
                var currentOrder = table.order()[0];

                var splitGroup = $(this).data('name');

                $('.collapseRow[data-rowname="' + splitGroup + '"]').toggleClass('collapsed');
            });
        });
    </script>
{% endblock %}
