<form id="search" class="indexForm exhibitionFilterForm indexForm" action="{{ path(app.request.get('_route')) }}" method="GET">
    {% set filter = listBuilder.queryFilters %}

    <div class="searchbarcontainer">
        <div class="searchbarinputcontainer">
            <input class="text-field-class w-input search-input input-text-search" type="text" name="filter[search]" value="{{ filter.search }}" placeholder="search" />
            {{ form_widget(form.location.geoname) }}
            {{ form_widget(form.organizer.type) }}
        </div>

        <div class="searchbuttoncontainer">
            <button type="submit" id="filter_submit" name="filter[submit]" class="submit-button w-button submit-filter-visible">Search</button>
        </div>
    </div>

    {% block filters %}
        {% import 'Shared/helper.html.twig' as helper %}
        <div class="filters-heading" style="margin-top: 25px;">
            <span style="margin-right: 20px; margin-top: 7px">Additional Filters:</span>
            {%
            set entityLabels = {
                'exhibition-range': 'Exhibition Date Range',
                'exhibition-type': 'Exhibition Type',
                'person-nationality': 'Artists’ Nationality',
                'person-gender': 'Artists’ Gender'
            }
            %}
            {% for entity,label in entityLabels %}
                <button type="button" class="btn" data-toggle="collapse" data-target="#filter-panel-{{ entity }}">
                    <span class="glyphicon glyphicon-cog"></span> {{ label }}
                </button>
            {% endfor %}
            <span style="margin-left: 20px; margin-top: 7px"><a href="{{ path('search-index', { 'entity' : 'Exhibition' }) }}">Advanced Search</a></span>
        </div>

        <div class="filter-combination-container">
            {% form_theme form 'Search/bootstrap_3_adjusted.html.twig' %}
            <div style="display:none">{{ form_row(form.exhibition.exhibition) }}{# for checkbox filter #}</div>

            <div id="filter-panel-exhibition-range" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Exhibition Date Range</div>
                    <div class="panel-body">
                        {{ form_row(form.exhibition.date) }}
                    </div>
                </div>
            </div>

            <div id="filter-panel-exhibition-type" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Exhibition Type</div>
                    <div class="panel-body">
                        {{ form_row(form.exhibition.type) }}
                    </div>
                </div>
            </div>

            <div id="filter-panel-person-nationality" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Artist's Nationality</div>
                    <div class="panel-body">
                        {{ form_row(form.person.nationality) }}
                    </div>
                </div>
            </div>

            <div id="filter-panel-person-gender" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Artist's Gender</div>
                    <div class="panel-body">
                        {{ form_row(form.person.gender) }}
                    </div>
                </div>
            </div>

            {{ helper.render_active_filters(listBuilder, form, entityLabels) }}
        </div><!-- .filter-combination-container -->
    {% endblock %}
</form>