<form id="search" class="indexForm exhibitionFilterForm indexForm" action="{{ path(app.request.get('_route')) }}" method="GET">
    {% set filter = listBuilder.queryFilters %}

    <div class="searchbarcontainer">
        <div class="searchbarinputcontainer">
            <input class="text-field-class w-input search-input input-text-search" type="text" name="filter[search]" value="{{ filter.search }}" placeholder="search" />
            <!-- {{ form_widget(form.search) }} -->
            {{ form_widget(form.person.nationality) }}
            {{ form_widget(form.person.gender) }}
        </div>

        <div class="searchbuttoncontainer">
            <button type="submit" id="filter_submit" name="filter[submit]" class="submit-button w-button submit-filter-visible">Search</button>
        </div>
    </div>

    {% block filters %}
        <div class="filters-heading" style="margin-top: 25px;">
            <span style="margin-right: 20px; margin-top: 7px">Additional Filters:</span>

            {% set entityLabels = {
                'exhibition-type': 'Org. Body of Exhibition',
                'person-birth': 'Birth Year of Artists',
                'person-death': 'Death Year of Artists',
            } %}

            {% for entity,label in entityLabels %}
                <button type="button" class="btn" data-toggle="collapse" data-target="#filter-panel-{{ entity }}">
                    <span class="glyphicon glyphicon-cog"></span> {{ label }}
                </button>
            {% endfor %}
        </div>

        <div class="filter-combination-container">
            {% form_theme form 'Search/bootstrap_3_adjusted.html.twig' %}
            <div style="display:none">{{ form_row(form.person.person) }}{# for checkbox filter #}</div>

            <div id="filter-panel-exhibition-type" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Org. Body of Exhibition</div>
                    <div class="panel-body">
                        {{ form_row(form.exhibition.organizer_type) }}
                    </div>
                </div>
            </div>

            <div id="filter-panel-person-birth" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Birth Year of Artists</div>
                    <div class="panel-body">
                        {{ form_row(form.person.birthdate) }}
                    </div>
                </div>
            </div>

            <div id="filter-panel-person-death" class="collapse filter-panel">
                <div class="panel panel-default">
                    <div class="panel-heading">Death Year of Artists</div>
                    <div class="panel-body">
                        {{ form_row(form.person.deathdate) }}
                    </div>
                </div>
            </div>

            {{ helper.render_active_filters(listBuilder, form, entityLabels) }}
        </div><!-- .filter-combination-container -->

    {% endblock %}
</form>