{% extends 'Base/base.html.twig' %}

{% import 'Shared/map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}
{% endblock %}

{% block body %}
    {% set path = place.path(em) %}
    {% if path is not empty %}
    <div class="smaller">
        {% for child in path %}
        <a href="{% if false and child.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : child.tgn }) }}{% else %}{{ path('place', { 'id' : child.id }) }}{% endif %}">
        {{ child.nameLocalized(app.request.locale) }}
        </a>
        {% if not loop.last %} &gt; {% endif %}
    {% endfor %}
    </div>
    {% endif %}
    <h1>
        {{ place.nameLocalized(app.request.locale) }}
    </h1>
    <div class="row">
        <div class="col-sm-8">
        {% set childrenByType = place.getChildrenByType(em) %}
        {% if childrenByType|length > 0 %}
            {% for type, children in childrenByType %}
            <h3>{{ type }}{#{ type|placeTypeLabel(children|length)|trans }#}</h3>
            <ul class="list-group">
                {% for child in childrenByType[type] %}
                <li class="list-group-item">
                    <a href="{% if false and child.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : child.tgn }) }}{% else %}{{ path('place', { 'id' : child.id }) }}{% endif %}">
                    {{ child.nameLocalized(app.request.locale) }}
                    </a>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        {% endif %}

        {% if place.locations is not empty %}
        <h3>Venues</h3>
        <ul class="list-group">
        {% for location in place.locations %}
            <li class="list-group-item">
                <a href="{{ path('location', { 'id' : location.id }) }}">
                {{ location.name }}
                </a>
            </li>
        {% endfor %}
        </ul>
        {% endif %}
        </div>

        <div class="col-sm-4 sidebar">
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>
                            {% if place.tgn is not empty %}
                            {{ 'Getty Thesaurus of Geographic Names'|trans }}
                            <br /><a href="http://vocab.getty.edu/page/tgn/{{ place.tgn }}" target="_blank">{{ place.tgn }}</a>
                            {% else %}
                            {{ 'Additional Information'|trans }}
                            {% endif %}
                        </h4>
                    </div>
                </div>

            {#{ dump(place.additional )}#}
            {% if place.geo is not empty or place.additional.boundary is not empty %}
            <div id="map" class="col-sm-12" style="width: 100%; min-height: 360px"></div>
            <script>
            function adjustMapSize() {
                /*
                $('#map').height(function(index, height) {
                    return window.innerHeight - $(this).offset().top;
                });
                */
            }

            $( window ).resize(adjustMapSize);
            adjustMapSize();

            var map = L.map('map');

            var bounds = null;
            {% if place.additional.bounds is not empty %}
                bounds = {{ place.additional.bounds|json_encode|raw }};
            {% elseif place.geo is not null %}
                {% if place.showCenterMarker(em) %}
                    L.marker([ {{ place.geo }} ]).addTo(map);
                    map.setView([{{ place.geo }}], {{ place.defaultZoomlevel }});
                {% else %}
                    map.setView([{{ place.geo }}], 3);
                {% endif %}
            {% endif %}

            {{ map.addTileLayer() }}

            {% if place.additional.boundary is not empty %}
                var boundary = {{ place.additional.boundary|json_encode|raw }};
                var geojsonLayer = L.geoJSON(boundary).addTo(map);
                if (bounds == null) {
                    bounds = geojsonLayer.getBounds();
                }
            {% endif %}
            if (bounds != null) {
                map.fitBounds(bounds);
            }
            </script>
            {% endif %}
        </div>
        </div>
    </div><!-- .row -->
{% endblock %}
