{% extends 'Base/base.html.twig' %}

{% import 'Shared/map-leaflet.html.twig' as map %}
{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    {{ map.head() }}
{% endblock %}

{% block body %}
    {% set path = place.path(em) %}
    {% if path is not empty %}
    <div class="smaller">
        {% for child in path %}
            {{ helper.place_linked(child) }}
            {% if not loop.last %} &gt; {% endif %}
        {% endfor %}
    </div>
    {% endif %}
    <h1>
        {{ place.nameLocalized(app.request.locale) }}
    </h1>
    <div class="row">
        <div class="col-sm-8">
        {% set childrenByType = place.getChildrenByType(em) %}
        {% if childrenByType|length > 0 %}
            {% for type, children in childrenByType %}
            <h3>{{ type }}{#{ type|placeTypeLabel(children|length)|trans }#}</h3>
            <ul class="list-group">
                {% for child in childrenByType[type] %}
                <li class="list-group-item">
                    {{ helper.place_linked(child) }}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        {% endif %}

        {% if place.locations is not empty %}
        <h3>Venues</h3>
        <ul class="list-group">
        {% for location in place.locations %}
            <li class="list-group-item">
                <a href="{{ path('location', { 'id' : location.id }) }}">
                    <b>{{ location.name }}</b>
                </a>
            {% set count = location.exhibitions|length %}
            {% if count > 0 %}
                {% set divId = 'exhibitions' ~ location. id %}
                <a class="badge" style="color: white" href="#{{ divId }}" data-toggle="collapse">{{ count }}</a>
                <div id="{{ divId }}" class="collapse">
                {% for exhibition in location.exhibitions %}
                    <p>
                        {{ helper.exhibition_period(exhibition) }}
                        <a href="{{ path('exhibition', { 'id' : exhibition.id }) }}">
                           <b>{{ exhibition.title }}</b>
                           {{ exhibition.titleAppend }}
                        </a>
                    </p>
                {% endfor %}
                </div>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% endif %}

        {% if persons is not empty %}
        <h3>Artists</h3>
        <ul class="list-group">
        {% for person in persons %}
            <li class="list-group-item">
                {{ helper.person_list_item(person) }}
            </li>
        {% endfor %}
        </ul>
        {% endif %}
        </div>
        <div class="col-sm-4 sidebar">
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>
                            {% if place.tgn is not empty %}
                            {{ 'Getty Thesaurus of Geographic Names'|trans }}
                            <br /><a href="http://vocab.getty.edu/page/tgn/{{ place.tgn }}" target="_blank">{{ place.tgn }}</a>
                            {% else %}
                            {{ 'Additional Information'|trans }}
                            {% endif %}
                        </h4>
                    </div>
                </div>

            {#{ dump(place.additional )}#}
            {% if place.geo is not empty or place.additional.boundary is not empty %}
            <div id="map" class="col-sm-12" style="width: 100%; min-height: 360px"></div>
            <script>
            function adjustMapSize() {
                /*
                $('#map').height(function(index, height) {
                    return window.innerHeight - $(this).offset().top;
                });
                */
            }

            $( window ).resize(adjustMapSize);
            adjustMapSize();

            var map = L.map('map');

            var bounds = null;
            {% if place.additional.bounds is not empty %}
                bounds = {{ place.additional.bounds|json_encode|raw }};
            {% elseif place.geo is not null %}
                {% if place.showCenterMarker(em) %}
                    L.marker([ {{ place.geo }} ]).addTo(map);
                    map.setView([{{ place.geo }}], {{ place.defaultZoomlevel }});
                {% else %}
                    map.setView([{{ place.geo }}], 3);
                {% endif %}
            {% endif %}

            {{ map.addTileLayer() }}

            {% if place.additional.boundary is not empty %}
                var boundary = {{ place.additional.boundary|json_encode|raw }};
                var geojsonLayer = L.geoJSON(boundary).addTo(map);
                if (bounds == null) {
                    bounds = geojsonLayer.getBounds();
                }
            {% endif %}
            if (bounds != null) {
                map.fitBounds(bounds);
            }
            </script>
            {% endif %}
        </div>
        </div>
    </div><!-- .row -->
{% endblock %}
