{% extends 'Base/base.html.twig' %}

{% import 'Shared/map-leaflet.html.twig' as map %}
{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    {{ map.head() }}
{% endblock %}

{% block body %}
    {% set path = place.path(em) %}

    {% if path is not empty %}
    <div class="contentcontainer nopadding w-container">
        <div class="lefthalf">
            <div class="subheader">{% for child in path %}
                    {#{ helper.place_linked(child) }#}
                    {{ child.nameLocalized(app.request.locale) }}
                    {% if not loop.last %} &gt; {% endif %}
                {% endfor %}</div>
            <h1 class="heading">{{ place.nameLocalized(app.request.locale) }}</h1>

            <div class="artist_information">
                {% embed "Place/Parts/place-base-information.html.twig" %}
                {% endembed %}
            </div>
        </div>
        <div class="maphalf">
            {% embed "Place/Parts/locationMap.html.twig" %}
            {% endembed %}
        </div>
    </div>
    {% endif %}

    <div class="contentcontainer w-container">
        <div class="listviewrow">
            {# tabs headers #}
            {% embed "Place/Parts/tabs-header.html.twig" %}
            {% endembed %}

            <div class="tab-content">
            {% set active = true %}
            {% if exhibitions|length > 0 %}
                {% embed "Place/Parts/tabcontent-exhibitions.html.twig" %}
                {% endembed %}
                {% set active = false %}
            {% endif %}

            {% if persons|length > 0 %}
                {% set artistsArray = persons %}
                {% embed "Place/Parts/tabcontent-artists.html.twig" %}
                {% endembed %}
                {% set active = false %}
            {% endif %}

            {% if  venues|length > 0 %}
                {% embed "Place/Parts/tabcontent-venues.html.twig" %}
                {% endembed %}
                {% set active = false %}
            {% endif %}

            {% if  organizers|length > 0 %}
                {% embed "Place/Parts/tabcontent-organizers.html.twig" %}
                {% endembed %}
                {% set active = false %}
            {% endif %}

            {% embed "Place/Parts/tabcontent-statistics.html.twig" %}
            {% endembed %}
            </div><!-- .tab-content -->
        </div>
    </div>

    {{ helper.active_tab_from_hash() }}

    {{ helper.render_place_citation(place) }}
{% endblock %}
