{% extends 'Base/base.html.twig' %}


{% import 'Shared/map-leaflet.html.twig' as map %}
{% import 'Shared/helper.html.twig' as helper %}

{% block head %}

    {{ map.head() }}
{% endblock %}

{% block body %}
    {% set path = place.path(em) %}
    {% if path is not empty %}
    <div class="smaller">
        {% for child in path %}
            {{ helper.place_linked(child) }}
            {% if not loop.last %} &gt; {% endif %}
        {% endfor %}
    </div>


    <div class="contentcontainer nopadding w-container">
        <div class="lefthalf">
            <div class="subheader">place</div>
            <h1 class="heading">{{ place.nameLocalized(app.request.locale) }}</h1>

        </div>
        <div class="maphalf">
            {% embed "Place/Parts/locationMap.html.twig" %}
            {% endembed %}
        </div>
    </div>


    {% endif %}

    <div class="contentcontainer w-container">


        <div class="listviewrow">

            {# tabs headers #}
            {% embed "Place/Parts/tabs-header.html.twig" %}
            {% endembed %}

            <div class="tab-content">

                {#
                 {% embed "Shared/Parts/tabcontent-exhibitions.html.twig" %}
                {% endembed %}
#}

                {% set artistsArray = persons %}
                {% embed "Place/Parts/tabcontent-artists.html.twig" %}
                {% endembed %}






            </div><!-- .tab-content -->
        </div>
    </div>

    <div class="row">
        <div class="col-sm-8">
        {% set childrenByType = place.getChildrenByType(em) %}
        {% if childrenByType|length > 0 %}
            {% for type, children in childrenByType %}
            <h3>{{ type }}{#{ type|placeTypeLabel(children|length)|trans }#}</h3>
            <ul class="list-group">
                {% for child in childrenByType[type] %}
                <li class="list-group-item">
                    {{ helper.place_linked(child) }}
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        {% endif %}

        {% set venues = place.venues %}
        {% if venues is not empty %}
        <h3>Venues</h3>
        <ul class="list-group">
        {% for location in venues %}
            <li class="list-group-item">
                <a href="{{ path('location', { 'id' : location.id }) }}">
                    <b>{{ location.name }}</b>
                </a>
            {% set count = location.exhibitions|length %}
            {% if count > 0 %}
                {% set divId = 'exhibitions' ~ location. id %}
                {% set numEntries = 0 %}
                {% for exhibition in location.exhibitions %}
                    {% if exhibitionStats[ exhibition.id ] is defined and exhibitionStats[exhibition.id].numCatEntrySort > 0 %}
                        {% set numEntries = numEntries + exhibitionStats[exhibition.id].numCatEntrySort %}
                    {% endif %}
                {% endfor %}

                <a class="badge" style="color: white" href="#{{ divId }}" data-toggle="collapse">{{ count }} - {{ numEntries }}</a>
                <div id="{{ divId }}" class="collapse">
                {% for exhibition in location.exhibitions %}
                    <p>
                        {{ helper.exhibition_period(exhibition) }}
                        <a href="{{ path('exhibition', { 'id' : exhibition.id }) }}"><b>{{ exhibition.title }}</b>{{ exhibition.titleAppend }}</a>{% if exhibitionStats[ exhibition.id ] is defined and exhibitionStats[exhibition.id].numCatEntrySort > 0 -%}, {{ exhibitionStats[exhibition.id].numCatEntrySort }} entr. by {{ exhibitionStats[exhibition.id].numPersonSort }} art.{% endif %}
                    </p>
                {% endfor %}
                </div>
            {% endif %}
            </li>
        {% endfor %}
        </ul>
        {% endif %}


        {#
        <div class="col-sm-4 sidebar">
            <div class="container-fluid box">
                <div class="row box-color-title">
                    <div class="col-sm-12">
                        <h4>
                            {% if place.tgn is not empty %}
                            {{ 'Getty Thesaurus of Geographic Names'|trans }}
                            <br /><a href="http://vocab.getty.edu/page/tgn/{{ place.tgn }}" target="_blank">{{ place.tgn }}</a>
                            {% else %}
                            {{ 'Additional Information'|trans }}
                            {% endif %}
                        </h4>
                    </div>
                </div>


        </div>
        #}
        </div>
    </div><!-- .row -->
{% endblock %}
