{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block body %}
    <div class="w-container">
        <h1 class="heading">{{ 'Places' | trans }}</h1>

        <div class="searchbarcontainer w-form">
            <form class="filter places-filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                <div class="searchbarinputcontainer">
                    {{ form_rest(form) }}
                </div>
                <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button"></div>
            </form>
        </div>
    </div>

    <div class="contentcontainer w-container">
        <div class="col-sm-12">
        {% if pagination.getTotalItemCount > 0 %}

        <table id="exhibitions" class="table table-striped table-bordered dataTable listviewcontainer">
            <thead>
            <tr class="listviewheading">
                <th>{{ helper.pagination_sortable(pagination, 'Name', 'nameSort') }}</th>
                <th>{{ helper.pagination_sortable(pagination, 'Country', 'countrySort') }}</th>
                <th>{{ helper.pagination_sortable(pagination, '# Exhibitions', 'numExhibitionSort', 'desc') }}</th>
                <th>{{ helper.pagination_sortable(pagination, '# Cat. Entries', 'numCatEntrySort', 'desc') }}</th>
            </tr>
            </thead>
            <tbody>


        {% set last_initial = '' %}
        {% for row in pagination %}
            {% set place = row[0] %}

            <tr class="listviewrow">
                <td class="title">
                    {{ helper.place_linked(place) }}
                </td>

                <td class="normal">
                    {{ countryName(place.countryCode) }}
                </td>

                <td class="normal">
                    {{ row['numExhibitionSort'] }}
                </td>

                <td class="normal">
                    {{ row['numCatEntrySort'] }}
                </td>
            </tr>
        {% endfor %}
            </tbody>

        </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            No matching places found
        {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}
