{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}
{% import 'Shared/map-leaflet.html.twig' as map %}

{% block head %}
    <!-- justifiedGallery, http://miromannino.github.io/Justified-Gallery/ -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/justified-gallery/justifiedGallery.min.css">
    <script src="{{ app.request.basepath }}/vendor/justified-gallery/jquery.justifiedGallery.min.js"></script>
    <!-- ekko-lightbox, http://ashleydw.github.io/lightbox/ -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/ekko-lightbox/ekko-lightbox.css">
    <script src="{{ app.request.basepath }}/vendor/ekko-lightbox/ekko-lightbox.min.js"></script>

    {% import 'Shared/datatables.html.twig' as datatables %}
    {{ datatables.head() }}
    <script>
        $(document).ready(function() {
            $('.gallery').justifiedGallery();

            // ekko-lightbox
            $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        })
    </script>

    {{ map.head() }}
    <script src="{{ app.request.basepath }}/js/seealso.js"></script>
    <script>
        var service = new SeeAlsoCollection();
        service.services = {
            'pndaks' : new SeeAlsoService('https://beacon.findbuch.de/seealso/pnd-aks/-lemo@ap/-dome')
        };
        service.views = {
            'seealso-ul' : new SeeAlsoUL({
                linkTarget: '_blank',
                maxItems: 100
            })
        };
        service.replaceTagsOnLoad();
    </script>

    <style>
        .tooltip {
            font-family: inherit;
            background-color: white;
            border-color: rgb(164, 177, 186);
        }

        .tooltip-inner {
            color: rgb(164, 177, 186);
            text-align: left;
            background-color: white;
        }

        .tooltip.in {
            opacity: 1;
            filter: alpha(opacity=100);
        }
    </style>
{% endblock %}

{% block body %}
    <div class="contentcontainer nopadding w-container">
        <div class="lefthalf">
            <div class="subheader">artist</div>
            <h1 class="heading">{{ person.fullname(true) }}</h1>
            <div class="artist_information">
                {# load helper part #}
                {% embed "Person/Parts/artist-base-information.html.twig" %}
                {% endembed %}
            </div>

            {%  if person.description is not empty %}
                <p class="artist-text">{{ person.description|nl2br  }}</p>
            {% endif %}
        </div>
        <div class="maphalf">
            {% embed "Person/Parts/mapPerson.html.twig" %}
            {% endembed %}
        </div>
    </div>

    <div class="contentcontainer w-container">
         <div class="listviewrow">
                {% if person.exhibitions|length > 0 %}

                    {# tabs headers #}
                    {% embed "Person/Parts/tabs-header.html.twig" %}
                    {% endembed %}

                    <div class="tab-content">

                        {% set exhibitionArray = person.exhibitions %}
                        {% embed "Person/Parts/tabcontent-exhibitions.html.twig" %}
                        {% endembed %}

                        {% embed "Person/Parts/tabcontent-catalogue-entries.html.twig" %}
                        {% endembed %}

                        {% embed "Person/Parts/tabcontent-similiar.html.twig" %}
                        {% endembed %}

                        {% embed "Person/Parts/tabcontent-authority.html.twig" %}
                        {% endembed %}


                        {% embed "Person/Parts/tabcontent-statistics.html.twig" %}
                        {% endembed %}

                    </div><!-- .tab-content -->
                {% endif %}
            </div>
    </div>

    {#
    <div class="row">
        <div class="col-sm-8 person-description">
            {% if showWorks and person.items is not empty %}
            <h3>Works</h3>
            <div class="gallery">
                {% for item in person.items %}
            <a href="{{ path('item', { 'id' : item.id }) }}">
                {% set preview = item.previewImg %}
                {% if preview is not null %}
                    {% set imgUrl = 'https://exhibitions05-15.kugb.univie.ac.at/uploads/' ~  preview.imgUrl('preview') %}
                {% else %}
                    {% set imgUrl = app.request.basepath ~ '/img/placeholder-image.jpg' %}
                {% endif %}
                <img src="{{ imgUrl }}" />
                <div class="caption">
                {{ item.title }}

                {% if item.displaydate is not empty %}
                    {{ item.displaydate }}
                {% else %}
                    ({{ item.earliestdate|dateincomplete }}})
                {% endif %}
                </div>
            </a>
                {% endfor %}
            </div>
        {% endif %}


        <div class="col-sm-4 sidebar">
            {% set entityfacts = person.entityfacts %}
            {% if entityfacts is not empty %}
                {% if entityfacts.person.depiction is defined %}
                        <a href="{{ entityfacts.person.depiction.url }}" target="_blank">
                            <img src="{{ entityfacts.person.depiction.image }}" itemprop="image" style="max-width: 100%; margin-bottom: 5px;" />
                        </a><br />
                        Quelle:  <a href="{{ entityfacts.person.depiction.url }}" target="_blank">Wikimedia</a><br />
                        Informationen zum Lizenzstatus dieser Abbildung können durch Anklicken der Abbildung abgerufen werden.
                {% endif %}
            {% endif %}

        </div>
    </div><!-- .row -->
    #}

    {{ helper.render_person_citation(person) }}

    <!-- Modal for shared Exhibitions -->
    <div id="detailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Loading....</p>
                </div>
            </div>
        </div>
    </div>

    <script>
    // Fill modal with content from link href
    $('#detailModal').on('show.bs.modal', function(e) {
        var link = $(e.relatedTarget);
        $(this).find('.modal-body').html('Loading...');
        $(this).find('.modal-body').load(link.attr('href'));
    });
    </script>
{% endblock %}
