{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <div class="row">
        <div class="col-sm-8">
        {% if pagination.getTotalItemCount > 0 %}
        {{ helper.pagination_count(pagination) }}

        <div class="sort-control">
            {% set sortField = app.request.get('sort') %}
            Sort by:
            {{ knp_pagination_sortable(pagination, 'Name', 'nameSort') }}
            {{ knp_pagination_sortable(pagination, 'Birth', 'P.birthDate') }}
        </div>

        {% set last_initial = '' %}
        {% for person in pagination %}
            {% if 'P.birthDate' == sortField %}
                {% set initial = person.birthDate|datedecade %}
            {% else %}
                {% set initial = slugify.slugify(person.fullname|first)|upper %}
            {% endif %}
            {% if initial != last_initial %}
                {% if last_initial != '' %}
            </ul>
                {% endif %}
            <h2>{{ initial }} </h2>
            {% set last_initial = initial %}
            <ul class="list-group">
            {% endif %}
            <li class="list-group-item">
                {{ helper.person_list_item(person) }}
            </li>
        {% endfor %}
            </ul>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            No persons found
        {% endif %}
        </div>
        <div class="col-sm-4">
            <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                {{ form_rest(form) }}
                <input type="submit" name="submit-filter" value="filter" />
            </form>
        </div>
    </div><!-- .row -->
{% endblock %}
