{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block body %}

    <div class="w-container">

        <h1 class="heading">{{ pageTitle }}</h1>


        <div class="searchbarcontainer w-form">

            <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                <div class="searchbarinputcontainer">
                    {{ form_rest(form) }}
                </div>
                <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button">
                    <div class="div-block-2"><img src="{{ app.request.basepath }}/img/noun_Arrow-Down_1594877_ffffff.svg" width="75" class="image"></div>
                </div>
            </form>
        </div>
    </div>


    <div class="contentcontainer w-container">
        <div class="col-sm-12">
        {% if pagination.getTotalItemCount > 0 %}
        {# helper.pagination_count(pagination) #}

        <div class="sort-control">
            {% set sortField = app.request.get('sort') %}
            Sort by:
            {{ helper.pagination_sortable(pagination, 'Name', 'nameSort') }}
            {{ helper.pagination_sortable(pagination, 'Birth', 'P.birthDate') }}
            {{ helper.pagination_sortable(pagination, 'Death', 'P.deathDate') }}
            {{ helper.pagination_sortable(pagination, '# Exhibitions', 'numExhibitionSort', 'desc') }}
            {{ helper.pagination_sortable(pagination, '# Cat. Entries', 'numCatEntrySort', 'desc') }}
        </div>

        {% set last_initial = '' %}
        {% for row in pagination %}
            {% set person = row[0] %}
            {% if 'P.birthDate' == sortField %}
                {% set initial = person.birthDate|datedecade %}
            {% elseif 'P.deathDate' == sortField %}
                {% set initial = person.deathDate|datedecade %}
            {% elseif 'numExhibitionSort' == sortField %}
                {% set initial = row['numExhibitionSort'] %}
            {% elseif 'numCatEntrySort' == sortField %}
                {% set initial = row['numCatEntrySort'] %}
            {% else %}
                {% set initial = slugify.slugify(person.fullname|first)|upper %}
            {% endif %}
            {% if initial != last_initial %}
                {% if last_initial != '' %}
            </ul>
                {% endif %}
            <h2 class="artist-first-letter">{{ initial }}</h2>
            {% set last_initial = initial %}
            <ul class="list-group">
            {% endif %}
            <li class="list-group-item">
                {{ helper.person_list_item(person) }}{% if row['numExhibitionSort'] > 0 %}, {{ row['numExhibitionSort'] }} exh., {{ row['numCatEntrySort'] }} entr.{% endif %}
            </li>
        {% endfor %}
            </ul>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        {% else %}
            No persons found
        {% endif %}
        </div>

    </div><!-- .row -->
{% endblock %}
