{# variantName #}
{% if person.variantName is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Name Variants'|trans }}:</div>
        <div class="artist-information-text">
            {{ person.variantName|replace({ "\r": '', "\n": '; ' }) }}
        </div>
    </div>
{% endif %}
{% if person.variantNameUlan is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Name Variants (ULAN)'|trans }}:</div>
        <div class="artist-information-text">
            {{ person.variantNameUlan|replace({ "\r": '', "\n": '; ' }) }}
        </div>
    </div>
{% endif %}


{# gender #}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Gender'|trans }}:</div>
        <div class="artist-information-text">
            {% if person.gender == 'M' %}
                male
            {% elseif person.gender == 'F' %}
                female
            {% else %}
                [unknown]
            {% endif %}
        </div>
    </div>

{# birth place and date #}
{% set birthPlace = person.birthPlaceInfo(app.request.locale) %}
{% if birthPlace is not empty or person.birthDate is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Born'|trans }}:</div>
        <div class="artist-information-text">{{ person.birthDate|dateincomplete -}}
            {% if birthPlace is not empty %}{% if person.birthDate is not empty %}{{- ',' }}{% endif %}
                {% if birthPlace.id is not empty %}
                    <a href="{% if birthPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : birthPlace.tgn }) }}{% else %}{{ path('place', { 'id' : birthPlace.id }) }}{% endif %}">
                        {{ birthPlace['name'] }}
                    </a>
                {% else %}
                    {{ birthPlace['name'] }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}

{# death place and date #}
{% set deathPlace = person.deathPlaceInfo(app.request.locale) %}
{% if deathPlace is not empty or person.deathDate is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Died'|trans }}:</div>
        <div class="artist-information-text">{{ person.deathDate|dateincomplete -}}
            {% if deathPlace is not empty %}{% if person.deathDate is not empty %}{{- ',' }}{% endif %}
                {% if deathPlace.id is not empty %}
                    <a href="{% if deathPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : deathPlace.tgn }) }}{% else %}{{ path('place', { 'id' : deathPlace.id }) }}{% endif %}">
                        {{ deathPlace['name'] }}
                    </a>
                {% else %}
                    {{ deathPlace['name'] }}
                {% endif %}
            {% endif %}
        </div>
    </div>
{% endif %}

<div class="artist-information-container">
    <div class="artist-information-label">{{ 'Nationality'|trans }}:</div>
    <div class="artist-information-text">
        {% if person.nationality is sameas(false) or person.nationality == null %}
            [unknown]
        {% else %}
            {{ countryArray[person.nationality] -}}
        {% endif %}
    </div>
</div>

{# addresses #}


{% set addresses = person.addressesSeparated(null, true) %}
{% if addresses is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Places of Activity'|trans }}:</div>
        <div class="artist-information-text">
            {% for address in addresses %}
                {{ address['info']|replace({ "%basepath%" : app.request.basepath })|replace({ "\n" : ", " })|raw }}<br />
            {% endfor %}
        </div>
    </div>
{% endif %}

{# url #}
{% if person.url is not empty %}
    <div class="artist-information-container">
        <div class="artist-information-label">{{ 'Homepage'|trans }}:</div>
        <div class="artist-information-text"><a href="{{ person.url }}" target="_blank">{{ person.url|prettifyurl }}</a></div>
    </div>
{% endif %}

<div class="artist-information-container-quickstat">
    <div class="artist-information-label">Quickstats</div>
    <div class="statcontainer">
        <div class="artist-information-text-stats">Exhibitions: {{ dataNumberOfExhibitionsPerYear[2] }}</div>
        <div class="artist-information-text-stats">Catalogue Entries: {{ catalogueEntries|length }}</div>
        <div class="artist-information-text-stats">Exhibiting Countries: {{ dataNumberOfExhibitionsPerCountry[2] }}</div>
        <div class="artist-information-text-stats">Exhibiting Cities: {{ dataNumberOfExhibitionsPerCity[2] }}</div>
    </div>
</div>