<div role="tabpanel" class="tab-pane mappane" id="map">

    {% import 'Shared/map-leaflet.html.twig' as map %}

    {{ map.head() }}
    {{ map.head_markercluster() }}
    {{ map.head_heatmap() }}

    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/select2-4.0.3/css/select2.min.css" />
    <script src="{{ app.request.basepath }}/vendor/select2-4.0.3/js/select2.full.min.js"></script>


    {%  set countriesQuery = '' %}
    {%  set genderQuery = 'any' %}
    {%  set stringQuery = 'any' %}


    {% if nationalities|length %}
        {% set countriesQuery = nationalities %}
    {% endif %}

    {% if gender|length %}
        {% set genderQuery = gender %}
    {% endif %}

    {% if stringPart|length %}
        {% set stringQuery = stringPart %}
    {% endif %}

    {% set artistBirthDateLeft = 'any' %}
    {% set artistBirthDateRight = 'any' %}

    {% set artistDeathDateLeft = 'any' %}
    {% set artistDeathDateRight = 'any' %}

    {% if birthDate['left_date'] %}
        {% set artistBirthDateLeft = birthDate['left_date']|date('Y-m-d') %}
        {% set artistBirthDateRight = birthDate['right_date']|date('Y-m-d') %}
    {% endif %}

    {% if deathDate['left_date'] %}
        {% set artistDeathDateLeft = deathDate['left_date']|date('Y-m-d') %}
        {% set artistDeathDateRight = deathDate['right_date']|date('Y-m-d') %}
    {% endif %}



    {{ render_hinclude(controller('AppBundle\\Controller\\MapController::birthDeathPlacesIndex', {countriesQuery: countriesQuery, genderQuery: genderQuery, stringQuery: stringQuery, currIds: ids, exhibitionCountries: exhibitionCountries, organizerTypesQuery: organizerTypesQuery, artistBirthDateLeft: artistBirthDateLeft, artistBirthDateRight: artistBirthDateRight, artistDeathDateLeft: artistDeathDateLeft, artistDeathDateRight: artistDeathDateRight}), {'default': 'Loading...'}) }}
</div>
