{% block exhibitions %}
    {% import 'Shared/helper.html.twig' as helper %}
    {% import 'Shared/datatables.html.twig' as datatables %}
    {{ datatables.head() }}

    <script>
        $( document ).ready(function() {
            $('#exhibitions').DataTable({
                dom: 'ilrtp',
                responsive: true,
                paging: true,
                pageLength: 25,
                searching: false,
                info: true,
                order: [[ 0, "asc" ]],
                columns: [
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "asc", "desc" ] }
                ]
            });
        })
    </script>

    <div role="tabpanel" class="tab-pane active" id="home">

        <table id="exhibitions" class="table table-striped table-bordered dataTable listviewcontainer">
            <thead>
            <tr class="listviewheading">
                <th class="all">Date</th>
                <th class="all">Title</th>
                <th class="all">City</th>
                <th class="min-tablet-p">Venue</th>
                <th class="min-tablet-p"># of Cat. Entries</th>
                <th class="min-tablet-p">Type </th>
            </tr>
            </thead>

            <tbody>
            {% for exhibition in person.getExhibitions(-1) %}
                <tr class="listviewrow">
                    <td class="date" data-order="{{ exhibition.startdate }}"><b>{{ helper.exhibition_period(exhibition) }}</b></td>
                    <td class="title">
                        <a href="{{ path('exhibition', { 'id' : exhibition.id }) }}">
                            <b>{{ exhibition.title }}</b> {{ exhibition.titleAppend }}
                        </a>
                    </td>
                    <td class="normal">
                        {% set place = exhibition.location.place %}
                        {% if place is not null %}
                        <a href="{% if place.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : place.tgn }) }}{% else %}{{ path('place', { 'id' : place.id }) }}{% endif %}">
                            {{ exhibition.location.placeLabel }}
                        </a>
                        {% else %}
                            {{ exhibition.location.placeLabel }}
                        {% endif %}
                    </td>
                    <td class="normal" data-order="{{ exhibition.location.name }}">
                        {{ helper.location_linked(exhibition.location) }}
                    </td>
                    <td>
                        {% if catalogueEntriesByExhibition[exhibition.id] is defined %}
                            {% set count = catalogueEntriesByExhibition[exhibition.id]|length %}
                            {% if count > 0 %}
                                {% set divId = 'entries' ~ exhibition.id %}
                                {{ count }}
                            {% endif %}
                        {% endif %}
                    </td>
                    <td>{{ exhibition.organizerType }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div><!-- .tab-pane -->
{% endblock %}