<div role="tabpanel" class="tab-pane" id="stats">


    <script src="{{ app.request.basepath }}/vendor/highcharts/highcharts.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/exporting.js"></script>
    <script src="{{ app.request.basepath }}/vendor/highcharts/modules/heatmap.js"></script>
    <script src="{{ app.request.basepath }}/js/highchart_custom_theme.js"></script>




    {%  set countriesQuery = '' %}
    {%  set genderQuery = 'any' %}
    {%  set stringQuery = 'any' %}



    {% if nationalities|length %}
        {% set countriesQuery = nationalities %}
    {% endif %}

    {% if gender|length %}
        {% set genderQuery = gender %}
    {% endif %}

    {% if stringPart|length %}
        {% set stringQuery = stringPart %}
    {% endif %}

    {{ render_hinclude(controller('AppBundle\\Controller\\StatisticsController::personByYearActionPart', {countriesQuery: countriesQuery, genderQuery: genderQuery, stringQuery: stringQuery}), {'default': 'Loading... <br/>'}) }}
    {{ render_hinclude(controller('AppBundle\\Controller\\StatisticsController::personExhibitionAgeActionPart', {countriesQuery: countriesQuery, genderQuery: genderQuery, stringQuery: stringQuery}), {'default': 'Loading... <br/>'}) }}
    {{ render_hinclude(controller('AppBundle\\Controller\\StatisticsController::exhibitionPerPersonPart', {countriesQuery: countriesQuery, genderQuery: genderQuery, stringQuery: stringQuery}), {'default': 'Loading... <br/>'}) }}
    {{ render_hinclude(controller('AppBundle\\Controller\\StatisticsController::personsWikipediaPart', {countriesQuery: countriesQuery, genderQuery: genderQuery, stringQuery: stringQuery}), {'default': 'Loading... <br/>'}) }}


</div>