{% block entries %}
    {% import 'Shared/datatables.html.twig' as datatables %}
    {{ datatables.head() }}

    <style>
        .collapsed {
            display: none;
        }
    </style>
    <script>

        $( document ).ready(function() {
            $('#entrytable-list-view').DataTable({
                'dom': 'ilrtp',
                paging: true,
                searching: false,
                info: true,
                "columns": [
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "desc", "asc" ] }
                ]
            });

            var groupColumn = 1;
            var table = $('#entrytable').DataTable({
                "dom": 'ilrtp',
                paging: false,
                searching: false,
                info: true,
                sortable: false,
                ordering: false,
                "columnDefs": [
                    { "visible": false, "targets": groupColumn }
                ],
                "order": [[ groupColumn, 'asc' ]],
                "displayLength": 25,
                "drawCallback": function ( settings ) {
                    var api = this.api();
                    var rows = api.rows( {page:'current'} ).nodes();
                    var last= null;

                    api.column(groupColumn, { page:'current' }).data().each( function ( group, i ) {
                        if ( last !== group ) {
                            var splitData =  $.parseHTML( group );
                            var url = $(splitData).data('url');
                            var splitGroup = $(splitData).text();

                            $(rows).eq( i ).before(
                                '<tr class="group groupHeader" data-artist="' + splitGroup + '" ><td colspan="5"><h3 class="artist-header"><span class="artistsymbol vorzeichen plussign">+</span><span class="artistsymbol vorzeichen collapsed minussign">-</span>'+group+'<a href="'+url+'" class="charttypeTitle">(view exhibition)</a></h3></td></tr>'
                            );


                            last = group;
                        }
                    } );
                }
            } );


            //expand all on load
            $('.collapseRow').removeClass('collapsed');
            $('.plussign').addClass('collapsed');
            $('.minussign').removeClass('collapsed');


            $('.expand-all').on('click', function() {
                $('.collapseRow').removeClass("collapsed");
                $('.plussign').addClass('collapsed');
                $('.minussign').removeClass('collapsed');
            });

            $('.collapse-all').on('click', function() {
                $('.collapseRow').addClass("collapsed");
                $('.plussign').removeClass('collapsed');
                $('.minussign').addClass('collapsed');
            });


            $('.catalogue-view-button').on('click', function() {
                // hide
                $('.list-view-button').removeClass('active');
                $('#entrytable-list-view').parent('.dataTables_wrapper').hide();

                $('.catalogue-view-button').addClass('active');
                $('#entrytable').show();
                $('#entrytable').parent('.dataTables_wrapper').show();

                $('.left-buttons').show();
            });

            $('.list-view-button').on('click', function() {
                // hidefre
                $('.list-view-button').addClass('active');
                $('#entrytable-list-view').show();
                $('#entrytable-list-view').parent('.dataTables_wrapper').show();

                $('.catalogue-view-button').removeClass('active');
                $('#entrytable').parent('.dataTables_wrapper').hide();

                $('.left-buttons').hide();

            });

            // Order by the grouping
            $('#entrytable tbody').on( 'click', 'tr.group', function () {
                var currentOrder = table.order()[0];
                /* if ( currentOrder[0] === groupColumn && currentOrder[1] === 'asc' ) {
                    table.order( [ groupColumn, 'desc' ] ).draw();
                }
                else {
                    table.order( [ groupColumn, 'asc' ] ).draw();
                }*/

                // console.log('this: ', $(this));
                var splitGroup =  $(this).find('.artist-name-row').data('artist-name');

                // console.log(splitGroup);

                // console.log('.collapseRow[data-rowname="' + splitGroup + '"]');

                $('.collapseRow[data-rowname="' + splitGroup + '"]').toggleClass('collapsed');
                $(this).find('.vorzeichen').toggleClass('collapsed');


                // console.log($(this).data('name'));
            } );

        } );


    </script>




    <div role="tabpanel" class="tab-pane" id="entries">
        <div class="catalogue-entries-data-management">
            <span class="left-buttons"><button class="expand-all">expand all</button><buttton class="collapse-all">collapse all</buttton></span>
            <span class="right-buttons"><span class="cat-entries-button catalogue-view-button active">Catalogue View</span><span class="cat-entries-button list-view-button">List View</span></span>
        </div>

        <table id="entrytable" class="table table-striped table-bordered dataTable listviewcontainer" style="width:100%">
            <thead>
            </thead>
            <tbody>
            {% for catalogueEntry in catalogueEntries %}
                {% set catalogueEntry  = catalogueEntry[0] %}
                {% set initial = catalogueEntry.person.fullname %}

                {% set addresses = catalogueEntry.person.addressesSeparated(exhibition.id) %}

                <tr data-rowname="{{ catalogueEntry.exhibition.title }}" data-collapsed="true" class="listviewrow collapsed collapseRow">

                    <td>{{ helper.itemexhibition_detail(catalogueEntry) }}</td>
                    <td><span id="person-{{ catalogueEntry.exhibition.id }}" class="artist-name-row" data-url="{{ path('exhibition', { 'id' : catalogueEntry.exhibition.id }) }}" data-artist-name="{{ catalogueEntry.exhibition.title }}" >{{ catalogueEntry.exhibition.title }}</span>
                        {% if addresses is not empty %}
                            <span class="small">
                        {% for address in addresses %}
                            {{ address['info']|replace({ "\n" : ", " }) }}{% if not loop.last %}; {% endif %}
                        {% endfor %}
                            </span>
                        {% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


        <table id="entrytable-list-view" class="table table-striped table-bordered dataTable listviewcontainer" style="width:100%; display: none;">
            <thead>
            <tr class="listviewheading">
                <th>Catalogue Entry</th>
                <th><span>Exhibition</span></th>
                <th class="">Room</th>
                <th><span>Owner</span></th>
                <th><span>For Sale</span></th>
                <th><span>Price</span></th>
            </tr>
            </thead>

            <tbody>
            {% for catalogueEntry in catalogueEntries %}
                {% set catalogueEntry  = catalogueEntry[0] %}
                {% set initial = catalogueEntry.person.fullname %}

                {% set addresses = catalogueEntry.person.addressesSeparated(exhibition.id) %}

                <tr class="listviewrow">
                    <td data-order="{{ loop.index }}">{{ catalogueEntry.getTitleFull }}</td>
                    <td>
                        <a href="{{ path('exhibition', { 'id' : catalogueEntry.exhibition.id }) }}">
                            <b>{{ catalogueEntry.exhibition.title }}</b> {{ catalogueEntry.exhibition.titleAppend }}
                        </a>
                    </td>
                    <td>{{ catalogueEntry.displaylocation }}</td>
                    <td>{{ catalogueEntry.owner ? catalogueEntry.owner : '?' }}</td>
                    <td>{{ catalogueEntry.forsale ? 'Y' : ( catalogueEntry.forsale == null ? '?' : 'N') }}</td>
                    <td>{{ catalogueEntry.price }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div><!-- .tab-pane -->
{% endblock %}