{% block exhibitions %}
    {% import 'Shared/datatables.html.twig' as datatables %}
    {{ datatables.head() }}

    <script src="{{ app.request.basepath }}/js/datatables-mobile.min.js"></script>

    <script>
        $( document ).ready(function() {
            $('#exhibitions').DataTable({
                "dom": 'ilrtp',
                responsive: true,
                paging: true,
                searching: false,
                info: true,
                order: [[ 0, "asc" ]],
                "columns": [
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "desc", "asc" ] }
                ]
            });
        })
    </script>

    <div role="tabpanel" class="tab-pane active" id="home">

        <table id="exhibitions" class="table table-striped table-bordered dataTable listviewcontainer">
            <thead>
            <tr class="listviewheading">
                <th class="all">Date</th>
                <th class="all">Title</th>
                <th class="all">City</th>
                <th class="min-tablet-p">Venue</th>
                <th class="min-tablet-p"># of Cat. Entries</th>
                <th class="min-tablet-p">Type </th>

            </tr>
            </thead>
            <tbody>
            {% for exhibition in person.getExhibitions(-1) %}

                {% set exhPlace = exhibition.location.place %}

                <tr class="listviewrow">
                    <td class="date" data-order="{{ exhibition.startdate }}"><b>{{ helper.exhibition_period(exhibition) }}</b></td>
                    <td class="title"><a href="{{ path('exhibition', { 'id' : exhibition.id }) }}">
                            <b>{{ exhibition.title }}</b> {{ exhibition.titleAppend }}</a></td>
                    <td class="normal">
                        <a href="{% if exhPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : exhPlace.tgn }) }}{% else %}{{ path('place', { 'id' : exhPlace.id }) }}{% endif %}">
                            {{ exhibition.location.placeLabel }}
                        </a>
                    </td>
                    <td class="normal">
                        <a href="{{ path('location', { 'id' : exhibition.location.id }) }}">
                            {{ exhibition.location.name }}
                        </a>
                    </td>
                    <td>{% if catalogueEntries[exhibition.id] is defined %}
                            {% set count = catalogueEntries[exhibition.id]|length %}
                            {% if count > 0 %}
                                {% set divId = 'entries' ~ exhibition.id %}
                                {{ count }}
                            {% endif %}
                        {% else %}
                            {% set count = 0 %}
                        {% endif %}
                    </td>
                    <td>{{ exhibition.organizerType }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div><!-- .tab-pane -->
{% endblock %}