{% block similars %}
    {% if similar|length > 0 %}
        <script>
            $( document ).ready(function() {
                $('#similars').DataTable({
                    dom: 'ilrtp',
                    paging: true,
                    pageLength: 25,
                    searching: false,
                    info: true,
                    order: [[ 4, 'desc' ]],
                    columns: [
                        { "orderSequence": [ "asc", "desc" ] },
                        { "orderSequence": [ "asc", "desc" ] },
                        { "orderSequence": [ "desc", "asc" ] },
                        { "orderSequence": [ "desc", "asc" ] },
                        { "orderSequence": [ "desc", "asc" ] }
                    ]
                });
            })
        </script>

        <div role="tabpanel" class="tab-pane" id="similar">
            <table id="similars" class="table table-striped table-bordered dataTable listviewcontainer">
                <thead>
                <tr class="listviewheading">
                    <th class="all">Name</th>
                    <th>Nationality</th>
                    <th>Date of Birth</th>
                    <th>Date of Death</th>
                    <th class="all"># of Co-Appearances</th>
                </tr>
                </thead>

            {% set similar_keys = similar|keys %}
            {% set similar_found = false %}

            {% for person_id in similar_keys %}
                {% if similar[person_id]['count'] > 1 %}
                    {% if not similar_found %}
                        {% set similar_found = true %}
                        <tbody>
                    {% endif %}

                    {% set aPerson = similarHydrated[person_id] %}
                <tr class="listviewrow">
                    <td class="title" data-order="{{ aPerson.fullname(false) }}">
                        <a href="{{ path('person', { 'id' : aPerson.id }) }}">{{ aPerson.fullname(true) }}</a>
                    </td>
                    <td>
                        {{ aPerson.nationality }}
                    </td>
                    <td data-order="{{ aPerson.birthDate }}">
                        {{ aPerson.birthDate|dateincomplete -}}
                    </td>
                    <td data-order="{{ aPerson.deathDate }}">
                        {{ aPerson.deathDate|dateincomplete -}}
                    </td>
                    <td class="normal" data-order="{{ similar[person_id]['count'] }}">
                        <a href="{{ path('exhibition-shared-partial', { 'persons': [ person.id, person_id ]|join(',') }) }}" data-remote="false" data-toggle="modal" data-target="#detailModal">{{ similar[person_id]['count'] }} exhibitions</a>
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
            {% if similar_found %}
                </tbody>
                {% endif %}
            </table>
        </div><!-- .tab-pane -->
    {% endif %}
{% endblock %}
