<div role="tabpanel" class="tab-pane mappane" id="map">
    {% import 'Shared/map-leaflet.html.twig' as map %}

    {{ map.head() }}
    {{ map.head_markercluster() }}
    {{ map.head_heatmap() }}

    {% import 'Shared/select2.html.twig' as select2 %}
    {{ select2.head() }}

    {{ render_hinclude(url('person-index-map', app.request.query.all), {'default': 'Loading...'}) }}
</div>