{% block tabsHeader %}
    <!-- Nav tabs -->
    <div>
        <div class="tabsymbols">
            <div class="advanced-search-settings"><span class="checkbox-filter-button">apply checkbox filter</span></div>
            <div class="icontab advanced-search active"><img src="{{ app.request.basepath }}/img/setttings_icon_blue.svg" class="iconimage"></div>
            <div class="icontab download-csv"><img src="{{ app.request.basepath }}/img/download_icon_blue.svg" class="iconimage"></div>
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
            <li role="presentation" class="active"><a href="#exhibitions" aria-controls="entries" role="tab" data-toggle="tab">{{ 'Artists'|trans }}</a></li>
            <li role="presentation"><a href="#map" role="tab" data-toggle="tab" onclick="clickMap()">{{ 'Map'|trans }}</a></li>
            <li role="presentation"><a href="#stats" role="tab" data-toggle="tab" >{{ 'Stats'|trans }}</a></li>

        </ul>

        <script>
            function clickMap(){
                $(document).trigger("rerenderMap");
            }
        </script>

    </div>

{% endblock %}