{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}
{% import 'Shared/map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}
    <script src="{{ app.request.basepath }}/js/seealso.js"></script>
    <script>
        var service = new SeeAlsoCollection();
        service.services = {
            'gndaks' : new SeeAlsoService('https://beacon.findbuch.de/seemore/gnd-aks/-dewp@wd')
        };
        service.views = {
            'seealso-ul' : new SeeAlsoUL({
                linkTarget: '_blank',
                maxItems: 100
            })
        };
        service.replaceTagsOnLoad();
    </script>

    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.css">
    <script src="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.js"></script>

{% endblock %}

{% block body %}

    <div class="contentcontainer nopadding w-container">
        <div class="lefthalf">
            <div class="subheader">organizing body</div>
            <h1 class="heading">{{ location.name }}</h1>
            <div class="artist_information">
                {# load helper part#}
                {% embed "Organizer/Parts/location-base-information.html.twig" %}
                {% endembed %}
            </div>
        </div>
        <div class="maphalf">
            {% embed "Organizer/Parts/locationMap.html.twig" %}
            {% endembed %}
        </div>
    </div>


    <div class="contentcontainer w-container">


        <div class="listviewrow">

                {# tabs headers #}
                {% embed "Organizer/Parts/tabs-header.html.twig" %}
                {% endembed %}

                <div class="tab-content">
                    {% set exhibitionArray = location.exhibitions %}

                    {% if location.exhibitions|length > 0 %}
                    {% embed "Organizer/Parts/tabcontent-exhibitions.html.twig" %}
                    {% endembed %}
                    {% endif %}

                    {% if location.getOrganizerOf()|length > 0 %}
                    {% embed "Organizer/Parts/tabcontent-organizer.html.twig" %}
                    {% endembed %}
                    {% endif %}

                    {% set artistsArray = artists %}

                    {% embed "Organizer/Parts/tabcontent-artists.html.twig" %}
                    {% endembed %}

                    {% embed "Organizer/Parts/tabcontent-authority.html.twig" %}
                    {% endembed %}

                    {% embed "Organizer/Parts/tabcontent-statistics.html.twig" %}
                    {% endembed %}
                </div><!-- .tab-content -->
        </div>
    </div>

    </div><!-- .row -->
{% endblock %}
