{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    {% import 'Shared/select2.html.twig' as select2 %}
    {{ select2.head() }}

    <script>
        $(document).ready(function() {
            $('.select2').select2();
        });
    </script>
{% endblock %}

{% block body %}
    <h1 class="heading">{{ pageTitle }}</h1>

    <form class="indexForm" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
        <div class="searchbarcontainer">
            <div class="searchbarinputcontainer">
                {{ form_widget(form.search) }}
                {{ form_widget(form.location.geoname) }}
                {{ form_widget(form.location.type) }}
            </div>
            <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button submit-filter-visible">
            </div>
        </div>
    </div>

    <div class="searchbarcontainer w-form hidden-form">
        <div class="searchbarinputcontainer">
            {{ form_rest(form) }}
        </div>
    </div>
    </form>

    <script>
        $(document).ready(function() {
            $('.w-input').keypress(function (e) {
                if (e.which == 13) {
                    $('.indexForm').submit();
                    return false;    //<---- Add this line
                }
            });


            // IMPLEMENT SAVE QUERY FUNCTIONALITY

            function saveQuery() {
                // change action for saving current query
                $form = $('#saveQuery');

                // $form.attr('action', '{{ path('location-save') }}');
                $form.submit();
            }

            $('.save-query').on('click', function() {
                // console.log('should save query');
                saveQuery();
            });

            $('#saved-searches').on('change', function() {
                // console.log('changed');
                $form = $('#saveQuery');
                $form.attr('action', '{{ path(app.request.get('_route')) }}');
                $form.submit();
            });

            // END SAVE QUERY FUNCTIONALITY
        });
    </script>


    <div class="contentcontainer w-container">
        <div class="listviewrow">
            {# tabs headers #}
            {% embed "Organizer/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Organizer/Parts/tabcontent-location-list.html.twig" %}
                {% endembed %}


                {% embed "Organizer/Parts/tabcontent-statistics-index.html.twig" %}
                {% endembed %}

                {% embed "Organizer/Parts/tabcontent-map.html.twig" %}
                {% endembed %}
            </div><!-- .tab-content -->
        </div>
    </div>

{% endblock %}
