{% macro exhibition_period(exhibition) %}
    {% spaceless %}
    {% if exhibition.displaydate is not empty %}
        {{ exhibition.displaydate }}
    {% else %}
        {{ daterangeincomplete(exhibition.startdate, exhibition.enddate) }}
    {% endif %}
    {% endspaceless %}
{% endmacro %}

{% macro exhibition_itemexhibition_sort_control(exhibition) %}
    {% if not exhibition.isSortedByPerson %}
        {% set active = app.request.get('sort') %}
        <div class="sort-control">
        Sort by:
        <a href="{{ path('exhibition', { 'id': exhibition.id}) }}"{% if active != 'person' %} class="active"{% endif %}>Catalogue Order</a>
        <a href="{{ path('exhibition', { 'id': exhibition.id, 'sort': 'person' }) }}"{% if active == 'person' %} class="active"{% endif %}>Artist</a>
        </div>
    {% endif %}
{% endmacro %}

{% macro pagination_count(pagination) %}
    {# total items count #}
    <div class="count">
        {% set first = (pagination.getCurrentPageNumber - 1) * pagination.getItemNumberPerPage %}
        {% set total = pagination.getTotalItemCount %}
        {% set last = min(first + pagination.getItemNumberPerPage, total) %}
        {{ first + 1 }} - {{ last }} of  {{ total }}
    </div>
{% endmacro %}

{% macro pagination_sortable(pagination, title, key, defaultDirection = 'asc') %}
    {% set sortDirection = defaultDirection %}
    {% if app.request.get('sort') == key and app.request.get('direction') == defaultDirection %}
        {% if defaultDirection == 'desc' %}
            {% set sortDirection = 'asc' %}
        {% else %}
            {% set sortDirection = 'desc' %}
        {% endif %}
    {% endif %}
    {{ knp_pagination_sortable(pagination, title, key, {}, { 'direction': sortDirection }) }}
{% endmacro %}

{% macro itemexhibition_detail (catalogueEntry) %}
    {% if catalogueEntry.displaylocation is not null %}
    <div style="float: right">
        <span class="small" title="Gallery/Room" style="color:#333">{{ catalogueEntry.displaylocation }}</span>
    </div>
    {% endif %}
    {{ catalogueEntry.titleFull }}
    <span class="small">
        {% if catalogueEntry.displayDate is not empty %}{{ catalogueEntry.displayDate }}{% endif %}
        {% if catalogueEntry.isForsale %}<sup><i class="glyphicon glyphicon-asterisk" title="For Sale"></i></sup>{% endif %}
        {% if catalogueEntry.price is not empty %}<span title="Price as in Catalogue">{{ catalogueEntry.price }}</span>{% endif %}
    </span>
    <div class="small">
    {% if catalogueEntry.previewImg is not null %}
        {% set imgUrl = 'https://exhibitions05-15.kugb.univie.ac.at/uploads/' ~ catalogueEntry.previewImg.imgUrl('') %}
        {% set imgCaption = catalogueEntry.previewImg.caption %}
        <a href="{{ imgUrl }}" data-toggle="lightbox"{% if imgCaption is not empty %} data-footer="{{ imgCaption|escape('html_attr') }}"{% endif %}><i class="glyphicon glyphicon-picture" title="Catalogue Illustration available"></i></a> {% endif %}
    {{ catalogueEntry.typeParts }}
    {% if catalogueEntry.ownerFull is not empty %}
        <i style="color: #ccc" class="glyphicon glyphicon-user" title="Owner as in Catalogue"></i>
        {{ catalogueEntry.ownerFull }}
    {% endif %}
    {% if catalogueEntry.description is not empty %}
        <i style="color: #ccc" class="glyphicon glyphicon-info-sign"></i>
        {{ catalogueEntry.description|nl2br }}
    {% endif %}
    </div>
{% endmacro %}

{% macro person_list_item(person) %}
    <a href="{% if person.ulan is not empty %}{{ path('person-by-ulan', { 'ulan' : person.ulan }) }}{% elseif person.gnd is not empty %}{{ path('person-by-gnd', { 'gnd' : person.gnd }) }}{% else %}{{ path('person', { 'id' : person.id }) }}{% endif %}">
        <b>{{ person.fullname }}</b>
    </a>

    {% set birthPlace = person.birthPlaceInfo(app.request.locale) %}
    {% set deathPlace = person.deathPlaceInfo(app.request.locale) %}
    {% if birthPlace is not empty or person.birthDate is not empty
       or deathPlace is not empty or person.deathDate is not empty %}
        ({% if birthPlace is not empty or person.birthDate is not empty %}
                {{ person.birthDate|dateincomplete -}}
                {% if birthPlace is not empty %}{% if person.birthDate is not empty %}{{- ',' }}{% endif %}
                    {% if birthPlace.id is not empty %}
                        <a href="{% if birthPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : birthPlace.tgn }) }}{% else %}{{ path('place', { 'id' : birthPlace.id }) }}{% endif %}">
                        {{ birthPlace['name'] }}
                        </a>
                    {% else %}
                        {{ birthPlace['name'] }}
                    {% endif %}
                {% endif %}
        {% endif %}
        {% if deathPlace is not empty or person.deathDate is not empty %}
            &ndash;
                {{ person.deathDate|dateincomplete -}}
                {% if deathPlace is not empty %}{% if person.deathDate is not empty %}{{- ',' }}{% endif %}
                    {% if deathPlace.id is not empty %}
                        <a href="{% if deathPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : deathPlace.tgn }) }}{% else %}{{ path('place', { 'id' : deathPlace.id }) }}{% endif %}">
                        {{ deathPlace['name'] }}
                        </a>
                    {% else %}
                        {{ deathPlace['name'] }}
                    {% endif %}
                {% endif %}
        {% endif %})
    {% endif %}
{% endmacro %}

{% macro place_linked(place) -%}
    <a href="{% if place.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : place.tgn }) }}{% else %}{{ path('place', { 'id' : place.id }) }}{% endif %}">{{ place.nameLocalized(app.request.locale) }}</a>
{%- endmacro %}

{% macro person_linked(person, givenNameFirst) -%}
    <a href="{% if person.ulan is not empty %}{{ path('person-by-ulan', { 'ulan' : person.ulan }) }}{% elseif person.gnd is not empty %}{{ path('person-by-gnd', { 'gnd' : person.gnd }) }}{% else %}{{ path('person', { 'id' : person.id }) }}{% endif %}">{{ person.fullname(givenNameFirst|default(false)) }}</a>
{%- endmacro %}

{% macro person_linked_anchor(person) -%}
    <a href="#person-{{ person.id }}">{{ person.fullname }}</a>
{%- endmacro %}

{% macro render_info(entries) -%}
    {% for entry in entries %}
        {{ entry.note }}
        {% if entry.citation is not empty %}{{ entry.citation|raw }}{% endif %}
        {% if entry.url is not empty %}{{ entry.url|converturls }}{% endif %}
        {% if not loop.last %}<br />{% endif %}
    {% endfor %}
{% endmacro %}

{% macro show_detailmodal() %}
    {# modal for detailed info about clicked data #}
    <div id="detailModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <p>Loading....</p>
                </div>
                <!--
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
                -->
            </div>
        </div>
    </div>
{% endmacro %}