{% macro exhibition_period(exhibition) %}
    {% if exhibition.displaydate is not empty %}
        {{ exhibition.displaydate }}
    {% else %}
        {{ daterangeincomplete(exhibition.startdate, exhibition.enddate) }}
    {% endif %}
{% endmacro %}

{% macro pagination_count(pagination) %}
    {# total items count #}
    <div class="count">
        {% set first = (pagination.getCurrentPageNumber - 1) * pagination.getItemNumberPerPage %}
        {% set total = pagination.getTotalItemCount %}
        {% set last = min(first + pagination.getItemNumberPerPage, total) %}
        {{ first + 1 }} - {{ last }} / {{ total }}
    </div>
{% endmacro %}

{% macro person_list_item(person) %}
    <a href="{% if person.ulan is not empty %}{{ path('person-by-ulan', { 'ulan' : person.ulan }) }}{% elseif person.gnd is not empty %}{{ path('person-by-gnd', { 'gnd' : person.gnd }) }}{% else %}{{ path('person', { 'id' : person.id }) }}{% endif %}">
        <b>{{ person.fullname }}</b>
    </a>

    {% set birthPlace = person.birthPlaceInfo(app.request.locale) %}
    {% set deathPlace = person.deathPlaceInfo(app.request.locale) %}
    {% if birthPlace is not empty or person.birthDate is not empty
       or deathPlace is not empty or person.deathDate is not empty %}
        ({% if birthPlace is not empty or person.birthDate is not empty %}
                {{ person.birthDate|dateincomplete -}}
                {% if birthPlace is not empty %}{% if person.birthDate is not empty %}{{- ',' }}{% endif %}
                    {% if birthPlace.id is not empty %}
                        <a href="{% if birthPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : birthPlace.tgn }) }}{% else %}{{ path('place', { 'id' : birthPlace.id }) }}{% endif %}">
                        {{ birthPlace['name'] }}
                        </a>
                    {% else %}
                        {{ birthPlace['name'] }}
                    {% endif %}
                {% endif %}
        {% endif %}
        {% if deathPlace is not empty or person.deathDate is not empty %}
            &ndash;
                {{ person.deathDate|dateincomplete -}}
                {% if deathPlace is not empty %}{% if person.deathDate is not empty %}{{- ',' }}{% endif %}
                    {% if deathPlace.id is not empty %}
                        <a href="{% if deathPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : deathPlace.tgn }) }}{% else %}{{ path('place', { 'id' : deathPlace.id }) }}{% endif %}">
                        {{ deathPlace['name'] }}
                        </a>
                    {% else %}
                        {{ deathPlace['name'] }}
                    {% endif %}
                {% endif %}
        {% endif %})
    {% endif %}
{% endmacro %}
