{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}
{% import 'Shared/map-leaflet.html.twig' as map %}

{% block head %}
    {{ map.head() }}
    <script src="{{ app.request.basepath }}/js/seealso.js"></script>
    <script>
        var service = new SeeAlsoCollection();
        service.services = {
            'gndaks' : new SeeAlsoService('https://beacon.findbuch.de/seemore/gnd-aks/-dewp@wd')
        };
        service.views = {
            'seealso-ul' : new SeeAlsoUL({
                linkTarget: '_blank',
                maxItems: 100
            })
        };
        service.replaceTagsOnLoad();
    </script>
{% endblock %}

{% block body %}
    <div class="contentcontainer nopadding w-container">
        <div class="lefthalf">
            <div class="subheader">holding institution</div>
            <h1 class="heading">{{ holder.name }}</h1>
            {% if exhibition.titleAppend is not empty %}
                <h2 style="margin-top: -0.8rem"><span class="small">{{ holder.nameAppend }}</span></h2>
            {% endif %}

            <div class="artist-information-text" style="width: 100%; margin-bottom: 2rem;">{{ exhibition.subtitle }}</div>
            <div class="artist_information">
                {# load helper part#}
                {% embed "Holder/Parts/holder-base-information.html.twig" %}
                {% endembed %}
            </div>
        </div>
        <div class="maphalf">
            {% embed "Holder/Parts/holderMap.html.twig" %}
            {% endembed %}
        </div>
    </div>



    <div class="contentcontainer w-container">


        <div class="listviewrow">

            {# tabs headers #}
            {% embed "Holder/Parts/tabs-header.html.twig" %}
            {% endembed %}

            <div class="tab-content">

                {% embed "Holder/Parts/tabcontent-catalogue-entries.html.twig" %}
                {% endembed %}

                {% embed "Holder/Parts/tabcontent-authority.html.twig" %}
                {% endembed %}

                {% embed "Holder/Parts/tabcontent-statistics.html.twig" %}
                {% endembed %}

            </div><!-- .tab-content -->
        </div>
    </div>



{% endblock %}
