{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/select2-4.0.3/css/select2.min.css" />
    <script src="{{ app.request.basepath }}/vendor/select2-4.0.3/js/select2.full.min.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.css">
    <script src="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.js"></script>

{% endblock %}

{% block body %}


    <div class="w-container">

        <h1 class="heading">{{ pageTitle }}</h1>

        <div class="searchbarcontainer">
            <!--<form  class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}"> -->
            <div class="searchbarinputcontainer">
                <input type="text" class="text-field-class w-input search-input input-text-search" placeholder="search" value="{{ stringPart }}">
                <select id="countrySelector" class="text-field-class w-select end-selector">
                    <option value>select country</option>
                    {% for abrriviation,countryname in countryArray %}
                        <option value="{{ abrriviation }}">{{ countryname }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button submit-filter-visible">
            </div>
            <!--</form>-->
        </div>
    </div>


    <div class="searchbarcontainer w-form hidden-form">
        <form class="filter exhibitionFilterForm" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
            <div class="searchbarinputcontainer holder">
                {{ form_rest(form) }}
            </div>
            <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button">
            </div>
        </form>
    </div>

    <div class="filter-combination-container">
        <div class="filters-heading">Filters</div>
        <div class="additional-filter-container">

            {# refactor as macro #}
            {% for countryAbbriviation in countries %}
                <div class="filter-row">
                    <div class="div-block-5">
                        <div class="first-filter-term">
                            <div>Country</div>
                        </div>
                        <div class="is_equal_to">
                            <div>is equal to</div>
                        </div>
                        <div class="first-filter-term">
                            {# find country to text method #}
                            <div>{{ countryArray[countryAbbriviation]|capitalize }}</div>
                        </div>
                    </div>
                    <div class="subfilter-buttons-container">
                        <div class="subfilter-remove countryAbbr" data-country="{{ countryAbbriviation }}">
                            <div>remove</div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

    <script>
        $(document).ready(function() {
            $('.countryAbbr').on('click', function () {
                var currSelection = $('#holder_filter_country').val();
                var currCountry = $(this).data('country');
                // remove array element
                currSelection.splice($.inArray(currCountry, currSelection), 1);
                $('#holder_filter_country').val(currSelection);
                // submit form
                $( ".exhibitionFilterForm" ).submit();
            });


            $('.exhibitionFilterForm').on('submit', function (e) {
                console.log('submiting now ....');

                // countries
                var currSelectionCountries = $('#holder_filter_country').val() !== null ? $('#holder_filter_country').val() : [];
                console.log('countries');
                var currCountrySelected = $('#countrySelector').val();
                currSelectionCountries.push(currCountrySelected);
                currSelectionCountries = jQuery.unique(currSelectionCountries);

                currSelectionCountries = currSelectionCountries.filter(Boolean)  //filters all non-true values ---> especially empty strings
                $('#holder_filter_country').val(currSelectionCountries);
            });

            $('.submit-filter-visible').on('click', function(){
                $( ".exhibitionFilterForm" ).submit();
            });
            $('.input-text-search').bind('input', function(){
                $('#holder_filter_search').val($(this).val());
                // console.log('change event:', $(this).val());
            })
        });

    </script>

    <div class="contentcontainer w-container">


        <div class="listviewrow">

            {# tabs headers #}
            {% embed "Holder/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Holder/Parts/tabcontent-holder-list.html.twig" %}
                {% endembed %}


            </div><!-- .tab-content -->
        </div>
    </div>



{% endblock %}
