{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/select2-4.0.3/css/select2.min.css" />
    <script src="{{ app.request.basepath }}/vendor/select2-4.0.3/js/select2.full.min.js"></script>
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.css">
    <script src="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.js"></script>

{% endblock %}

{% block body %}


    <div class="w-container">

        <h1 class="heading">{{ pageTitle }}</h1>


        <div class="searchbarcontainer w-form">

            <form class="filter" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
                <div class="searchbarinputcontainer holder">
                    {{ form_rest(form) }}
                </div>
                <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button">
                </div>
            </form>
        </div>
    </div>


    <div class="contentcontainer w-container">


        <div class="listviewrow">

            {# tabs headers #}
            {% embed "Holder/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Holder/Parts/tabcontent-holder-list.html.twig" %}
                {% endembed %}


            </div><!-- .tab-content -->
        </div>
    </div>



{% endblock %}
