{% extends 'Base/base.html.twig' %}

{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    {% import 'Shared/select2.html.twig' as select2 %}
    {{ select2.head() }}

    <script src="{{ app.request.basepath }}/js/js.cookie.js"></script>

    <script>
        $(document).ready(function() {
            // initialize select2
            $('.select2').select2();

            {{ helper.checkmark_actions(listBuilder.entity) }}
            {{ helper.indexform_actions('holder-save') }}
        });
    </script>
{% endblock %}

{% block body %}
    <h1 class="heading">{{ pageTitle }}</h1>

    <form class="indexForm" method="get" action="{{ path(app.request.attributes.get('_route')) }}">
        <div class="searchbarcontainer">
            <div class="searchbarinputcontainer">
                {{ form_widget(form.search) }}
                {{ form_widget(form.holder.geoname) }}
            </div>
            <div class="searchbuttoncontainer"><input type="submit" name="submit-filter" value="Search" class="submit-button w-button submit-filter-visible">
            </div>
        </div>

        <div class="searchbarcontainer w-form hidden-form">
            <div class="searchbarinputcontainer">
                {{ form_rest(form) }}
            </div>
        </div>

        {% block filters %}
            {% import 'Shared/helper.html.twig' as helper %}

            <div class="filter-combination-container">
                {% form_theme form 'Search/bootstrap_3_adjusted.html.twig' %}
                <div style="display:none">{{ form_row(form.holder.holder) }}{# for checkbox filter #}</div>

                {{ helper.render_active_filters(listBuilder, form, entityLabels) }}
            </div><!-- .filter-combination-container -->
        {% endblock %}
    </form>

    <div class="contentcontainer w-container">
        <div class="listviewrow">
            {# tabs headers #}
            {% embed "Holder/Parts/tabs-header-index.html.twig" %}
            {% endembed %}

            <div class="tab-content">
                {% embed "Holder/Parts/tabcontent-holder-list.html.twig" %}
                {% endembed %}
            </div><!-- .tab-content -->
        </div>
    </div>
{% endblock %}
