{% extends 'Base/base.html.twig' %}
{% import 'Shared/helper.html.twig' as helper %}

{% block head %}
    <!-- justifiedGallery, http://miromannino.github.io/Justified-Gallery/ -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/justified-gallery/justifiedGallery.min.css">
    <script src="{{ app.request.basepath }}/vendor/justified-gallery/jquery.justifiedGallery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('.gallery').justifiedGallery();
        })
    </script>
{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <div class="row">
        <div class="col-sm-8">
        {% if results is not empty %}
        {% if persons is not null %}
            <form method="get">
                <select name="person" onchange="this.form.submit()">
                    <option value="">-- all --</option>
                    {% for person in persons %}
                        <option value="{{ person.id }}"{% if app.request.get('person') == person.id %} selected="selected"{% endif %}>
                            {{ person.fullname }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        {% endif %}
        {% set last_exhibition = null %}
        {% for exhibition in results %}
            {% if exhibition != last_exhibition %}
                {% if last_exhibition != null %}
                </div><!-- .gallery -->
                {% endif %}
                <h4 style="margin: 0;">
                    <a href="{{ path('exhibition', { 'id': exhibition.id }) }}">
                        {{ exhibition.title }} <span class="font-weight: regular">{{ exhibition.titleAppend }}</span></a>
                </h4>
                {{ helper.exhibition_period(exhibition) }}

                {% if exhibition.location is not null %}
                    {% set location = exhibition.location %}
                    {% if location.place is not null %}
                        {{ helper.place_linked(location.place) }}:
                    {% endif %}
                    <a href="{{ path('location', { 'id' : location.id }) }}">
                        {{ location.name }}</a>
                {% endif %}
                {% set last_exhibition = exhibition %}
                <div class="gallery" style="margin-bottom: 2em">
            {% endif %}
            {% if exhibition.items is not empty %}
                {% for item in exhibition.items %}
                <a href="{{ path('item', { 'id' : item.id }) }}">
                {% set preview = item.previewImg %}
                {% if preview is not null %}
                    {% set imgUrl = 'https://exhibitions05-15.kugb.univie.ac.at/uploads/' ~  preview.imgUrl('preview') %}
                {% else %}
                    {% set imgUrl = app.request.basepath ~ '/img/placeholder-image.jpg' %}
                {% endif %}
                <img src="{{ imgUrl }}" />
                <div class="caption">
                {% if item.creators is not empty %}
                    {% for creator in item.creators %}{{ creator.fullname }}{% endfor %}
                {% endif %}
                {{ item.title }}

                {% if item.displaydate is not empty %}
                    {{ item.displaydate }}
                {% else %}
                    ({{ item.earliestdate|dateincomplete }}{# - {{  item.latestdate|dateincomplete  }}#})
                {% endif %}
                </div>
                </a>
                {% endfor %}
            {% endif %}
        {% endfor %}
            </div><!-- .gallery -->
        {% else %}
            No Works found
        {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}
