{% extends 'Base/base.html.twig' %}

{% block head %}
    <!-- justifiedGallery, http://miromannino.github.io/Justified-Gallery/ -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/vendor/justified-gallery/justifiedGallery.min.css">
    <script src="{{ app.request.basepath }}/vendor/justified-gallery/jquery.justifiedGallery.min.js"></script>
    <script>
        $( document ).ready(function() {
            $('.gallery').justifiedGallery();
        })
    </script>
{% endblock %}

{% block body %}
    <h1>{{ pageTitle }}</h1>
    <div class="row">
        <div class="col-sm-12">
        {% if collections is not empty %}
        <form method="get">
            <select name="collection" onchange="this.form.submit()">
                <option value="">-- all --</option>
                {% for id,name in collections %}
                <option value="{{ id }}"{% if id == collection %} selected="selected"{% endif %}>{{ name }}</option>
                {% endfor %}
            </select>
        </form>
        {% endif %}

        {% if results is not empty %}
        {% set last_creator = null %}
        {% for item in results %}
            {% if item.creators is not empty %}
                {% set creator = item.creators[0] %}
                {% if creator != last_creator %}
                    {% if last_creator != null %}
                </div><!-- .gallery -->
                    {% endif %}
                <h4><a href="{{ path('person', { 'id': creator.id }) }}">{{ creator.fullname }}</a></h4>
                {% set last_creator = creator %}
                <div class="gallery">
                {% endif %}
            {% endif %}
            <a href="{{ path('item', { 'id' : item.id }) }}">
                {% set preview = item.previewImg %}
                {% if preview is not null %}
                    {% set imgUrl = 'https://exhibitions05-15.kugb.univie.ac.at/uploads/' ~  preview.imgUrl('preview') %}
                {% else %}
                    {% set imgUrl = app.request.basepath ~ '/img/placeholder-image.jpg' %}
                {% endif %}
                <img src="{{ imgUrl }}" />
                <div class="caption">
                {{ item.title }}

                {% if item.displaydate is not empty %}
                    {{ item.displaydate }}
                {% else %}
                    ({{ item.earliestdate|dateincomplete }}{# - {{  item.latestdate|dateincomplete  }}#})
                {% endif %}
                </div>
            </a>
        {% endfor %}
            </div>
        {% else %}
            No Works found
        {% endif %}
        </div>
    </div><!-- .row -->
{% endblock %}
