{% block map %}
    {% import 'Shared/map-leaflet.html.twig' as map %}

    {% if place.latitude is not empty %}
        <div id="map" class="col-sm-12" style="width: 100%; min-height: 320px;"></div>
    {% else %}
        <div class="no_data_block">
            <div>no map data available</div>
        </div>
    {% endif %}

    <script>
        function adjustMapSize() {
            /*
            $('#map').height(function(index, height) {
                return window.innerHeight - $(this).offset().top;
            });
            */
        }

        $( window ).resize(adjustMapSize);
        adjustMapSize();

        var map = L.map('map');

        var bounds = null;
        {% if place.additional.bounds is not empty %}
        bounds = {{ place.additional.bounds|json_encode|raw }};
        {% elseif place.latitude is not null %}
        L.marker([ {{ place.latitude }}, {{ place.longitude }} ]).addTo(map);
        map.setView([{{ place.latitude }}, {{ place.longitude }}], 5);
        {% endif %}

        {{ map.addTileLayer() }}

        {% if place.additional.boundary is not empty %}
        var boundary = {{ place.additional.boundary|json_encode|raw }};
        var geojsonLayer = L.geoJSON(boundary).addTo(map);
        if (bounds == null) {
            bounds = geojsonLayer.getBounds();
        }
        {% endif %}
        if (bounds != null) {
            map.fitBounds(bounds);
        }
    </script>
{% endblock %}