<script src="{{ app.request.basepath }}/vendor/datatables-1.10.16/datatables.min.js"></script>
<script src="{{ app.request.basepath }}/js/datatables-mobile.min.js"></script>

<script>
    $( document ).ready(function() {
        $('#holderTable').DataTable({
            dom: 'ilrtp',
            responsive: false,
            paging: false,
            searching: false,
            info: false,
            ordering: false
        });
    })
</script>


<div role="tabpanel" class="tab-pane active" id="exhibitions">
        {% if pager.getNbResults() > 0 %}
            <div style="width: 100%; text-align: right;">
                {{ pager.currentPageOffsetStart }} - {{ pager.currentPageOffsetEnd }} of {{ pager.getNbResults() }}
            </div>

            <table id="holderTable" class="table table-striped table-bordered dataTable listviewcontainer">
                <thead>
                    <tr class="listviewheading">
                        {% for key, label in listBuilder.buildHeaderRow() %}
                        <th>
                            {% set sortInfo = listBuilder.sortInfo(key) %}
                            {% if sortInfo is not empty %}
                                <a href="{{ sortInfo.action }}"{% if sortInfo.active is not empty %} class="{{ sortInfo.active }}"{% endif %}>{{ label }}</a>
                            {% else %}
                                {{ label }}
                            {% endif %}
                        </th>
                        {% endfor %}
                    </tr>
                </thead>

                <tbody>
                    {% for row in pager.currentPageResults %}
                    <tr>
                        {% set rowValues = listBuilder.buildRow(row, 'html') %}
                        {% for val in rowValues %}
                        <td>{% if loop.first %}{% if 'ItemExhibition' != listBuilder.entity %}<span class="checkmark" data-id="{{ row.id }}"></span>{% endif %}{% endif %}{{ val|raw }}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="pagerfanta">{{ pagerfanta(pager, 'twitter_bootstrap3', { 'omitFirstPage': true }) }}</div>
        {% else %}
            No Holding Institutions found
        {% endif %}
</div>