{% block tabsHeader %}
    <!-- Nav tabs -->
    <div>
        <div class="tabsymbols">
            <div class="icontab download-csv-catalogues" style="display:none;"><img src="{{ app.request.basepath }}/img/download_icon_blue.svg" class="iconimage" title="download current data as csv"></div>
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
            <li role="presentation" class="active entries-tab" ><a href="#entries" aria-controls="entries" role="tab" data-toggle="tab">{{ 'Catalogues'|trans }}</a></li>
            {# co-appearnces #}
            {% if holder.gnd is not empty %}
            {# authority files #}
                <li role="presentation"><a href="#authority" aria-controls="authority" role="tab" data-toggle="tab">{{ 'Integrated Authority File'|trans }}</a></li>
            {% endif %}

            <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">{{ 'Statistics'|trans }}</a></li>

        </ul>

    </div>

    <script>

        $('.download-csv-catalogues').on('click', function(){
            window.location.href =  "{{ path('holder-catalogue-csv', { 'id': holder.getId() }) }}";
        });

        // make the right export button visible
        $( document ).ready(function() {
            //hide all export buttons
            hideAll();

            setInterval(function(){
                if( $('.entries-tab').hasClass('active') ){ hideAll(); $('.download-csv-catalogues').show(); }
                else {
                    hideAll();
                }
            }, 250);
        });

        function hideAll(){
            $('.download-csv-catalogues').hide();
        }

    </script>

{% endblock %}