<div class="artist-information-container-quickstat">
    <div class="artist-information-label">Quickstats</div>
    <div class="statcontainer">
        <div class="artist-information-text-stats">Exhibitions: {{ numberExhibitions }}</div>
        {% if numberExhibitions > 0 %}
        <div class="artist-information-text-stats">Exhibition Types:
            {%  for key, value in exhibitionTypeStats  %}
                {{ key }}: {{ (value/numberExhibitions * 100) | number_format }} %
            {% endfor %}
        </div>
        {% endif %}
        <div class="artist-information-text-stats">Venues: {{ numberVenues }}</div>
        <div class="artist-information-text-stats">
            Artists: {{ persons|length }},
            {{ numberBorn }} born, {{ numberDied }} died, {{ numberActive }} active
        </div>
        <div class="artist-information-text-stats">Nationalities: {{ nationalitiesStats|length }}</div>
        {% set totalArtists = persons|length %}
        {% if totalArtists > 0 %}
        <div class="artist-information-text-stats">
            Gender: {{ (genderStats['female'] / totalArtists * 100) | number_format }} % female,
            {{ (genderStats['male'] / totalArtists * 100) | number_format }} % male
        </div>
        {% endif %}
    </div>
</div>
