{% if artistsArray|length > 0 %}
    {% import 'Shared/helper.html.twig' as helper %}
    {% import 'Shared/datatables.html.twig' as datatables %}
    {{ datatables.head() }}

    <script>
        $( document ).ready(function() {
            $('#artists-table').DataTable({
                dom: 'ilrtp',
                paging: true,
                pageLength: 25,
                searching: false,
                info: true,
                columns: [
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] }
                ]
            });
        })
    </script>


    <div role="tabpanel" class="tab-pane{% if active %} active{% endif %}" id="artists">
        <table id="artists-table" class="table table-striped table-bordered dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Date of Birth</th>
                <th>Place of Birth</th>
                <th>Date of Death</th>
                <th>Place of Death</th>
                <th>Nationality</th>
                <th>Exhibited in City</th>
            </tr>
            </thead>

            <tbody>
            {% for person in artistsArray %}
                {% set exhibited = person['exhibited'] %}

                {% set hasExibitedText = 'no' %}

                {% if exhibited %}
                    {% set hasExibitedText = 'yes' %}
                {% endif %}

                {% set person = person[0] %}

                <tr>
                    <td class="title" data-order="{{ person.fullname(false) }}"><b>{{ helper.person_linked(person, true) }}</b></td>
                    <td data-order="{{ person.birthDate }}">{{ person.birthDate|dateincomplete -}} </td>
                    <td class="normal">
                        {% set birthPlace = person.birthPlace %}
                        {% if birthPlace is not empty %}
                            {{ helper.place_linked(birthPlace) }}
                        {% elseif person.birthPlaceLabel is not empty %}
                            {{ person.birthPlaceLabel }}
                        {% endif %}
                    </td>
                    <td data-order="{{ person.deathDate }}">{{ person.deathDate|dateincomplete -}} </td>
                    <td class="normal">
                        {% set deathPlace = person.deathPlace %}
                        {% if deathPlace is not empty %}
                            {{ helper.place_linked(deathPlace) }}
                        {% endif %}
                    </td>
                    <td>{{ person.nationality }}</td>
                    <td data-order="{{ hasExibitedText }}">{{ hasExibitedText }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!-- .tab-pane -->
{% endif %}