{% if venuesList is not empty %}

    {% import 'Shared/datatables.html.twig' as datatables %}
    {{ datatables.head() }}

    <script>
        $( document ).ready(function() {
            $('#venues-table').DataTable({
                'dom': 'ilrtp',
                paging: true,
                searching: false,
                info: true,
                'columns': [
                    null,
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                ]
            });
        })
    </script>


    {% set childrenByType = place.getChildrenByType(em) %}

    <div role="tabpanel" class="tab-pane{% if venuesList|length > 0 %} active{% endif %}" id="venues">
        <table id="venues-table" class="table table-striped table-bordered dataTable">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type of Org. Body</th>
                <th># of Exhibitions</th>
                <th># of Solo Exhibitions</th>
                <th># of Group Exhibitions</th>
                <th># of Artists</th>
                <th># of Nationalities</th>
                <th># of Cat. Entries</th>
            </tr>
            </thead>
            <tbody>
            {% for venue in venuesList %}
                <tr>
                    <td><a href="{{ path('location', { 'id' : venue['id'] }) }}"><b>{{ venue['name'] }}</b></a></td>
                    <td>{{ venue.type }}</td>
                    <td>{{ max( 0, venue['numExhibitions'] ) }}</td>
                    <td>{{ max( 0, venue['exhibition_types']['solo'] ) }}</td>
                    <td>{{ max( 0, venue['exhibition_types']['group'] ) }}</td>
                    <td>{{ max( 0, venue['numArtists'] ) }}</td>
                    <td>{{ max( 0, venue['numNationalities'] ) }}</td>
                    <td>{{ max( 0, venue['numItems'] ) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div><!-- .tab-pane -->
{% endif %}
