<div role="tabpanel" class="tab-pane{% if active %} active{% endif %}" id="statistics">
    {% import 'Shared/highcharts.html.twig' as highcharts %}
    {{ highcharts.head() }}

    <script type="text/javascript">
        $(document).ready(function() {
    {% if exhibitions|length > 0 %}
            $('#container-exhibitions-by-type').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} exhibitions (<b>{point.percentage:.1f}%</b>)'
                },
                series: [{
                    name: 'Number of Exhibitions',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ exhibitionTypeStatisticsFormat|json_encode|raw }}
                }],
                plotOptions: {
                    pie: {
                    },
                    series: {
                        events: {
                            click: function (event) {
                                var id = event.point.name;
                                if (id) {
                                    var url = '{{ path('search-index', { 'entity': 'Exhibition' }) }}';
                                    url += '&filter[location][geoname][]=tgn:{{ place.tgn }}';
                                    url += '&filter[exhibition][type][]=' + encodeURIComponent(id);

                                    window.open(url);
                                }
                            }
                        }
                    }
                },
                exporting: {
                    csv: {
                        {{ highcharts.pieChartCategoryHeader('Type') }}
                    }
                }
            });

            $('#container-exhibitions-bar').highcharts({
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: ''
                },
                subtitle: {
                    text: '{{ numberExhibitions }} exhibitions in total'
                },
                xAxis: {
                    title: {
                        enabled: false, // only for export-data.js
                        text: 'Year'
                    },
                    categories: {{ exhibitionsGroupedByYearStats|keys|json_encode|raw  }},
                    labels: {
                        rotation: -45,
                        step: 1, // this will show one label for every year
                        align: 'right'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '\n',
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{point.y} Exhibitions'
                },
                series: [{
                    name: 'Number of Exhibitions',
                    type: 'column',
                    data: {{ exhibitionsGroupedByYearStats|values|json_encode|raw }}
                }],
                plotOptions: {
                    series: {
                        events: {
                            click: function (event) {
                                var url = '{{ path('search-index', { 'entity': 'Exhibition' }) }}';
                                url += '&filter[location][geoname][]=tgn:{{ place.tgn }}';
                                url += '&filter[exhibition][date][from]=' + encodeURIComponent(event.point.category) + '&filter[exhibition][date][until]=' + encodeURIComponent(event.point.category);

                                window.open(url);
                            }
                        }
                    }
                }
            });
        {% endif %}

            $('#container-nationalities-pie').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ''
                },
                tooltip: {
                    pointFormat: '{point.y} artists from {point.name} (<b>{point.percentage:.1f}%</b>)'
                },
                series: [{
                    name: 'Number of Artists',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ nationalitiesStats|json_encode|raw }}
                }],
                plotOptions: {
                    pie: {
                    },
                },
                exporting: {
                    csv: {
                        {{ highcharts.pieChartCategoryHeader('Nationality') }}
                    }
                }
            });

            $('#container-artist-by-gender').highcharts({
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: ' '
                },
                tooltip: {
                    pointFormat: '{point.y} artists (<b>{point.percentage:.1f}%</b>)'
                },
                plotOptions: {
                    pie: {
                    }
                },
                series: [{
                    name: 'Number of Artists',
                    type: 'pie',
                    innerSize: '50%',
                    data: {{ genderStatsStatisticsFormat|json_encode|raw }}
                }],
                exporting: {
                    csv: {
                        {{ highcharts.pieChartCategoryHeader('Gender') }}
                    }
                }
            });

            $('#container-artists-state').highcharts({
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: ''
                },
                xAxis: {
                    title: {
                        enabled: false, // only for export-data.js
                        text: 'Category'
                    },
                    categories: [ 'Born in City', 'Died in City', 'Active in City', 'Exhibited in City' ],
                    labels: {
                        step: 1 // this will show one label for every category
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Number of Artists',
                    }
                },
                legend: {
                    enabled: false
                },
                tooltip: {
                    pointFormat: '{point.y} Artists'
                },
                series: [{
                    name: 'Number of Artists',
                    type: 'column',
                    data: [
                        { name: 'Born in City', y: {{ numberBorn }} },
                        { name: 'Died in City', y: {{ numberDied }} },
                        { name: 'Active in City', y: {{ numberActive }} },
                        { name: 'Exhibited in City', y: {{ numberExhibited }} }
                    ]
                }],
                plotOptions: {
                    series: {
                        events: {
                            click: function (event) {
                                var url = '{{ path('search-index', { 'entity': 'Person' }) }}';

                                switch (event.point.name) {
                                    case 'Born in City':
                                        url += '&filter[person][birthplace][]={{ place.tgn }}';
                                        break;

                                    case 'Died in City':
                                        url += '&filter[person][deathplace][]={{ place.tgn }}';
                                        break;

                                    case 'Exhibited in City':
                                        url += '&filter[location][geoname][]=tgn:{{ place.tgn }}';
                                        break;

                                    default:
                                        return false;
                                }


                                window.open(url);
                            }
                        }
                    }
                }
            });
        });
    </script>

    {% if exhibitions|length > 0 %}
    <h3 class="chart-header" data-collapse="container-exhibitions-by-type"><span class="chartsymbol">+</span>Exhibitions by Type<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-exhibitions-by-type" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <h3 class="chart-header" data-collapse="container-exhibitions-bar"><span class="chartsymbol">+</span>Exhibitions by Year<span class="charttypeTitle">(Bar Chart)</span></h3>
    <div class="collapse" id="container-exhibitions-bar" style="width: 100%; height: 400px; margin: 0 auto;"></div>
    {% endif %}

    <h3 class="chart-header" data-collapse="container-nationalities-pie"><span class="chartsymbol">+</span>Artists’ Nationality<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-nationalities-pie" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <h3 class="chart-header" data-collapse="container-artist-by-gender"><span class="chartsymbol">+</span>Gender Distribution<span class="charttypeTitle">(Pie Chart)</span></h3>
    <div class="collapse" id="container-artist-by-gender" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <h3 class="chart-header" data-collapse="container-artists-state"><span class="chartsymbol">+</span>Number of Artists Born, Died, Active, Exhibited<span class="charttypeTitle">(Bar Chart)</span></h3>
    <div class="collapse" id="container-artists-state" style="width: 100%; height: 400px; margin: 0 auto;"></div>

    <script src="{{ app.request.basepath }}/js/collapseChart.js"></script>
</div>