{% block exhibitions %}
    {% import 'Shared/datatables.html.twig' as datatables %}
    {{ datatables.head() }}

    <script>
        $( document ).ready(function() {
            $('#exhibitions-table').DataTable({
                paging: true,
                searching: false,
                info: true,
                order: [[ 0, "asc" ]],
                "dom": 'ilrtp',
                "columns": [
                    { "orderSequence": [ "asc", "desc" ] },
                    { "orderSequence": [ "asc", "desc" ] },
                    // { "orderSequence": [ "asc", "desc" ] },
                    // { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "desc", "asc" ] },
                    { "orderSequence": [ "desc", "asc" ] }
                ]
            });
        })
    </script>

    <div role="tabpanel" class="tab-pane" id="exhibitions">

        <table id="exhibitions-table" class="table table-striped table-bordered dataTable listviewcontainer">
            <thead>
            <tr class="listviewheading">
                <th>Date</th>
                <th>Title</th>
                <!--
                <th>City</th>
                <th>Venue</th>
                -->
                <th>Type of Org. Body</th>
                <th># of Cat. Entries</th>
            </tr>
            </thead>

            <tbody>
            {% for exhibition in exhibitions %}
                {% set exhPlace = exhibition.location.place %}

                <tr class="listviewrow">
                    <td class="date" data-order="{{ exhibition.startdate }}"><b>{{ helper.exhibition_period(exhibition) }}</b></td>
                    <td class="title"><a href="{{ path('exhibition', { 'id' : exhibition.id }) }}">
                            <b>{{ exhibition.title }}</b> {{ exhibition.titleAppend }}</a></td>
                    <!--
                    <td class="normal">
                        <a href="{% if exhPlace.tgn is not empty %}{{ path('place-by-tgn', { 'tgn' : exhPlace.tgn }) }}{% else %}{{ path('place', { 'id' : exhPlace.id }) }}{% endif %}">
                            {{ exhibition.location.placeLabel }}
                        </a>
                    </td>
                    <td class="normal">
                        <a href="{{ path('location', { 'id' : exhibition.location.id }) }}">
                            {{ exhibition.location.name }}
                        </a>
                    </td>
                    -->
                    <td>{{ exhibition.organizerType }}</td>
                    <td>
                        {{ exhibitionStats[exhibition.id].numCatEntrySort }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div><!-- .tab-pane -->
{% endblock %}