{% block tabsHeader %}
    <!-- Nav tabs -->
    <div>
        <div class="tabsymbols">
            <!-- currently not functional, therefore invisible
            <div class="icontab"><img src="{{ app.request.basepath }}/img/setttings_icon_blue.svg" class="iconimage"></div>
            <div class="icontab"><img src="{{ app.request.basepath }}/img/download_icon_blue.svg" class="iconimage"></div>
            -->
        </div>
        <ul class="nav nav-tabs" role="tablist" style="margin-bottom: 1em">
            {% set venues = place.venues %}
            {% if venues|length > 0 %}
                <li role="presentation" class="active"><a href="#venues" aria-controls="venues" role="tab" data-toggle="tab">{{ 'Venues'|trans }}</a></li>
            {% endif %}

            {% if persons|length > 0 %}
                <li role="presentation"><a href="#artists" aria-controls="similar" role="tab" data-toggle="tab">{{ 'Artists'|trans }}</a></li>
            {% endif %}

            <li role="presentation"><a href="#exhibitions" aria-controls="exhibitions" role="tab" data-toggle="tab">{{ 'Exhibitions'|trans }}</a></li>


            <li role="presentation"><a href="#statistics" aria-controls="statistics" role="tab" data-toggle="tab">{{ 'Statistics'|trans }}</a></li>

            {# authority files #}
        </ul>

    </div>

{% endblock %}